<%
  const data = {
    title: "",
    description: "",
    path: "..",
    commonImgPath: "../images/common"
  }
%>

<!DOCTYPE html>
<html lang="en">
  <%- include('../include/_head.ejs', {data: data}); %>
  <body>
    <div class="c-bg">
      <%- include('../include/_header.ejs', {data: data}); %>
      <main class="l-main">
        <%- include('../include/sub/_firstVisualSub.ejs', {data: data}); %>
        <div class="p-sub__contentsWrap">
          <section class="c-section">
            <div class="c-headingWrap --h1">
              <h1 class="c-heading --h1">
                <span class="c-heading__text">SPONSORS</span>
              </h1>
              <div class="c-heading__lineArea">
                <div class="c-heading__lineWrap js-heading-line">
                  <span class="c-heading__line first"></span>
                  <span class="c-heading__line second"></span>
                  <span class="c-heading__line third"></span>
                </div>
              </div>
            </div>
            <div class="c-contentsWrap">
              <div class="p-sponsors__rank">
                <h2 class="p-sponsors__heading">Platinum</h2>
                <ul class="p-sponsors__logo platinum">
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                </ul>
              </div>
              <div class="p-sponsors__rank">
                <h2 class="p-sponsors__heading">Gold</h2>
                <ul class="p-sponsors__logo gold">
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                </ul>
              </div>
              <div class="p-sponsors__rank">
                <h2 class="p-sponsors__heading">Silver</h2>
                <ul class="p-sponsors__logo silver">
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                </ul>
              </div>
              <div class="p-sponsors__rank bronze">
                <h2 class="p-sponsors__heading">Bronze</h2>
                <ul class="p-sponsors__logo bronze">
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                  <li>
                    <img src="<%= data.commonImgPath %>/sponsors_dummy_banner.png" alt="dummy">
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </main>
      <%- include('../include/common/_scrollTop.ejs', {data: data}); %>  
      <%- include('../include/_footer.ejs', {data: data}); %>  
    </div>
    <%- include('../include/_script.ejs', {data: data}); %>
  </body>
</html>