<ul class="p-sub__itemList js-float-start" id="js-item-list">
  <li id="item-marunoko">
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>丸ノコ</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">切断</span>
        <span class="c-label">切削</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>MARU</td>
              <td>2,000円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/014/html5.html#page=5" class="c-table__textLink" target="_blank">切断・切削工具</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/cc047972c7534153ad8e79d79201770f.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>充電式丸ノコ</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">切断</span>
        <span class="c-label">切削</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>BMARU</td>
              <td>3,500円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/014/html5.html#page=5" class="c-table__textLink" target="_blank">切断・切削工具</a>
              </td>
              <td class="c-table__pdfLinkLine"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>セーバソー</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">切断</span>
        <span class="c-label">切削</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>SBS</td>
              <td>2,000円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/014/html5.html#page=5" class="c-table__textLink" target="_blank">切断・切削工具</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/f0ccaf427c7f221ed62e9bf0fea0e61b.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>充電式セーバソー</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">切断</span>
        <span class="c-label">切削</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>BSBS</td>
              <td>4,000円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/014/html5.html#page=5" class="c-table__textLink" target="_blank">切断・切削工具</a>
              </td>
              <td class="c-table__pdfLinkLine"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>電動カッター（中）</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">切断</span>
        <span class="c-label">切削</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>DCC</td>
              <td>2,500円</td>
              <td>30円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/014/html5.html#page=3" class="c-table__textLink" target="_blank">切断・切削工具</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/8ece3bc9b41db0f40e7c4c3667c9b3f7.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>エンジンカッター（12インチ）</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">切断</span>
        <span class="c-label">切削</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>EC</td>
              <td>3,000円</td>
              <td>50円</td>
              <td>500円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/014/html5.html#page=3" class="c-table__textLink" target="_blank">切断・切削工具</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/8ece3bc9b41db0f40e7c4c3667c9b3f7.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li id="item-hammer">
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>電動ハンマー　小</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">研削</span>
        <span class="c-label">研磨</span>
        <span class="c-label">剥離</span>
        <span class="c-label">破砕</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>DHS</td>
              <td>2,500円</td>
              <td>30円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/012/html5.html#page=5" class="c-table__textLink" target="_blank">研削・研磨・剥離・破砕機器</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/2714d037b80fd9d79ddcd3a5bf2b0a92.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>電気カンナ</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">研削</span>
        <span class="c-label">研磨</span>
        <span class="c-label">剥離</span>
        <span class="c-label">破砕</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>DKN</td>
              <td>2,000円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/012/html5.html#page=5" class="c-table__textLink" target="_blank">研削・研磨・剥離・破砕機器</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/c084702afccf278f7755876d65c56913.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>コンクリートカンナ</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">研削</span>
        <span class="c-label">研磨</span>
        <span class="c-label">剥離</span>
        <span class="c-label">破砕</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>CC</td>
              <td>6,000円</td>
              <td>30円</td>
              <td>500円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/012/html5.html#page=3" class="c-table__textLink" target="_blank">研削・研磨・剥離・破砕機器</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/12037c724330a5c8cdc3b57ff85a4199.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>仕上げサンダー</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">研削</span>
        <span class="c-label">研磨</span>
        <span class="c-label">剥離</span>
        <span class="c-label">破砕</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>SIAGS</td>
              <td>1,500円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/012/html5.html#page=3" class="c-table__textLink" target="_blank">研削・研磨・剥離・破砕機器</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/12037c724330a5c8cdc3b57ff85a4199.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine" id="item-grinder">
      <p class="p-sub__itemName"><span>ディスクグラインダ　100</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">研削</span>
        <span class="c-label">研磨</span>
        <span class="c-label">剥離</span>
        <span class="c-label">破砕</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>DSGS</td>
              <td>1,500円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/012/html5.html#page=3" class="c-table__textLink" target="_blank">研削・研磨・剥離・破砕機器</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/4e9cb5dce92aadf75ceccb55c737eafd.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>充電式ディスクグラインダ　100</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">研削</span>
        <span class="c-label">研磨</span>
        <span class="c-label">剥離</span>
        <span class="c-label">破砕</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>VDSGS</td>
              <td>2,400円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/012/html5.html#page=3" class="c-table__textLink" target="_blank">研削・研磨・剥離・破砕機器</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/4e9cb5dce92aadf75ceccb55c737eafd.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>震動ドリル</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">穴あけ</span>
        <span class="c-label">締付け</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>SD</td>
              <td>1,500円</td>
              <td>20円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/013/html5.html#page=7" class="c-table__textLink" target="_blank">穴あけ・締付け工具</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/2bdbaa62ff89c2edaea9438e7d51f453.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>充電式インパクトドライバー</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">穴あけ</span>
        <span class="c-label">締付け</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>CID</td>
              <td>3,000円</td>
              <td>30円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/013/html5.html#page=3" class="c-table__textLink" target="_blank">穴あけ・締付け工具</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/47a3dc8347d843df0b061b2a12014061.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>ベビコン100V 0.9K</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">コンプレッサー</span>
        <span class="c-label">エアーツール</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>BCN19</td>
              <td>3,500円</td>
              <td>40円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/009/html5.html#page=3" class="c-table__textLink" target="_blank">コンプレッサー・エアーツール</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/aaec230dc5b0e566b2e43d2bb6b658a8.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>エアー式釘打機</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">コンプレッサー</span>
        <span class="c-label">エアーツール</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>AKUGI</td>
              <td>3,000円</td>
              <td>30円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/009/html5.html#page=1" class="c-table__textLink" target="_blank">コンプレッサー・エアーツール</a>
              </td>
              <td class="c-table__pdfLinkLine"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>鉄筋カッター13MM</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">鉄筋加工</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>TC13</td>
              <td>3,000円</td>
              <td>30円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/015/html5.html#page=3" class="c-table__textLink" target="_blank">鉄筋加工機</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/bc7cff23f5d8053c97aedece2c497a94.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>ポータブルベンダー16MM</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">鉄筋加工</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>PTB16</td>
              <td>3,000円</td>
              <td>50円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/015/html5.html#page=3" class="c-table__textLink" target="_blank">鉄筋加工機</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/bc7cff23f5d8053c97aedece2c497a94.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>鉄筋ベンダー16MM</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">鉄筋加工</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>TB</td>
              <td>4,000円</td>
              <td>50円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/015/html5.html#page=3" class="c-table__textLink" target="_blank">鉄筋加工機</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/bc7cff23f5d8053c97aedece2c497a94.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li>
    <div class="p-sub__itemNameWrap --multiLine">
      <p class="p-sub__itemName"><span>充電式鉄筋結束機</span></p>
      <p class="p-sub__itemCategory">
        <span class="c-label">鉄筋加工</span>
      </p>
    </div>
    <div class="p-sub__itemMain">
      <div class="p-sub__tableWrap">
        <table class="c-table">
          <thead class="c-tableHeading">
            <tr>
              <th class="--w180">商品コード</th>
              <th class="--w180">レンタル料/日</th>
              <th class="--w180">サービス料/日</th>
              <th class="--w220">管理検査料/１回のみ発生</th>
              <th class="--w440">電子カタログ</th>
              <th class="--w80">PDF</th>
            </tr>
          </thead>
          <tbody class="c-tableBody">
            <tr>
              <td>BTK</td>
              <td>6,000円</td>
              <td>40円</td>
              <td>300円</td>
              <td class="c-table__textLinkLine">
                <a href="https://www.taiyokenki.co.jp/degital/015/html5.html#page=5" class="c-table__textLink" target="_blank">鉄筋加工機</a>
              </td>
              <td class="c-table__pdfLinkLine">
                <a href="https://www.taiyokenki.co.jp/product/docs/53d0e35a76b2d260c8fd56f25a84a1da.pdf" class="c-table__pdfLink" target="_blank">
                  <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
</ul>