<section class="p-top__mission js-scrollFadeIn">
  <div class="p-top__missionCircle">
    <img src="<%= data.commonImgPath %>/circle_orange.png" alt="circle orange" loading="eager">
  </div>
  <h2 class="p-top__missionHeading --h2">Building a better<br> mobility society</h2>
  <div class="p-top__missionTextArea">
    <p class="c-text">The Toyota Mobility Foundation works with a diverse range of partners<br> to solve social issues related to mobility in Japan and overseas.</p>
    <p class="c-text">Through collaborative efforts with like-minded people,<br> we will determinedlytake on the challenge of creating innovative <br>technologies and systems to realize a more vibrant and sustainable <br>future society and pursue the joy of mobility. </p>
    <div class="p-top__missionBtn">
      <a href="<%= data.path　%>/about/" class="c-button">LEARN MORE</a>
    </div>
  </div>
  <h3 class="p-top__missionHeading --h3 js-top-mission-show-3">
    <span>Our</span><span>Mission</span>
  </h3>
  <div class="p-top__missionImg first js-top-mission-show-1">
    <img src="<%= data.imgPath %>/message_1.png" alt="message img 01">
  </div>
  <div class="p-top__missionImg second js-top-mission-show-2">
    <img src="<%= data.imgPath %>/message_2.png" alt="message img 02">
  </div>
  <div class="p-top__missionImg third js-top-mission-show-4">
    <img src="<%= data.imgPath %>/message_3.png" alt="message img 03">
  </div>
</section>