<section class="p-top__report js-scrollFadeIn">
  <div class="p-top__reportHeadingArea c-headingWrap">
    <h2 class="c-heading">Activities</h2>
    <p class="c-headingSub">
      <span class="c-headingSub__decoration"></span>
    </p>
  </div>
  <ul class="p-top__reportList">
    <li>
      <a href="#">
        <div class="p-top__reportVisual">
          <div class="p-top__reportImg">
            <img src="<%= data.imgPath %>/item_report_1.png" alt="report item 1">
            <span class="p-top__reportLabel c-label">MEASURES TO MITIGATE TRAFFIC CONGESTION</span>
          </div>
        </div>
        <div class="p-top__reportText">
          <h3>豊岡スマートコミュニティ</h3>
          <p>2022.09.01</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="p-top__reportVisual">
          <div class="p-top__reportImg">
            <img src="<%= data.imgPath %>/item_report_2.png" alt="report item 2">
            <span class="p-top__reportLabel c-label">中国・四国</span>
          </div>
        </div>
        <div class="p-top__reportText">
          <h3>岡山県美作市上山地区における移動課題</h3>
          <p>2022.09.01</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="p-top__reportVisual">
          <div class="p-top__reportImg">
            <img src="<%= data.imgPath %>/item_report_3.png" alt="report item 3">
            <span class="p-top__reportLabel c-label">スマートコミュニティ</span>
          </div>
        </div>
        <div class="p-top__reportText">
          <h3>インド・ベンガルール市における地下鉄 駅へのアクセス向上プロジェクト</h3>
          <p>2022.09.01</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="p-top__reportVisual">
          <div class="p-top__reportImg">
            <img src="<%= data.imgPath %>/item_report_4.png" alt="report item 4">
            <span class="p-top__reportLabel c-label">スマートコミュニティ</span>
          </div>
        </div>
        <div class="p-top__reportText">
          <h3>「地域に合った移動のしくみづくり」に 対する支援活動</h3>
          <p>2022.09.01</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="p-top__reportVisual">
          <div class="p-top__reportImg">
            <img src="<%= data.imgPath %>/item_report_5.png" alt="report item 5">
            <span class="p-top__reportLabel c-label">中国・四国</span>
          </div>
        </div>
        <div class="p-top__reportText">
          <h3>岡山県美作市上山地区における移動課題</h3>
          <p>2022.09.01</p>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="p-top__reportVisual">
          <div class="p-top__reportImg">
            <img src="<%= data.imgPath %>/item_report_6.png" alt="report item 6">
            <span class="p-top__reportLabel c-label">スマートコミュニティ</span>
          </div>
        </div>
        <div class="p-top__reportText">
          <h3>インド・ベンガルール市における地下鉄 駅へのアクセス向上プロジェクト</h3>
          <p>2022.09.01</p>
        </div>
      </a>
    </li>
  </ul>
  <div class="p-top__reportBtn">
    <a href="<%= data.path %>/activity/" class="c-button">LEARN MORE</a>
  </div>
</section>