<div class="Citypress">
  <div class="Inner">
    <div data-animate class="Citypress__inner">
      <div class="Citypress__detail">
        <h2 class="Heading -medium">Woven City Press</h2>
        <div class="Citypress__description">
          <p>Please check out our leaflet introducing Woven City’s expectations, activities, and initiatives.This time we focus on the hopes and desires of inventors.</p>
        </div>
        <p class="Citypress__footer"><a href="<%= `${page.path}downloads/WovenCity_press_2302_en.pdf` %>" class="TextLink" target="_blank" rel="noopener noreferrer">PDF download</a></p>
      </div>
      <figure class="Citypress__image">
        <img src="<%= `${page.path}assets/images/top/wovencity_press-thumb_en.png` %>" decoding="async" loading="lazy" alt="PDF thumbnail press">
      </figure>
    </div>
    <div data-animate class="Citypress__inner --interview">
      <div class="Citypress__detail">
        <h2 class="Heading -medium">Inventors’ Interview</h2>
        <div class="Citypress__description">
          <p>Inventor interviews published by Woven City Press.</p>
          <p>Woven City is an exploratory mechanism, an integrated system of various elements,
            all working together to weave the future fabric of life. This unique structure composed of
            Toyota group developers, partner corporations, startups, entrepreneurs, and residents
            of all ages exists to develop inventions that benefit all people in their everyday lives.
            Everyone living in Woven City is an inventor, jointly devoted to helping realize
            innovations that benefit all people. These diverse pioneers are encouraged to imagine
            ways to make life better, easier, and more enjoyable for all. Imagine if your dreams could
            become reality.</p>
          <p>How would you improve society?<br>What can you imagine to enhance well-being for all? Unleash your creativity as you think about the possibilities within the exciting experiment of Woven City.</p>
        </div>
      </div>
      <ul class="Message__list">
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading">
              <span>Toyota Group Developers</span>
              <span><em>Infotainment Team</em></span>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.path}assets/images/updates/20230210_02/01.jpg` %>" decoding="async" loading="lazy" alt="20230210_02 interview">
            </figure>
            <div class="Message__itemDescription">
              <p>Mobility of Information Enables the Lifestyle of the Future</p>
            </div>
            <div class="Message__itemFooter">
              <a href="<%= `${page.path}` %>updates/20230210_02.html" class="Button -primary">Learn More</a>
            </div>
          </div>
        </li>
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading">
              <span>Start-ups/Entrepreneurs</span>
              <span><em>Takamitsu Ikoma</em></span>
              <span>ICOMA Inc. CEO/Product Designer</span>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.path}assets/images/updates/20230210_01/01.jpg` %>" decoding="async" loading="lazy" alt="20230210_01 interview">
            </figure>
            <div class="Message__itemDescription">
              <p>Spreading the Joy of Mobility</p>
              <p style="text-decoration: underline;">Ikoma is an inventor who has taken part in the exhibition project held at Woven by Toyota. He has not yet decided whether he will join the Woven City pilot test being set up in the city of Susono, Shizuoka Prefecture.</p>
            </div>
            <div class="Message__itemFooter">
              <a href="<%= `${page.path}` %>updates/20230210_01.html" class="Button -primary">Learn More</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>