<section class="Office">
  <div class="Inner">
    <h2 data-animate class="Heading">Our Office</h2>
    <div class="Carousel js-slider">
      <div class="Carousel__list swiper-wrapper">
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_01.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #01">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_02.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #02">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_03.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #03">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_04.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #04">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_05.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #05">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_06.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #06">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_07.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #07">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_08.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #08">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_09.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #09">
          </div>
        </div>
        <div class="Carousel__item swiper-slide">
          <div class="Carousel__image">
            <img src="<%= `${page.path}assets/images/careers/office_10.jpg` %>" decoding="async" loading="lazy" alt="Photo of our office #10">
          </div>
        </div>
      </div>
    </div>
    <div class="Carousel__controller">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>