<div class="p-top__intro">
  <div class="p-top__introInner">
    <div class="c-logo p-top__logo">
      <span>
        <img class="js-delay" src="<%= data.imgPath %>/logo.svg" alt="兵庫大学 HYOGO UNIVERSITY" loading="eager">
      </span>
    </div>
    <p class="p-top__introTitle">
      <img class="js-delay" src="<%= data.imgPath %>/subtitle.svg" alt="兵庫大学 教育学部 × パントビスコ" loading="eager">
    </p>
    <h1 class="p-top__heading">
      <img class="js-delay" src="<%= data.imgPath %>/title.svg" alt="せんせい、チャンス！？" loading="eager">
    </h1>
    <div class="p-top__mainImg">
      <img class="js-delay" src="<%= data.imgPath %>/main_pelo.png" alt="教育現場の未来を大げさにしてみた！　せんせい　犬のぺろち" loading="eager">
      <div class="p-top__dotsImg is-pc">
        <img class="js-delay" src="<%= data.imgPath %>/dots_pc.svg" alt="●" loading="eager">
      </div>
    </div>
    <div class="p-top__introTexts js-delay">
      <p>未来の学校ってどんな感じ？</p>
      <p>これからのいい教育ってなんだろう？</p>
      <p>先生をめざしてる人なら、気にならない？</p>
    </div>
    <div class="p-top__guideArea js-delay">
      <p class="p-top__guideText">犬のぺろちが先生役になって<br>大胆予測しちゃいます！</p>
      <div class="p-top__guideArrow">
        <img src="<%= data.imgPath %>/guide_arrow.svg" alt="↓" loading="eager">
      </div>
    </div>
  </div>
</div>