<!--既存header-->
<header>
  <div id="header-content">
    <div id="header-column">
      <div id="corporate-logo">
        <a href="../index.html"><img src="<%= data.path %>/images-top/logo.png" alt="太陽建機レンタル"></a>
      </div>
      <nav id="header-group-nav">
        <ul>
          <li><a class="_" href="//twitter.com/Taiyo_1986" target="_blank"><img src="<%= data.path %>/images-top/twitter_btn.png" alt="twitter"></a></li>
          <li><a class="_" href="//www.youtube.com/channel/UCMnuc7_XHgXh66h5n7_oQdA" target="_blank"><img src="<%= data.path %>/images-top/youtube_btn.png" alt="YouTube"></a></li>
          <li><a class="header-content-link02" href="../index.html"><img src="<%= data.path %>/img/icon_for_corporation_pc.png" alt="" width="46" height="46"><span>法人のお客様<br class="pc-only">はこちら</span></a></li>
          <li><a class="_" href="../product/index.html"><img src="<%= data.path %>/images-top/function.png" alt=""><span>商品検索</span></a></li>
          <li><a class="_" href="../tenpo/index.html"><img src="<%= data.path %>/images-top/store.png" alt=""><span>店舗検索</span></a></li>
          <li class="search"><span class="dd-hook"><img src="<%= data.path %>/images-top/serch_icon_b.png" alt=""></span>
            <div class="dd-content">
              <div class="dd-content-inner">
                <form name="form1" method="get" action="//www.google.co.jp/search" class="search active">
                  <div class="search-wrapper">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="hidden" name="oe" value="UTF-8">
                    <input type="hidden" name="hl" value="ja">
                    <input type="hidden" name="domains" value="www.taiyokenki.co.jp">
                    <input type="hidden" name="sitesearch" value="www.taiyokenki.co.jp">
                    <input type="text" name="q" class="search-input" id="search_txt" value="" title="検索" placeholder="検索ワードを入力してください">
                    <button class="search-btn" type="submit">検索</button>
                  </div>
                </form>
              </div>
            </div>
          </li>
        </ul>
        <div class="button"><a class="btn-open" href="#"><span>MENU</span></a></div>
      </nav>
    </div>
  </div>
  <div class="overlay">
    <div class="overlay-inner">
      <ul class="global-nav">
        <li><a href="../index.html"><img src="<%= data.path %>/images-top/logo-en.png" alt="TAIYOKENKI RENTAL"></a></li>
        <li><a href="../product/index.html"><span>PRODUCT INTRODUCTION</span><strong>商品紹介</strong></a></li>
        <li><a href="../tenpo/index.html"><span>LOCATIONS</span><strong>店舗紹介</strong></a></li>
        <li><a href="../pickup/index.html"><span>PICKUP</span><strong>おすすめ商品</strong></a></li>
        <li><a href="../rental/index.html"><span>RENTAL METHOD</span><strong>レンタルについて</strong></a></li>
        <li><a href="../company/index.html"><span>COMPANY</span><strong>企業情報</strong></a></li>
        <li><a href="../recruit/index.html"><span>RECRUIT</span><strong>採用情報</strong></a></li>
        <li>
          <ul class="nav">
            <li><a href="../inquery/index.html">お問い合わせ</a><a href="../security.html">セキュリティについて</a></li>
            <li><a href="../privacy.html">プライバシーポリシー</a></li>
          </ul>
        </li>
        <li>
          <ul class="social">
            <li><a href="//twitter.com/Taiyo_1986" target="_blank"><img src="<%= data.path %>/images-top/twitter_btn.png" alt="twitter"></a></li>
            <li><a href="//www.youtube.com/channel/UCMnuc7_XHgXh66h5n7_oQdA" target="_blank"><img src="<%= data.path %>/images-top/youtube_btn.png" alt="YouTube"></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
<!--既存headerここまで-->