<div class="c-float__outer --rentacar js-float-start">
  <div class="c-float --rentacar" id="js-float-btn-renta">
    <div class="c-float__linkWrap">
      <a class="c-button--float" href="<%= data.contactURL %>">
        <span class="--icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="79.997" viewBox="0 0 80 79.997">
            <defs>
              <clipPath id="clip-path-mail">
                <rect width="80" height="79.997" fill="none"/>
              </clipPath>
            </defs>
            <g clip-path="url(#clip-path-mail)">
              <path d="M40,45.1a1.55,1.55,0,0,1-.717-.175L22.874,36.4V53.51H57.127V36.4L40.718,44.927A1.546,1.546,0,0,1,40,45.1ZM22.874,32.892,40,41.79l17.126-8.9v-6.4H22.873ZM54.922,2.877A40.029,40.029,0,0,0,.306,35.029,40,40,0,1,0,54.923,2.876Zm5.319,52.191a1.558,1.558,0,0,1-1.557,1.557H21.316a1.558,1.558,0,0,1-1.557-1.557V24.935a1.558,1.558,0,0,1,1.557-1.557H58.684a1.558,1.558,0,0,1,1.557,1.557Z" transform="translate(0 0)" fill="#f57a1b"/>
            </g>
          </svg>
        </span>
        <span class="--text">
          <span class="is-sp">メールでの</span><span>お問い合わせは<br class="is-pc">こちらから</span>
        </span>
      </a>
    </div>
  </div>
  <div class="c-float__sibling">
    <div class="p-sub__mainContents --rentacar --first" id="track">
      <div class="p-sub__mainContentsInner --rentacar">
        <ul class="p-sub__itemList --rentacar">
          <li>
            <h3 class="c-product__title --rentacar">
              <span>トラック</span>
            </h3>
            <div class="p-sub__tableWrap">
              <table class="c-table">
                <thead class="c-tableHeading">
                  <tr>
                    <th class="--w220 --spW366">商品名</th>
                    <th class="--w180 --spW300">カテゴリー</th>
                    <th class="--w140 --spW234">商品コード</th>
                    <th class="--w180 --spW300">代表的車名</th>
                    <th class="--w140 --spW234">レンタル料/日</th>
                    <th class="--w140 --spW234">サービス料/日</th>
                    <th class="--w200 --spW334">管理検査料/１回のみ発生</th>
                    <th class="--w80 --spW134">PDF</th>
                  </tr>
                </thead>
                <tbody class="c-tableBody --rentacar">
                  <tr>
                    <td>軽トラック</td>
                    <td>トラック</td>
                    <td>KHBAT</td>
                    <td></td>
                    <td>7,000円</td>
                    <td>420円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine">
                      <a href="https://www.taiyokenki.co.jp/product/docs/d86c8cba938864b98d414fdc92bbaf5d.pdf"
                        class="c-table__pdfLink" target="_blank">
                        <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>1tトラック</td>
                    <td>トラック</td>
                    <td>1HBAT</td>
                    <td></td>
                    <td>11,000円</td>
                    <td>420円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>2tトラック</td>
                    <td>トラック</td>
                    <td>2HBATAB</td>
                    <td></td>
                    <td>18,000円</td>
                    <td>620円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>3tトラック</td>
                    <td>トラック</td>
                    <td>3WHBATAB</td>
                    <td></td>
                    <td>18,500円</td>
                    <td>820円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>4tトラック</td>
                    <td>トラック</td>
                    <td>4HBATP</td>
                    <td></td>
                    <td>25,200円</td>
                    <td>820円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>1tパワーゲートトラック</td>
                    <td>パワーゲートトラック</td>
                    <td>1PGAT</td>
                    <td></td>
                    <td>21,000円</td>
                    <td>520円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine">
                      <a href="https://www.taiyokenki.co.jp/product/docs/89f68e7296366d6538cf07a29c696ff7.pdf"
                        class="c-table__pdfLink" target="_blank">
                        <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>2tパワーゲートトラック</td>
                    <td>パワーゲートトラック</td>
                    <td>2PGSATAB</td>
                    <td></td>
                    <td>25,000円</td>
                    <td>620円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>4tパワーゲートトラック</td>
                    <td>パワーゲートトラック</td>
                    <td>4PGAB</td>
                    <td></td>
                    <td>32,000円</td>
                    <td>820円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>軽ダブルキャブトラック</td>
                    <td>ダブルキャブトラック</td>
                    <td>KWCAB</td>
                    <td></td>
                    <td>8,000円</td>
                    <td>420円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine">
                      <a href="https://www.taiyokenki.co.jp/product/docs/58bacda2df10b60cbb1f0b571a515420.pdf"
                        class="c-table__pdfLink" target="_blank">
                        <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>ダブルキャブトラック</td>
                    <td>ダブルキャブトラック</td>
                    <td>1WCABATB</td>
                    <td></td>
                    <td>19,000円</td>
                    <td>620円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>2tダブルキャブトラック</td>
                    <td>ダブルキャブトラック</td>
                    <td>2WCABWAB</td>
                    <td></td>
                    <td>22,500円</td>
                    <td>620円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-sub__mainContents --rentacar" id="dump">
      <div class="p-sub__mainContentsInner --rentacar">
        <ul class="p-sub__itemList --rentacar">
          <li>
            <h3 class="c-product__title --rentacar">
              <span>ダンプ</span>
            </h3>
            <div class="p-sub__tableWrap">
              <table class="c-table">
                <thead class="c-tableHeading">
                  <tr>
                    <th class="--w220 --spW366">商品名</th>
                    <th class="--w180 --spW300">カテゴリー</th>
                    <th class="--w140 --spW234">商品コード</th>
                    <th class="--w180 --spW300">代表的車名</th>
                    <th class="--w140 --spW234">レンタル料/日</th>
                    <th class="--w140 --spW234">サービス料/日</th>
                    <th class="--w200 --spW334">管理検査料/１回のみ発生</th>
                    <th class="--w80 --spW134">PDF</th>
                  </tr>
                </thead>
                <tbody class="c-tableBody  --rentacar">
                  <tr>
                    <td>軽ダンプ</td>
                    <td>ダンプ</td>
                    <td>KD4WD</td>
                    <td></td>
                    <td>7,000円</td>
                    <td>420円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine">
                      <a href="https://www.taiyokenki.co.jp/product/docs/14263f12030e411de473cec90dc8f2c1.pdf"
                        class="c-table__pdfLink" target="_blank">
                        <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>2tダンプ</td>
                    <td>ダンプ</td>
                    <td>2DLATAB</td>
                    <td></td>
                    <td>13,000円</td>
                    <td>650円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>3tダンプ</td>
                    <td>ダンプ</td>
                    <td>3DLATAB</td>
                    <td></td>
                    <td>17,500円</td>
                    <td>820円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>4tダンプ</td>
                    <td>ダンプ</td>
                    <td>4DP</td>
                    <td></td>
                    <td>19,000円</td>
                    <td>850円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-sub__mainContents --rentacar --last" id="passenger">
      <div class="p-sub__mainContentsInner --rentacar">
        <ul class="p-sub__itemList --rentacar">
          <li>
            <h3 class="c-product__title --rentacar">
              <span>乗用車</span>
            </h3>
            <div class="p-sub__tableWrap">
              <table class="c-table">
                <thead class="c-tableHeading">
                  <tr>
                    <th class="--w220 --spW366">商品名</th>
                    <th class="--w180 --spW300">カテゴリー</th>
                    <th class="--w140 --spW234">商品コード</th>
                    <th class="--w180 --spW300">代表的車名</th>
                    <th class="--w140 --spW234">レンタル料/日</th>
                    <th class="--w140 --spW234">サービス料/日</th>
                    <th class="--w200 --spW334">管理検査料/１回のみ発生</th>
                    <th class="--w80 --spW134">PDF</th>
                  </tr>
                </thead>
                <tbody class="c-tableBody --rentacar">
                  <tr>
                    <td>乗用車</td>
                    <td>乗用車</td>
                    <td>CARAQA</td>
                    <td>アクア</td>
                    <td>18,000円</td>
                    <td>620円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>軽ワゴン車</td>
                    <td>ワゴン車</td>
                    <td>K1BATAB</td>
                    <td>エブリイ</td>
                    <td>12,000円</td>
                    <td>420円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine">
                      <a href="https://www.taiyokenki.co.jp/product/docs/d8d1f15b203d1d0cb61a68ea729d98cf.pdf"
                        class="c-table__pdfLink" target="_blank">
                        <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>ワゴン車</td>
                    <td>ワゴン車</td>
                    <td>1BOX</td>
                    <td>キャラバン</td>
                    <td>20,000円</td>
                    <td>520円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>ワンボックスワゴン車</td>
                    <td>ワゴン車</td>
                    <td>1BOXD</td>
                    <td>セレナ</td>
                    <td>20,000円</td>
                    <td>520円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>軽ライトバン</td>
                    <td>ライトバン</td>
                    <td>KLVAT</td>
                    <td>アルト</td>
                    <td>7,000円</td>
                    <td>420円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine">
                      <a href="https://www.taiyokenki.co.jp/product/docs/79416f174c22e6793162e8c2911ba94f.pdf"
                        class="c-table__pdfLink" target="_blank">
                        <img src="<%= data.commonImgPath %>/icon_pdf_orange.svg" alt="PDF">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>ライトバン</td>
                    <td>ライトバン</td>
                    <td>LVATAB</td>
                    <td>AD</td>
                    <td>12,000円</td>
                    <td>420円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                  <tr>
                    <td>ステーションワゴン</td>
                    <td>ライトバン</td>
                    <td>LVDXAB</td>
                    <td>カローラフィールダー</td>
                    <td>13,000円</td>
                    <td>520円</td>
                    <td>1,500円</td>
                    <td class="c-table__pdfLinkLine"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-float__heightAdjustBlock"></div>
    </div>
  </div>
</div>