<footer class="l-footer">
  <ul class="l-footer__globalMenu">
    <li>
      <h3 class="l-footer__itemHeading">
        <a href="<%= data.path %>/mission/">
          <span>MISSION</span>
          <span>事業概要・社長メッセージ</span>
        </a>
      </h3>
    </li>
    <li>
      <h3 class="l-footer__itemHeading">
        <a href="<%= data.path %>/work/">
          <span>WORK</span>
          <span>NOSの仕事</span>
        </a>
      </h3>
      <ul class="l-footer__subMenu">
        <li>
          <a href="<%= data.path %>/work/sales/">営業の仕事</a>
        </li>
        <li>
          <a href="<%= data.path %>/work/se/">SEの仕事</a>
        </li>
      </ul>
    </li>
    <li>
      <h3 class="l-footer__itemHeading">
        <a href="<%= data.path %>/culture/">
          <span>CULTURE</span>
          <span>働く環境・各種制度</span>
        </a>
      </h3>
      <ul class="l-footer__subMenu">
        <li>
          <a href="<%= data.path %>/culture/environment/">NOSの働く環境</a>
        </li>
        <li>
          <a href="<%= data.path %>/culture/welfare/">各種制度・福利厚生</a>
        </li>
        <li>
          <a href="<%= data.path %>/culture/number/">数字で見るNOS</a>
        </li>
      </ul>
    </li>
    <li>
      <h3 class="l-footer__itemHeading">
        <a href="<%= data.path %>/people/">
          <span>PEOPLE</span>
          <span>社員インタビュー</span>
        </a>
      </h3>
      <ul class="l-footer__subMenu">
        <li>
          <a href="#">インタビュー動画</a>
        </li>
      </ul>
    </li>
    <li>
      <h3 class="l-footer__itemHeading">
        <a href="<%= data.path %>/faq/">
          <span>FAQ</span>
          <span>よくある質問</span>
        </a>
      </h3>
    </li>
    <li>
      <h3 class="l-footer__itemHeading">
        <a href="<%= data.path %>/recruit/">
          <span>RECRUIT</span>
          <span>採用情報</span>
        </a>
      </h3>
      <ul class="l-footer__subMenu">
        <li>
          <a href="<%= data.path %>/recruit/schedule/">募集要項・採用スケジュール</a>
        </li>
        <li>
          <a href="<%= data.path %>/recruit/training/">教育研修</a>
        </li>
        <li>
          <a href="<%= data.path %>/recruit/message/">採用担当からのメッセージ</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="l-footer__logo">
    <a href="<%= data.path %>/">
      <img src="<%= data.commonImgPath %>/footer_logo.png" alt="日本オフィス・システム株式会社 新卒採用" loading="lazy">
    </a>
  </div>
  <div class="l-footer__bottom">
    <p class="l-footer__copy">
      <span>© Nippon Office Systems Ltd.</span>
    </p>
    <ul class="l-footer__exLinkWrap">
      <li class="l-footer__exLink --border">
        <a href="https://www.nos.co.jp/csr/privacy/" target="_blank">
          <span>個人情報の取り扱いについて<img src="<%= data.commonImgPath %>/icon_external_link.svg" alt="外部リンクアイコン"></span>
        </a>
      </li>
      <li class="l-footer__exLink">
        <a href="https://www.nos.co.jp/" target="_blank">
          <span>会社情報<img src="<%= data.commonImgPath %>/icon_external_link.svg" alt="外部リンクアイコン"></span>
        </a>
      </li>
    </ul>
  </div>
</footer>