<!DOCTYPE html>
<html lang="ja">
<%- include('../include/_headNewsRelease.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <div class="common-breadCrumbWrapper">
        <ul class="common-breadCrumb">
          <li>
            <a href="#">トップ /</a>
          </li>
          <li>
            <a href="#">ニュースリリース /</a>
          </li>
          <li>
            <a href="#">詳細（テンプレート）</a>
          </li>
        </ul>
      </div>
      <h1 class="newsDetail__mainHeading">ニュースリリース</h1>
      <div class="common-container common-container--top">
        <div class="newsDetail__topWrapper">
          <div class="newsDetail__topLink"><a href="#" class="common-link">ニュースリリース一覧</a></div>
          <h2 class="newsDetail__heading">プリティーシリーズ10周年コラボ 第三弾！ 「プリティーリズム・レインボーライブ」が「アトフェス®」に登場！ <span class="newsDetail__heading__sub">～本日8/11（水）より受注予約開始！～</span></h2>

          <div class="newsDetail__lamp">
            <p class="newsDetail__date">2021.08.11</p>
            <div class="sharethis-inline-share-buttons"></div>
          </div>

          <h2 class="newsDetail__company">株式会社クリーク・アンド・リバー社</h2>

          <div class="newsDetail__labelArea">
            <span class="newsLabel newsLabel--pressRelease">プレスリリース</span>
            <span class="newsLabel">トピックス</span>
          </div>
        </div>


        <div class="newsDetail__wrapper">
          <section class="common-section thin">
            <div class="newsDetail__image newsDetail__image--thin">
              <img src="../images/atfes_pretty3_main_tri.png" alt="ダミー">
            </div>
          </section>

          <section class="common-section thin">
            <div class="newsDetail__margin">
              <h4 class="common-heading--h4">「プリティーシリーズ10th Anniversay Project」 x アトフェスコラボ　第三弾</h4>
            </div>

            <p class="newsDetail__text">当社が企画・運営する人気ゲーム・アニメとレジャー施設のコラボイベント「アトフェス®」は、タカラトミーアーツが開発・運営するキッズアミューズメントゲームと、それを原作としたアニメーション「プリティーシリーズ」の10周年を記念して行われる「プリティーシリーズ10th Anniversary Project」とコラボしております。第三弾は「プリティーリズム・レインボーライブ」。各キャラクターを描き起こしたオリジナルグッズの受注予約を、8月11日（水）より開始いたしました。</p>
            <p class="newsDetail__text">2013年に放映を開始した「プリティーリズム・レインボーライブ」は、「プリティーリズム・オーロラドリーム」「プリティーリズム・ディアマイフューチャー」に続く、テレビアニメの第三シリーズ。アトフェス®では、「プリティーリズム・レインボーライブ」のオリジナルグッズを通じてプリティーシリーズ 10th Anniversaryをさらに盛り上げてまいります。</p>
            <p class="newsDetail__text">今回の描き起こしのテーマは“プリティークラシカル”。プリティーシリーズ10周年を祝うパーティードレスをコンセプトに、11人のキャラクターが登場いたします。女子キャラクターはティアラを身に着け、シックなケープやキャラクター毎に特色あるスカートを着用。男子キャラクターはクラウンを身に着け、ロングジャケットのスリーピースを着用しています。さらに、男女とも10周年のお祝いアイテムとして、キャラクターカラーのリボンで装飾されたハート型のプレゼントボックス持ってフォトジェニックなポーズで決め、10周年を祝うパーティではしゃいでいるプリズムスタァたちを描いております。</p>
            <p class="newsDetail__text">8月11日（水）10：00～8月22日（日）23：59までの期間中、アトフェス®公式オンラインショップで予約を受け付け、9月下旬に購入者へ商品を届ける予定です。アトフェス®とプリティーシリーズ 10th Anniversary Projectのコラボはまだまだ続きます。キラキラを絶やさず、限定グッズを続々とお届けしてまいりますので、ぜひ10周年記念をお楽しみください。</p>

            <h4 class="newsDetail__subHeading">■グッズラインナップ（すべて税込価格）</h4>

            <table class="newsDetail__table">
              <tr>
                <th>【オープン】アクリルスタンド：11種</th>
                <td>￥1,400-</td>
              </tr>
              <tr>
                <th>【ランダム】キラキラアクリルキーホルダー：11種</th>
                <td>￥750-</td>
              </tr>
              <tr>
                <th>【ランダム】キラキラ56mm缶バッジ：11種</th>
                <td>￥600-</td>
              </tr>
              <tr>
                <th>【ランダム】PVCクリアネームキーホルダー：11種</th>
                <td>￥650-</td>
              </tr>
              <tr>
                <th>【オープン】アクリルヘアゴム：11種 </th>
                <td>￥800-</td>
              </tr>
              <tr>
                <th>【ランダム】ノベルティ ハート型カード：11種 </th>
                <td>3,000円ご購入毎に1枚提供</td>
              </tr>
            </table>

            <div class="newsDetail__image">
              <img src="../images/atfes_pretty3_goods_tri.png" alt="ダミー">
            </div>

            <h4 class="newsDetail__subHeading">■グッズ使用描き起こしミニキャライラストラインナップ（11体）</h4>

            <p class="newsDetail__text">彩瀬なる／福原あん／涼野いと／蓮城寺べる／小鳥遊おとは／森園わかな／りんね／ジュネ／神浜コウジ／速水ヒロ／仁科カヅキ 【 Copyright 】© Ｔ－ＡＲＴＳ / syn Sophia / テレビ東京 / PSプロジェクト</p>

            <div class="newsDetail__image newsDetail__image--thin">
              <img src="../images/atfes_new_logo210409_RGB.png" alt="ダミー">
            </div>
          </section>

          <section class="common-section">
            <div class="newsDetail__margin">
              <h4 class="common-heading--h4">アトフェス®とは</h4>
            </div>

            <p class="newsDetail__text">人気のアニメやゲームが一堂に会し、遊園地や水族館などレジャー施設を舞台とするコラボイベントです。開催期間中のみ入手可能なオリジナルグッズの販売に加え、作品の世界観あふれるスペシャル企画、声優のトークショーやファンとの交流など、夢の「非日常」エンターテイメントを繰り広げます。2020年夏より開催場所にオンラインが加わり、オリジナルグッズのEC展開や朗読劇などオンラインならではのプロジェクトをお届けしています。</p>

            <p class="newsDetail__text">■アトフェス公式サイト：https://atfes.com/<br>■アトフェス公式Twitter：twitter.com/Atfes_portal<br>■公式オンラインショップ：https://shopping.atfes.com/</p>

            <p class="newsDetail__text">【本イベントに関するお問い合わせ先】<br>アトラクションフェスタ運営事務局<br>E-Mail ： info_attractionfiesta@pr.cri.co.jp</p>
          </section>

        </div>

      </div>
      <%- include('../include/_newsDetailSp.ejs'); %>

      <%- include('../include/commonparts/_mainBottom.ejs'); %>
      <%- include('../include/_footer.ejs'); %>
    </main>
    <%- include('../include/_scrollTop.ejs'); %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="../js/main.js"></script>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=61ff439697a9c5001998eb3a&product=inline-share-buttons' async='async'></script>
</body>

</html>
