div.c-carousel__dusts#js-carousel-dusts(class= config.isTop ? "" : "u-carousel-dust-animation")
    svg.c-carousel__dusts--1(xmlns='http://www.w3.org/2000/svg' width='54.501' height='49.509' viewBox='0 0 54.501 49.509')
        path(d='M16.05,0,40.742,23.07,36.735,49.509,13.181,27.544Z' fill=mainDustsColor)
    svg.c-carousel__dusts--2(xmlns='http://www.w3.org/2000/svg' width='130.955' height='107.548' viewBox='0 0 130.955 107.548')
        path(d='M0,98.851l71.85,5.41L130.955,0H56.742Z' fill=subDustsColor)
    svg.c-carousel__dusts--3(xmlns='http://www.w3.org/2000/svg' width='399.03' height='371.019' viewBox='0 0 399.03 371.019')
      path(d='M198.976,371.019,78.438,231.567,213.366,0,339.557,187.086Z' fill=mainDustsColor)
    svg.c-carousel__dusts--4(xmlns='http://www.w3.org/2000/svg' width='57.141' height='66.04' viewBox='0 0 57.141 66.04')
      path(d='M35.463,66.04,12.564,44.1,20.383,0,43.816,21.852Z' fill=subDustsColor)
    svg.c-carousel__dusts--5(xmlns='http://www.w3.org/2000/svg' width='130.955' height='107.548' viewBox='0 0 130.955 107.548')
      path(d='M0,98.851l71.85,5.41L130.954,0H56.742Z' fill=mainDustsColor)
