<section class="c-section" id="js-lineup">
  <h2 class="c-heading --med">ラインナップ</h2>
  <div class="c-productWrap">
    <div class="c-product">
      <h3 class="c-product__title">
        <span>お庭・畑の手入れ</span>
        <span class="c-product__itemTriggerWrap">
          <span class="c-product__itemTrigger js-product-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8.5" viewBox="0 0 10 8.5">
              <path d="M5,0l5,8.5H0Z" fill="#f57a1b"/>
            </svg>
          </span>
        </span>
      </h3>
      <div class="c-product__main">
        <div class="c-product__commonImg">
          <img class="is-pc" src="<%= data.imgPath %>/lineup/cat_common_1.png" alt="お庭・畑の手入れ 共通イメージ">
          <img class="is-sp" src="<%= data.imgPath %>/lineup/cat_common_1_sp.png" alt="お庭・畑の手入れ 共通イメージ SP">
        </div>
        <div class="c-product__block">
          <p class="c-product__text">機械を使って作業を効率的に</p>
          <ul class="c-product__itemList js-product-itemList">
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/5ef71d4d6d7e214ad27dd133f2ac4e42.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_1.png" alt="category1_1 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">草刈機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/5ef71d4d6d7e214ad27dd133f2ac4e42.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_2.png" alt="category1_2 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">チェンソー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/235825c45c1abad80493de3e7faf9500.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_3.png" alt="category1_3 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ヘッジトリマー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/1a06e300ff4423cc048d7612ac3ba576.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_4.png" alt="category1_4 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">転圧機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/80e43a641452d3409c84722fbf5718ab.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_5.png" alt="category1_5 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ロータリーモア</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/27a2a8da266e55e207842a14b7eb301f.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_6.png" alt="category1_6 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">小型掘削機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/d86c8cba938864b98d414fdc92bbaf5d.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_7.png" alt="category1_7 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">トラック</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/14263f12030e411de473cec90dc8f2c1.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_8.png" alt="category1_8 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ダンプ</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/5a2dde1da27626c232f5782d0825a3b2.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_9.png" alt="category1_9 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">タイヤショベル</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/5a74ece178b85d1324f258b4e75aca1d.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_1_10.png" alt="category1_10 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">キャリアダンプ</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-product__link js-product-link">
        <a href="https://www.taiyokenki.co.jp/product/index.html" class="c-button --em">商品一覧を見る</a>
      </div>
    </div>
    <div class="c-product">
      <h3 class="c-product__title">
        <span>レンタカー</span>
        <span class="c-product__itemTriggerWrap">
          <span class="c-product__itemTrigger js-product-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8.5" viewBox="0 0 10 8.5">
              <path d="M5,0l5,8.5H0Z" fill="#f57a1b"/>
            </svg>
          </span>
        </span>
      </h3>
      <div class="c-product__main">
        <a href="<%= data.path %>/rent-a-car/" class="c-product__commonImg">
          <img class="is-pc" src="<%= data.imgPath %>/lineup/cat_common_2.png" alt="レンタカー 共通イメージ">
          <img class="is-sp" src="<%= data.imgPath %>/lineup/cat_common_2_sp.png" alt="レンタカー 共通イメージ SP">
        </a>
        <div class="c-product__block">
          <p class="c-product__text">引越しからレジャーまで用途に合わせて選べる！</p>
          <ul class="c-product__itemList js-product-itemList">
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/d8d1f15b203d1d0cb61a68ea729d98cf.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_2_1.png" alt="category2_1 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ワゴン車</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/d86c8cba938864b98d414fdc92bbaf5d.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_2_2.png" alt="category2_2 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">トラック</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/14263f12030e411de473cec90dc8f2c1.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_2_3.png" alt="category2_3 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ダンプ</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/89f68e7296366d6538cf07a29c696ff7.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_2_4.png" alt="category2_4 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">パワーゲートトラック</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/40b711de447fd56d6f44bd51bc7f8e26.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_2_5.png" alt="category2_5 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">クレーン付きトラック</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="<%= data.path %>/rent-a-car/" class="c-product__itemLink">
                <img src="<%= data.imgPath %>/lineup/cat_2_6.png" alt="category2_6 image">
                <span class="--text">乗用車</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="<%= data.path %>/rent-a-car/" class="c-product__itemLink">
                <img src="<%= data.imgPath %>/lineup/cat_2_7.png" alt="category2_7 image">
                <span class="--text">電動自転車</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-product__link js-product-link">
        <a href="<%= data.path %>/rent-a-car/" class="c-button --em">ラインナップと価格を確認</a>
      </div>
    </div>
    <div class="c-product">
      <h3 class="c-product__title">
        <span>DIY</span>
        <span class="c-product__itemTriggerWrap">
          <span class="c-product__itemTrigger js-product-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8.5" viewBox="0 0 10 8.5">
              <path d="M5,0l5,8.5H0Z" fill="#f57a1b"/>
            </svg>
          </span>
        </span>
      </h3>
      <div class="c-product__main">
        <a href="<%= data.path %>/diy/" class="c-product__commonImg">
          <img class="is-pc" src="<%= data.imgPath %>/lineup/cat_common_3.png" alt="DIY 共通イメージ">
          <img class="is-sp" src="<%= data.imgPath %>/lineup/cat_common_3_sp.png" alt="DIY 共通イメージ SP">
        </a>
        <div class="c-product__block">
          <p class="c-product__text">ホームセンターで見かける工具が勢揃い！</p>
          <ul class="c-product__itemList js-product-itemList">
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/47a3dc8347d843df0b061b2a12014061.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_1.png" alt="category3_1 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">インパクトドライバー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/2714d037b80fd9d79ddcd3a5bf2b0a92.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_2.png" alt="category3_2 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">電動ハンマー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/cc047972c7534153ad8e79d79201770f.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_3.png" alt="category3_3 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">丸ノコ</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/12037c724330a5c8cdc3b57ff85a4199.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_4.png" alt="category3_4 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">サンダー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/aaec230dc5b0e566b2e43d2bb6b658a8.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_5.png" alt="category3_5 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ベビーコンプレッサー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/f0ccaf427c7f221ed62e9bf0fea0e61b.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_6.png" alt="category3_6 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">セーバソー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/4e9cb5dce92aadf75ceccb55c737eafd.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_7.png" alt="category3_7 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ディスクグライダー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/d03ac77c600278261472bc5a2abd5836.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_8.png" alt="category3_8 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ハンマードリル</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/cc047972c7534153ad8e79d79201770f.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_9.png" alt="category3_9 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ジグソー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/6c50af783a83986fcd2eee0df760fc00.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_3_10.png" alt="category3_10 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">かくはん機</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-product__link js-product-link">
        <a href="<%= data.path %>/diy/" class="c-button --em">ラインナップと価格を確認</a>
      </div>
    </div>
    <div class="c-product">
      <h3 class="c-product__title">
        <span>イベント</span>
        <span class="c-product__itemTriggerWrap">
          <span class="c-product__itemTrigger js-product-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8.5" viewBox="0 0 10 8.5">
              <path d="M5,0l5,8.5H0Z" fill="#f57a1b"/>
            </svg>
          </span>
        </span>
      </h3>
      <div class="c-product__main">
        <div class="c-product__commonImg">
          <img class="is-pc" src="<%= data.imgPath %>/lineup/cat_common_4.png" alt="イベント 共通イメージ">
          <img class="is-sp" src="<%= data.imgPath %>/lineup/cat_common_4_sp.png" alt="イベント 共通イメージ SP">
        </div>
        <div class="c-product__block">
          <p class="c-product__text">災害時にも活躍！インフラ商品</p>
          <ul class="c-product__itemList js-product-itemList">
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/fce7b1efa100a17b7fd5993aaf8f6b2a.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_1.png" alt="category4_1 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">小型発電機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/c50bfcbf316b7e2e0188b9c9556e89dc.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_2.png" alt="category4_2 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">大型発電機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/cat1/cat19/index.html" class="c-product__itemLink" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_3.png" alt="category4_3 image">
                <span class="--text">照明機器</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/bb98d5fb4f857e1904fa91d901830ee4.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_4.png" alt="category4_4 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">コードリール</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/cat1/cat10/index.html" class="c-product__itemLink" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_5.png" alt="category4_5 image">
                <span class="--text">ハウス</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/cat1/cat10/index.html" class="c-product__itemLink" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_6.png" alt="category4_6 image">
                <span class="--text">トイレ</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/9b9d7c9feae6290fba8ca640e112b566.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_7.png" alt="category4_7 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">フェンス・バリケード</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/0f0fd0313a80c1348380d513873a66b2.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_9.png" alt="category4_9 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">カラーコーン</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/906fb62f74e64abd198180a87ba0d8fa.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_4_10.png" alt="category4_10 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">トランシーバ</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-product__link js-product-link">
        <a href="https://www.taiyokenki.co.jp/product/index.html" class="c-button --em">商品一覧を見る</a>
      </div>
    </div>
    <div class="c-product">
      <h3 class="c-product__title">
        <span>おそうじ</span>
        <span class="c-product__itemTriggerWrap">
          <span class="c-product__itemTrigger js-product-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8.5" viewBox="0 0 10 8.5">
              <path d="M5,0l5,8.5H0Z" fill="#f57a1b"/>
            </svg>
          </span>
        </span>
      </h3>
      <div class="c-product__main">
        <div class="c-product__commonImg">
          <img class="is-pc" src="<%= data.imgPath %>/lineup/cat_common_5.png" alt="おそうじ 共通イメージ">
          <img class="is-sp" src="<%= data.imgPath %>/lineup/cat_common_5_sp.png" alt="おそうじ 共通イメージ SP">
        </div>
        <div class="c-product__block">
          <p class="c-product__text">大変なお掃除も強力機械で楽々キレイ！</p>
          <ul class="c-product__itemList js-product-itemList">
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/1e99edc7a7b00455c72d5f39a308a70f.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_5_1.png" alt="category5_1 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">掃除機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/56dd9a12d45682db8d5e40dd2b383481.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_5_2.png" alt="category5_2 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">バキュームクリーナー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/72bac3431ba7a9dd18250bac432458c6.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_5_3.png" alt="category5_3 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">洗浄機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/235825c45c1abad80493de3e7faf9500.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_5_4.png" alt="category5_4 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ブロワー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/205448fabebb58adbe13571f93ddcd65.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_5_5.png" alt="category5_5 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">手押しスイーパー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/1e99edc7a7b00455c72d5f39a308a70f.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_5_6.png" alt="category5_6 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">集塵機</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-product__link js-product-link">
        <a href="https://www.taiyokenki.co.jp/product/index.html" class="c-button --em">商品一覧を見る</a>
      </div>
    </div>
    <div class="c-product">
      <h3 class="c-product__title">
        <span>冷暖房機器</span>
        <span class="c-product__itemTriggerWrap">
          <span class="c-product__itemTrigger js-product-trigger">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8.5" viewBox="0 0 10 8.5">
              <path d="M5,0l5,8.5H0Z" fill="#f57a1b"/>
            </svg>
          </span>
        </span>
      </h3>
      <div class="c-product__main">
        <div class="c-product__commonImg">
          <img class="is-pc" src="<%= data.imgPath %>/lineup/cat_common_6.png" alt="冷暖房機器 共通イメージ">
          <img class="is-sp" src="<%= data.imgPath %>/lineup/cat_common_6_sp.png" alt="冷暖房機器 共通イメージ SP">
        </div>
        <div class="c-product__block">
          <p class="c-product__text">季節で必要な時に必要なだけ</p>
          <ul class="c-product__itemList js-product-itemList">
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/f614c9ac1cb4bf24e47da88a67dd9a60.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_1.png" alt="category6_1 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">扇風機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/338c281b524de3c476fc53e161a15b76.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_2.png" alt="category6_2 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">スポットクーラー</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/338c281b524de3c476fc53e161a15b76.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_3.png" alt="category6_3 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">気化式冷風機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/f614c9ac1cb4bf24e47da88a67dd9a60.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_4.png" alt="category6_4 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ミストファン</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/bf8cd552769fd4e7af97c98c7c2a5f88.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_5.png" alt="category6_5 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">エアコン</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/a023dfedcbefc50871ce6eda3272e80b.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_6.png" alt="category6_6 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">製氷機</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/9de2bc39544f2b084c887c316128cd56.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_7.png" alt="category6_7 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ストーブ</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/d284a23e1c806ebd36a4f408b925cb1b.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_8.png" alt="category6_8 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ファンヒーター</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/17816b7e61fc2899b897021eceeeefc4.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_9.png" alt="category6_9 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ブルーヒーター</span>
              </a>
            </li>
            <li class="c-product__item">
              <a href="https://www.taiyokenki.co.jp/product/docs/d284a23e1c806ebd36a4f408b925cb1b.pdf" class="c-product__itemLink --pdf" target="_blank">
                <img src="<%= data.imgPath %>/lineup/cat_6_10.png" alt="category6_10 image">
                <span class="--pdfIcon">
                  <img src="<%= data.imgPath %>/common/icon_pdf.svg" alt="PDF icon">
                </span>
                <span class="--text">ベケットヒーター</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-product__link js-product-link">
        <a href="https://www.taiyokenki.co.jp/product/index.html" class="c-button --em">商品一覧を見る</a>
      </div>
    </div>
  </div>
</section>