<section class="c-section --firstPt">
  <h2 class="c-heading --med">人気商品</h2>
  <div class="c-popular">
    <ol class="c-popular__list">
      <li>
        <a href="<%= data.path %>/compaction-machine/" class="c-popular__itemLink ---compaction">
          <img src="<%= data.imgPath %>/top/popular_compaction.png" alt="Rank1 転圧機">
          <span class="c-popular__rankNum"><img src="<%= data.imgPath %>/top/rank1.svg" alt="RANK1"></span>
          <span class="c-popular__itemName">
            <span class="c-popular__itemNameInner">転圧機</span>
          </span>
        </a>
      </li>
      <li>
        <a href="<%= data.path %>/diy/" class="c-popular__itemLink --diy">
          <img src="<%= data.imgPath %>/top/popular_diy.png" alt="Rank2 DIY">
          <span class="c-popular__rankNum"><img src="<%= data.imgPath %>/top/rank2.svg" alt="RANK2"></span>
          <span class="c-popular__itemName">
            <span class="c-popular__itemNameInner">DIY</span>
          </span>
        </a>
      </li>
      <li>
        <a href="<%= data.path %>/rent-a-car/" class="c-popular__itemLink --rentacar">
          <img src="<%= data.imgPath %>/top/popular_rentacar.png" alt="Rank3 レンタカー">
          <span class="c-popular__rankNum"><img src="<%= data.imgPath %>/top/rank3.svg" alt="RANK3"></span>
          <span class="c-popular__itemName">
            <span class="c-popular__itemNameInner">レンタカー</span>
          </span>
        </a>
      </li>
    </ol>
  </div>
</section>