<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "株式について | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "株式について。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
<body>
	<%- include('../../include/_header.ejs'); %>
	<main id="stock" class="subpage">
		<div class="breadcrumb">
			<ol class="breadcrumb__list">
				<li>
					<a href="/">TOP</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../">IR情報</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a>株式について</a>
				</li>
			</ol><!-- /.breadcrumb -->
		</div>
		<section class="imgKv">
			<h1 class="imgKv__ttl">株式について</h1>
			<span class="imgKv__line"></span>
		</section>
		<div class="contentWrap">

			<section class="txtBase">
				<h2 class="txtBase__subTtl">株式情報</h2>
				<table class="txtBase__table column2">
					<tr>
						<th class="bg">証券コード</th>
						<td>4763</td>
					</tr>
					<tr>
						<th class="bg">上場証券取引所</th>
						<td>東京証券取引所市場第一部</td>
					</tr>
					<tr>
						<th class="bg">発行可能株式総数</th>
						<td>44,720,000株</td>
					</tr>
					<tr>
						<th class="bg">発行済株式総数</th>
						<td>23,009,000株<br>(2021年2月28日現在)</td>
					</tr>
					<tr>
						<th class="bg">単元株数</th>
						<td>100株</td>
					</tr>
						<th class="bg">株主総数</th>
						<td>5,135人 (2021年2月28日現在)</td>
					</tr>
					<tr>
						<th class="bg">株主名簿管理人</th>
						<td>三井住友信託銀行株式会社</td>
					</tr>
					<tr>
						<th class="bg">決算期</th>
						<td>2月末日</td>
					</tr>
					<tr>
						<th class="bg">定時株主総会</th>
						<td>5月下旬</td>
					</tr>
				</table>
				<h3 class="txtBase__ttl">大株主</h3>
				<table class="txtBase__table column3">
					<tr>
						<th class="bg"></th>
						<th>持株数(株)</th>
						<th>持株比率(%)</th>
					</tr>
					<tr>
						<th class="bg">株式会社シー・アンド・アール</th>
						<td>6,293,000</td>
						<td>27.71</td>
					</tr>
					<tr>
						<th class="bg">井川 幸広</th>
						<td>4,468,000</td>
						<td>19.67</td>
					</tr>
					<tr>
						<th class="bg">株式会社日本カストディ銀行（信託口）</th>
						<td>1,671,600</td>
						<td>7.36</td>
					</tr>
					<tr>
						<th class="bg">日本マスタートラスト信託銀行株式会社（信託口）</th>
						<td>765,700</td>
						<td>3.37</td>
					</tr>
					<tr>
						<th class="bg">澤田 秀雄</th>
						<td>520,000</td>
						<td>2.29</td>
					</tr>
					<tr>
						<th class="bg">黒崎 淳</th>
						<td>326,600</td>
						<td>1.44</td>
					</tr>
					<tr>
						<th class="bg">SSBTC CLIENT OMNIBUS ACCOUNT</th>
						<td>325,000</td>
						<td>1.43</td>
					</tr>
					<tr>
						<th class="bg">依田 巽</th>
						<td>300,000</td>
						<td>1.32</td>
					</tr>
					<tr>
						<th class="bg">クリーク･アンド･リバー社従業員持株会</th>
						<td>266,100</td>
						<td>1.17</td>
					</tr>
					<tr>
						<th class="bg">BNP PARIBAS SECURITIES SERVICES LUXEMBOURG ／ JASDEC ／ FIM ／ LUXEMBOURG FUNDS ／ UCITS ASSETS</th>
						<td>251,100</td>
						<td>1.11</td>
					</tr>
				</table>
				<p class="txtBase__txt">（注）１．上記の他、自己株式が297,667株あります。<br>２．持株比率は自己株式（297,667株）を控除して計算しております。</p>
				<h2 class="txtBase__subTtl">2021年2⽉期の株主の種類別持ち株⽐率</h2>
				<figure class="-graph01">
					<img src="../../images/ir/stock_graph_01.png" alt="株主の種類別持ち株⽐率 画像">
				</figure>
				<h2 class="txtBase__subTtl">株主数の推移</h2>
				<figure class="-graph02">
					<img class="sp" src="../../images/ir/stock_graph_02.png" alt="株主の種類別持ち株⽐率 画像">
					<img class="pc" src="../../images/ir/stock_graph_02_sp.png" alt="株主の種類別持ち株⽐率 画像">
				</figure>
				<h2 class="txtBase__subTtl">発⾏済株式数</h2>
				<table class="txtBase__table columnAdd">
					<tr>
						<th class="bg"></th>
						<th>発⾏済み株式数</th>
					</tr>
					<tr>
						<th class="bg">2020年度</th>
						<td>23,009,000</td>
					</tr>
					<tr>
						<th class="bg">2019年度</th>
						<td>23,009,000</td>
					</tr>
					<tr>
						<th class="bg">2018年度</th>
						<td>23,009,000</td>
					</tr>
					<tr>
						<th class="bg">2017年度</th>
						<td>23,009,000</td>
					</tr>
					<tr>
						<th class="bg">2016年度</th>
						<td>23,009,000</td>
					</tr>
				</table>
				<h2 class="txtBase__subTtl">株式分割</h2>
				<table class="txtBase__table columnAdd">
					<tr>
						<th class="bg"></th>
						<th>株式分割</th>
					</tr>
					<tr>
						<th class="bg">2001年5⽉24⽇</th>
						<td>1:2</td>
					</tr>
					<tr>
						<th class="bg">2004年8⽉26⽇</th>
						<td>1:2</td>
					</tr>
					<tr>
						<th class="bg">2005年8⽉26⽇</th>
						<td>1:2</td>
					</tr>
					<tr>
						<th class="bg">2013年2⽉26⽇</th>
						<td>1:100</td>
					</tr>
				</table>

				<h2 class="txtBase__subTtl">株主還元方針・配当情報</h2>
				<h3 class="txtBase__ttl">利益還元方針</h3>
				<p class="txtBase__txt">
					当社は、株主価値の向上と株主に対する利益還元を重要な経営課題と認識しております。利益配分につきましては、より一層の成長加速と経営環境の変化に耐え得る経営基盤充実のための内部留保とのバランスを考慮しつつ実施することを基本方針としております。<br><br>第32期（2022年2月期）の配当は、上記方針に基づき1株当たり17円を予定しております。<br><br>内部留保資金につきましては、今後予想される経営環境の変化に対応すべく、今後の企業体質の強化と積極的な事業展開を図るために投資してまいりたいと考えております。
				</p>
				<h3 class="txtBase__ttl">自己株式取得について</h3>
				<div class="colorBox">
					<h4>○現在の自己株式の保有状況</h4>
					<p class="colorBox__txt">
						取得した株式の種類：　当社普通株式 <br>
						取得した株式の総数：　297,667株
					</p>
				</div>
				<h3 class="txtBase__ttl">配当情報</h3>
				<div class="txtBase__scrBlock">
					<table class="txtBase__table column6">
						<tr>
							<th class="bg"></th>
							<th class="bg"></th>
							<th class="bg">第31期<br>(2021年2月期)</th>
							<th class="bg">第30期<br>(2020年2月期)</th>
							<th class="bg">第29期<br>(2019年2月期)</th>
							<th class="bg">第28期<br>(2018年2月期)</th>
							<th class="bg">第27期<br>(2017年2月期)</th>
						</tr>
						<tr>
							<th>配当金総額</th>
							<td>（百万円）</td>
							<td>363</td>
							<td>327</td>
							<td>260</td>
							<td>237</td>
							<td>193</td>
						</tr>
						<tr>
							<th>一株当たり配当金</th>
							<td>（円）</td>
							<td>16</td>
							<td>15</td>
							<td>12</td>
							<td>11</td>
							<td>9</td>
						</tr>
						<tr>
							<th>配当性向（連結）</th>
							<td>（%）</td>
							<td>21.5%</td>
							<td>23.6%</td>
							<td>26.3%</td>
							<td>21.0%</td>
							<td>21.0%</td>
						</tr>
						<tr>
							<th>純資産配当率（連結）</th>
							<td>（%）</td>
							<td>3.9％</td>
							<td>4.2％</td>
							<td>3.7％</td>
							<td>3.6％</td>
							<td>3.4％</td>
						</tr>
						<tr>
							<th>期末発行済株式数</th>
							<td>（株）</td>
							<td>23,009,000</td>
							<td>22,609,000</td>
							<td>22,609,000</td>
							<td>22,609,000</td>
							<td>22,609,000</td>
						</tr>
					</table>
				</div>
				<p class="txtBase__txt">当社は2013年3月1日付けで普通株式1株につき100株の株式分割を行なっております。</p>
				<h2 class="txtBase__subTtl">株式諸手続き</h2>
				<p class="txtBase__txt">
					以下の株式に関するお手続きについては、証券口座をお持ちの証券会社にお問い合わせください。<br><br>
					1.名義・住所の変更<br>
					2.相続<br>
					3.配当金の振込先指定・変更<br>
					4.単元未満株式の買取請求<br><br>
					なお、証券保管振替機構（ほふり）に株式を預託していない株主様は、三井住友信託銀行株式会社までお問い合わせください。<br><br>
					三井住友信託銀行株式会社（株主名簿管理人）<br>
					0120-782-031（オペレーター対応　通話料無料）<br>
					<a class="txtBase__innerLink" target="_blank" href="https://www.smtb.jp/personal/procedure/agency/">https://www.smtb.jp/personal/procedure/agency/</a>
					<br><br>
					ご不明な場合はクリーク･アンド･リバー社　IR担当<br class="pc"><a class="txtBase__innerLink" href="mailto:ir@hq.cri.co.jp">ir@hq.cri.co.jp</a>までお問い合わせください。
				</p>
				<h2 class="txtBase__subTtl">株価情報</h2>
				<p class="txtBase__txt">
					最新の株価推移についてご覧いただけます。
				</p>
				<div class="dlBlk -stockTransitionLink">
					<a href="" target="_brank">
						<span class="dlBlk__txt">株価推移（外部サイト）</span>
					</a>
				</div><!-- /.dlBlk -->
			</section>
			
			<%- include('../../include/subpages/_irLinkBlk.ejs',); %>
      <!-- /.linkBlk -->
		</div>
		<%- include('../../include/subpages/_irBnrBlk.ejs',); %>
		<!-- /.bnrBlk -->
	</main>
	<%- include('../../include/_footer.ejs'); %>
</body>

</html>