<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "役員一覧 | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "役員一覧。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="officers" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="/">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">IR情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>役員一覧</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">役員一覧</h1>
        <span class="imgKv__line"></span>
      </section>
      <div class="contentWrap">
        <section class="officers">
          <ul class="officersList">
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>代表取締役社長</span>
                  <span class="-detail">株式会社クリーク･アンド･リバー社 代表取締役社長</span>
                  井川 幸広
                  <span class="-en">Yukihiro Ikawa</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1981年4月</dt>
                  <dd>フリーのメディアプロデューサーとして活動</dd>
                  <dt>1990年3月</dt>
                  <dd>当社設立　代表取締役社長（現任）</dd>
                  <dt>1999年2月</dt>
                  <dd>株式会社シー･アンド･アール設立　代表取締役（現任）</dd>
                  <dt>2020年1月</dt>
                  <dd>株式会社メディカル･プリンシプル社　取締役会長（現任）</dd>
                  <dt>2020年4月</dt>
                  <dd>一般社団法人東京ニュービジネス協議会　会長（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>取締役</span>
                  <span class="-detail">経営企画グループ 兼 人事グループ 兼 管理グループ担当役員</span>
                  黒崎 淳
                  <span class="-en">Jun Kurosaki</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>2005年10月</dt>
                  <dd>当社入社</dd>
                  <dt>2008年5月</dt>
                  <dd>当社執行役員（現任）</dd>
                  <dt>2013年5月</dt>
                  <dd>当社取締役（現任）<br>ジャスネットコミュニケーションズ株式会社　代表取締役社長（現任）</dd>
                  <dt>2017年3月</dt>
                  <dd>当社経営企画グループ 兼 人事グループ兼 管理グループ 担当役員（現任）</dd>
                  <dt>2018年12月</dt>
                  <dd>株式会社インター･ベル<br>代表取締役社長（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>取締役</span>
                  <span class="-detail">デジタルコンテンツ・グループ担当役員</span>
                  青木 克仁
                  <span class="-en">Katsuhito Aoki</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>2001年5月</dt>
                  <dd>当社入社</dd>
                  <dt>2014年9月</dt>
                  <dd>当社執行役員（現任）</dd>
                  <dt>2017年5月</dt>
                  <dd>当社取締役（現任）</dd>
                  <dt>2020年3月</dt>
                  <dd>株式会社クレイテックワークス　取締役（現任）<br>株式会社VR Japan　取締役（現任）</dd>
                  <dt>2021年3月</dt>
                  <dd>当社 デジタルコンテンツ・グループ 兼 マーケティング・グループ 担当役員（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>取締役</span>
                  <span class="-detail">デジタル・コミュニケーション・グループ担当役員</span>
                  後藤 野人
                  <span class="-en">Nohito Goto</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>2004年5月</dt>
                  <dd>当社入社</dd>
                  <dt>2014年9月</dt>
                  <dd>当社執行役員（現任）</dd>
                  <dt>2020年5月</dt>
                  <dd>当社取締役（現任）</dd>
                  <dt>2021年3月</dt>
                  <dd>当社 デジタル・コミュニケーション・グループ 兼 エリア戦略グループ担当役員（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>取締役<sup>※1</sup></span>
                  澤田 秀雄
                  <span class="-en">Hideo Sawada</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1980年12月</dt>
                  <dd>株式会社インターナショナルツアーズ（現株式会社エイチ・アイ・エス） 設立代表取締役社長</dd>
                  <dt>1999年3月</dt>
                  <dd>協立証券株式会社（現澤田ホールディングス株式会社）代表取締役社長</dd>
                  <dt>2002年5月</dt>
                  <dd>当社社外取締役（現任）</dd>
                  <dt>2016年11月</dt>
                  <dd>株式会社エイチ・アイ・エス 代表取締役会長兼社長 最高経営責任者（CEO）（現任）澤田ホールディングス株式会社 代表取締役会長兼社長（現任）</dd>
                  <dt>2017年11月</dt>
                  <dd>H.I.S.ホテルホールディングス株式会社 代表取締役会長（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>取締役<sup>※1</sup></span>
                  藤沢 久美
                  <span class="-en">Kumi Fujisawa</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1995年4月</dt>
                  <dd>株式会社アイフィス 代表取締役</dd>
                  <dt>2004年6月</dt>
                  <dd>一般社団法人投資信託協会 理事（現任)</dd>
                  <dt>2004年11月</dt>
                  <dd>株式会社ソフィアバンク 取締役</dd>
                  <dt>2011年6月</dt>
                  <dd>日本証券業協会 公益理事（現任)</dd>
                  <dt>2013年6月</dt>
                  <dd>株式会社静岡銀行 社外取締役（現任）</dd>
                  <dt>2013年8月</dt>
                  <dd>株式会社ソフィアバンク 代表取締役（現任)</dd>
                  <dt>2014年6月</dt>
                  <dd>豊田通商株式会社 社外取締役（現任)</dd>
                  <dt>2016年5月</dt>
                  <dd>当社社外取締役（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>取締役<sup>※1</sup></span>
                  藤延 直道
                  <span class="-en">Naomichi Fujinobu</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1972年4月</dt>
                  <dd>株式会社テレビ東京入社</dd>
                  <dt>2004年6月</dt>
                  <dd>株式会社テレビ東京制作 代表取締役社長</dd>
                  <dt>2006年6月</dt>
                  <dd>株式会社テレビ東京 取締役制作局長</dd>
                  <dt>2007年6月</dt>
                  <dd>株式会社テレビ東京 常務取締役</dd>
                  <dt>2010年10月</dt>
                  <dd>株式会社テレビ東京ホールディングス取締役</dd>
                  <dt>2011年6月</dt>
                  <dd>株式会社テレビ東京 専務取締役</dd>
                  <dt>2012年6月</dt>
                  <dd>株式会社テレビ東京ホールディングス 専務取締役</dd>
                  <dt>2018年5月</dt>
                  <dd>当社社外取締役（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>常勤監査役</span>
                  喜多村 裕
                  <span class="-en">Yuu Kitamura</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1990年11月</dt>
                  <dd>株式会社三和銀行（現株式会社三菱UFJ銀行）市ヶ谷支店 支店長</dd>
                  <dt>2000年6月</dt>
                  <dd>三和証券株式会社（現三菱UFJモルガン・スタンレー証券株式会社） 常務取締役</dd>
                  <dt>2006年6月</dt>
                  <dd>UFJつばさビジネスサービス株式会社（現MUSビジネスサービス株式会社）取締役副社長</dd>
                  <dt>2008年7月</dt>
                  <dd>インベスターネットワークス株式会社 監査役</dd>
                  <dt>2010年12月</dt>
                  <dd>当社管理グループ グループマネージャー</dd>
                  <dt>2012年5月</dt>
                  <dd>当社監査役</dd>
                  <dt>2015年4月</dt>
                  <dd>当社常勤監査役（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>監査役</span>
                  塩谷 仁
                  <span class="-en">Jin Enya</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1997年11月</dt>
                  <dd>株式会社東海銀行（現株式会社三菱UFJ銀行）桜橋支店 支店長</dd>
                  <dt>2001年6月</dt>
                  <dd>株式会社ナルックス 代表取締役社長</dd>
                  <dt>2003年4月</dt>
                  <dd>ピープルスタッフ株式会社 経営企画室長</dd>
                  <dt>2006年7月</dt>
                  <dd>当社顧問</dd>
                  <dt>2007年5月</dt>
                  <dd>当社監査役（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>監査役<sup>※2</sup></span>
                  安部 陽一郎
                  <span class="-en">Yoichiro Abe</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1988年4月</dt>
                  <dd>弁護士登録（東京弁護士会） 浅香寛法律事務所入所</dd>
                  <dt>1995年1月</dt>
                  <dd>榊原綜合法律事務所入所</dd>
                  <dt>2000年11月</dt>
                  <dd>人権擁護委員（現任）</dd>
                  <dt>2003年11月</dt>
                  <dd>榊原綜合法律事務所 所長</dd>
                  <dt>2004年5月</dt>
                  <dd>当社社外監査役（現任）</dd>
                  <dt>2006年7月</dt>
                  <dd>安部綜合法律事務所 弁護士（現任）</dd>
                </dl>
              </div>
            </li>
            <li>
              <div class="officersList__imgBox">
                <h2>
                  <span>監査役<sup>※2</sup></span>
                  野村 雅行
                  <span class="-en">Masayuki Nomura</span>
                </h2>
              </div>
              <div class="officersList__txtBox">
                <h3>略歴</h3>
                <dl>
                  <dt>1973年4月</dt>
                  <dd>日本電信電話公社入社</dd>
                  <dt>2001年6月</dt>
                  <dd>ＮＴＴコミュニケーションズ株式会社 常務取締役</dd>
                  <dt>2005年6月</dt>
                  <dd>ＮＴＴコミュニケーションズ株式会社 代表取締役副社長</dd>
                  <dt>2008年6月</dt>
                  <dd>株式会社日本情報通信 代表取締役社長</dd>
                  <dt>2014年7月</dt>
                  <dd>日本システムワープ株式会社 会長</dd>
                  <dt>2018年5月</dt>
                  <dd>当社社外監査役(現任)</dd>
                </dl>
              </div>
            </li>
          </ul>
          <p class="officersNote">
            ※1　取締役澤田秀雄、藤沢久美、藤延直道は、社外取締役であります。 <br>※2　監査役安部陽一郎及び野村雅行は、社外監査役であります。
          </p>
        </section>
        <%- include('../../include/subpages/_irLinkBlk.ejs',); %>
        <!-- /.linkBlk -->
      </div>
      <%- include('../../include/subpages/_irBnrBlk.ejs',); %>
      <!-- /.bnrBlk -->
    </main>
    <%- include('../../include/_footer.ejs'); %>
  </body>
</html>