<footer class="Footer">
  <h2 class="_visuallyHidden">Toyota Woven City Footerナビゲーション</h2>
  <section class="Footer__links">
    <div class="Inner">
      <div class="Footer__linksInner">
        <div class="Footer__linksHeader">
          <h3 class="Footer__heading">Links</h3>
        </div>
        <div class="Footer__linksContent">
          <div class="Footer__linksContentInner">
            <dl class="Footer__linksList1">
              <div class="Footer__linksItem">
                <dt class="Footer__linksItemHeading">
                  <a href="https://global.toyota/" class="Footer__linksLink" target="_blank" rel="noopener noreferrer">
                    <span class="Footer__linksLogo -toyota"><img src="<%= `${page.jpAssetsPath}assets/images/common/logo_toyota.svg` %>" alt="TOYOTA"></span>
                  </a>
                </dt>
                <dd class="Footer__linksItemDescription">
                  <p>トヨタ自動車は、自動車製造で培った「ものづくり」の力と最新技術を融合し、モビリティカンパニーへのモデルチェンジを進めています。</p>
                </dd>
              </div>
              <div class="Footer__linksItem">
                <dt class="Footer__linksItemHeading">
                  <a href="https://woven.toyota/jp" class="Footer__linksLink" target="_blank" rel="noopener noreferrer">
                    <span class="Footer__linksLogo -wovenPlanet"><img src="<%= `${page.jpAssetsPath}assets/images/common/logo_woven-by-toyota.svg` %>" alt="woven by toyota"></span>
                  </a>
                </dt>
                <dd class="Footer__linksItemDescription">
                  <p>ウーブン・バイ・トヨタはグループ全体の戦略的意思決定を担うと同時に、サービス提供や新事業機会の創出、パートナーの探索を行います。</p>
                </dd>
              </div>
            </dl>
            <ul class="Footer__linksList2">
              <li class="Footer__linksItem">
                <a href="https://www.facebook.com/WovenCity.JP" class="Footer__linksLink" target="_blank" rel="noopener noreferrer">
                  <span class="Footer__linksSnsLogo"><img src="<%= `${page.jpAssetsPath}assets/images/common/logo_facebook.svg` %>" alt=""></span>
                  <span class="Footer__linksSnsText">Facebook</span>
                </a>
              </li>
              <li class="Footer__linksItem">
                <a href="https://www.youtube.com/channel/UCXbsOEa9zmFMWMsnnzj8b2A" class="Footer__linksLink" target="_blank" rel="noopener noreferrer">
                  <span class="Footer__linksSnsLogo"><img src="<%= `${page.jpAssetsPath}assets/images/common/logo_youtube.svg` %>" alt=""></span>
                  <span class="Footer__linksSnsText">YouTube</span>                  
                </a>
              </li>
              <li class="Footer__linksItem">
                <a href="https://toyotatimes.jp/" class="Footer__linksLink" target="_blank" rel="noopener noreferrer">
                  <span class="Footer__linksLogo -toyotatimes"><img src="<%= `${page.jpAssetsPath}assets/images/common/logo_toyota-times_jp.svg` %>" alt="トヨタイムズ"></span>
                </a>
              </li>
            </ul>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav class="Footer__siteMap" aria-label="Toyota Woven City Site Map">
    <div class="Inner">
      <div class="Footer__siteMapInner">
        <div class="Footer__siteMapGroup">
          <h3 class="Footer__siteMapHading">Press</h3>
          <ul class="Footer__siteMapList">
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}partners/` %>" class="Footer__siteMapLink">Contact</a>
            </li>
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}media-kits/` %>" class="Footer__siteMapLink">Media Kits</a>
            </li>
          </ul>
        </div>
        <div class="Footer__siteMapGroup -large">
          <h3 class="Footer__siteMapHading">Site</h3>
          <ul class="Footer__siteMapList">
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}` %>" class="Footer__siteMapLink">What is Woven City</a>
            </li>
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}history/` %>" class="Footer__siteMapLink">History</a>
            </li>
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}services/` %>" class="Footer__siteMapLink">Demonstrations</a>
            </li>
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}updates/` %>" class="Footer__siteMapLink">Updates</a>
            </li>
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}careers/` %>" class="Footer__siteMapLink">Careers</a>
            </li>
            <li class="Footer__siteMapItem">
              <a href="<%= `${page.path}partners/` %>" class="Footer__siteMapLink">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="Footer__legal">
    <div class="Inner">
      <div class="Footer__legalInner">
        <ul class="Footer__legalList">
          <li class="Footer__legalItem">
            <a href="https://woven.toyota/jp/privacy-notice/" class="Footer__legalLink" target="_blank" rel="noopener noreferrer">Privacy Notice</a>
          </li>
          <li class="Footer__legalItem">
            <a href="<%= `${page.path}cookie-policy/` %>" class="Footer__legalLink"  rel="noopener noreferrer">Cookie Policy</a>
          </li>
          <li class="Footer__legalItem">
            <a href="https://woven.toyota/jp/terms-of-use" class="Footer__legalLink" target="_blank" rel="noopener noreferrer">Terms of Use</a>
          </li>
          <li class="Footer__legalItem">
            <a class="Footer__legalLink" onclick="window.Cookiebot.show()" href="#">Do not sell or share my personal information</a>
          </li>
        </ul>
        <p class="Footer__legalCopyright">
          <small lang="en" translate="no">WOVEN BY TOYOTA, INC. © 2023</small>
        </p>        
      </div>
    </div>
  </div>
</footer>
