-
  var siteName = `segasammy`
  var siteURL = `https://www.monster-dive.com/`
  var dirBase = `./`
  var dirAssets = `${dirBase}share/`
  var dirCss = `${dirAssets}css/`
  var dirJs = `${dirAssets}script/`
  var dirImg = `${dirAssets}img/`
  var dirVideo = `${dirAssets}video/`;

  //- stage用パス http://test-segasammy3.ns-sammy.zsd.co.jp/
  //- 本番用パス https://www.segasammy.co.jp/