<div class="p-top__creator">
  <p class="p-top__creatorName">
    <img src="<%= data.imgPath %>/creator_name.svg" alt="Pantovisco" loading="lazy">
  </p>
  <h3 class="p-top__creatorHeading">
    <img src="<%= data.imgPath %>/creator_introduction.svg" alt="パントビスコさんご紹介" loading="lazy">
  </h3>
  <div class="p-top__creatorTexts">
    <p>クリエイター。主にイラストを駆使したSNSでの作品投稿が話題となり、これまでに5冊の著書を出版。</p>
    <p>雑誌「smart」や「VOCE」などで5本の連載を抱える他、多数の企業広告・キャラクター制作など、業種やメディアを問わず活躍の場を広げている。</p>
    <p>代表的なシリーズに「犬のぺろち」「カオス絵日記」「LINEシリーズ」などがある。Instagramのフォロワー数は約50万人。</p>
  </div>
  <p class="p-top__officialText">パントビスコさん　公式リンク</p>
  <ul class="p-top__sns">
    <li class="p-top__snsItem">
      <a href="https://www.instagram.com/pantovisco/" target="_blank">
        <span class="p-top__snsIcon instagram">
          <img src="<%= data.imgPath %>/icon_instagram.svg" alt="Instagram icon" loading="lazy">
        </span>
        <span class="p-top__snsText instagram">Instagram</span>
      </a>
    </li>
    <li class="p-top__snsItem">
      <a href="https://twitter.com/pantovisco" target="_blank">
        <span class="p-top__snsIcon twitter">
          <img src="<%= data.imgPath %>/icon_twitter.svg" alt="Twitter icon" loading="lazy">
        </span>
        <span class="p-top__snsText twitter">Twitter</span>
      </a>
    </li>
    <li class="p-top__snsItem official">
      <a href="http://www.pantovisco.com/index.html" target="_blank">
        <span class="p-top__snsText official">公式サイト</span>
        <span class="p-top__snsIcon official"><img src="<%= data.imgPath %>/icon_external.svg" alt="外部リンクアイコン" loading="lazy"></span>
      </a>
    </li>
  </ul>
</div>
