<div class="p-top__menuArea">
  <h2 class="p-top__menuHeading">
    <img src="<%= data.imgPath %>/menu.svg" alt="・MENU・" loading="lazy">
  </h2>
  <div class="p-top__menuItemWrap">
    <dl class="p-top__menuItem">
      <dt class="p-top__menuTerm future">
        <img src="<%= data.imgPath %>/heading_future.svg" alt="せんせいの未来編" loading="lazy">
      </dt>
      <dd>
        <ol class="p-top__partList">
          <li class="p-top__partItem">
            <a class="p-top__partLink" href="./iep/">
              <span class="partIcon js-part-icon">
                <img src="<%= data.commonImgPath %>/pelo_part_1.png" alt="その1" loading="lazy">
              </span>
              <span class="fukidashi">
                <img src="<%= data.imgPath %>/fukidashi_future_1.svg" alt="お一人さま授業！？" loading="lazy">
              </span>
            </a>
          </li>
          <li class="p-top__partItem">
            <a class="p-top__partLink" href="./ict/">
              <span class="partIcon js-part-icon">
                <img src="<%= data.commonImgPath %>/pelo_part_2.png" alt="その2" loading="lazy">
              </span>
              <span class="fukidashi">
                <img src="<%= data.imgPath %>/fukidashi_future_2.svg" alt="せんせいもロボット化！？" loading="lazy">
              </span>
            </a>
          </li>
          <li class="p-top__partItem">
            <a class="p-top__partLink" href="./pbl/">
              <span class="partIcon js-part-icon">
                <img src="<%= data.commonImgPath %>/pelo_part_3.png" alt="その3" loading="lazy">
              </span>
              <span class="fukidashi">
                <img src="<%= data.imgPath %>/fukidashi_future_3.svg" alt="地域まるごとせんせい！？" loading="lazy">
              </span>
            </a>
          </li>
        </ol>
      </dd>
    </dl>
    <dl class="p-top__menuItem">
      <dt class="p-top__menuTerm thanks">
        <img src="<%= data.imgPath %>/heading_thanks.svg" alt="せんせいっていいな編" loading="lazy">
      </dt>
      <dd>
        <ol class="p-top__partList">
          <li class="p-top__partItem">
            <a class="p-top__partLink" href="./heart/">
              <span class="partIcon js-part-icon">
                <img src="<%= data.commonImgPath %>/pelo_part_1.png" alt="その1" loading="lazy">
              </span>
              <span class="fukidashi">
                <img src="<%= data.imgPath %>/fukidashi_thanks_1.svg" alt="いつもありがとう！" loading="lazy">
              </span>
            </a>
          </li>
          <li class="p-top__partItem">
            <a class="p-top__partLink" href="./remedial/">
              <span class="partIcon js-part-icon">
                <img src="<%= data.commonImgPath %>/pelo_part_2.png" alt="その2" loading="lazy">
              </span>
              <span class="fukidashi">
                <img src="<%= data.imgPath %>/fukidashi_thanks_2.svg" alt="ひとそれぞれ" loading="lazy">
              </span>
              <%# coming soonの場合のdiv <div class="p-top__partLink comingSoon"></div> %>
            </a>
          </li>
        </ol>
      </dd>
    </dl>
  </div>
</div>