<!DOCTYPE html>
<html lang="ja">
  <%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../",title: "中期経営計画 | 経営戦略 | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "中期経営計画。経営戦略。IR情報クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../../include/_header.ejs'); %>
    <main id="plan" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="/">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../../">IR情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">経営戦略</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="javascript:void(0);">中期経営計画</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">中期経営計画</h1>
        <span class="imgKv__line"></span>
      </section>
      <div class="contentWrap">
        <section class="planWrap">
          <div class="planWrap__themeBox">
            <div class="planWrap__themeBox-img">
              <!-- <picture class="">
                <source media="(max-width: 767px)" srcset="../../../images/ir/plan_img_01.jpg">
                <img src="../../../images/ir/plan_img_01-pc.jpg" alt="会議中の画像">
              </picture> -->
              <div class="planWrap__themeBox-wrap">
                <p class="planWrap__topTxt">当社は、2021年3月より2024年2月までの3年間を計画期間とする中期経営計画を策定しました。</p>
                <h2 class="planWrap__themeBox-txt c-ttl">テーマ</h2>
                <!-- <span class="planWrap__themeBox-line"></span> -->
                <p class="planWrap__themeBox-lead">プロフェッショナルとともに事業を<br class="pc">創造することにより、豊かな社会を創る</p>
              </div>
            </div>
          </div>
          <ul class="planWrap__listBox">
            <li>
              <span class="planWrap__listBox-icon">
                <img src="../../../images/ir/plan_img_02.png" alt="アイコン">
              </span>
              <p class="planWrap__listBox-lead">プロフェッショナルが<br>世界中で活躍できる環境を構築します</p>
            </li>
            <li>
              <span class="planWrap__listBox-icon">
                <img src="../../../images/ir/plan_img_03.png" alt="アイコン">
              </span>
              <p class="planWrap__listBox-lead">プロフェッショナルのアイデアを<br>プロデュースし、激変する社会に<br>新たな事業を創出します</p>
            </li>
          </ul>
         
          <div class="planWrap__strategyBox">
            <h2 class="planWrap__strategyBox-ttl c-ttl">基本戦略</h2>
            <div class="features__anchors">
              <div href="#features01" class="features__anchors__item">
                <p class="features__blackBox">戦略1</p>
                <p class="features__anchors__text">プロフェッショナル分野のさらなる拡大 ～プロフェッショナル50 分野構想の進展～  </p>
              </div>
              <div href="#features02" class="features__anchors__item">
                <p class="features__blackBox">戦略2</p>
                <p class="features__anchors__text">新規サービスの創出 ～プロフェッショナルの能力を活かす新たな価値の創造～</p>
              </div>
              <div href="#features03" class="features__anchors__item">
                <p class="features__blackBox">戦略3</p>
                <p class="features__anchors__text">経営人材の創出</p>
              </div>
              <div href="#features04" class="features__anchors__item">
                <p class="features__blackBox">戦略4</p>
                <p class="features__anchors__text">コーポレートガバナンスの強化</p>
              </div>
            </div>
            <!-- <ul class="planWrap__strategyBox-list">
              <li>
                <p class="planWrap__strategyBox-txt">1.プロフェッショナル分野のさらなる拡大</p>
                <p class="planWrap__strategyBox-lead">～プロフェッショナル50 分野構想の進展～</p>
              </li>
              <li>
                <p class="planWrap__strategyBox-txt">2.新規サービスの創出</p>
                <p class="planWrap__strategyBox-lead">～プロフェッショナルの能力を活かす新たな価値の創造～</p>
              </li>
              <li>
                <p class="planWrap__strategyBox-txt">3.経営人材の創出</p>
              </li>
              <li>
                <p class="planWrap__strategyBox-txt">4.コーポレートガバナンスの強化</p>
              </li>
            </ul> -->

          </div>
          <div class="planWrap__counting">
            <h2 class="planWrap__counting-ttl c-ttl">計数⽬標</h2>
            <p class="planWrap__counting-lead">
              売上⾼・営業利益の着実な成⻑とともに、利益率の向上をめざしてまいります。
            </p>
            <table class="planWrap__counting-table">
              <tr>
                <th class="bg"></th>
                <th class="bg">売上⾼</th>
                <th class="bg">営業利益</th>
                <th class="bg">営業<br>利益率</th>
              </tr>
              <tr>
                <th class="bg">2021年2⽉期（実績）</th>
                <td><span class="-big">373</span>億円</td>
                <td><span class="-big">24.4</span>億円</td>
                <td>6.6%</td>
              </tr>
              <tr>
                <th class="bg">2022年2⽉期（計画）<span class="-small">※増減率</span></th>
                <td><span class="-big">400</span>億円<span class="-color">↑7.2%</span> </td>
                <td><span class="-big">28.5</span>億円<span class="-color">↑16.8%</span></td>
                <td>7.1%</td>
              </tr>
              <tr>
                <th class="bg">2023年2⽉期（計画）<span class="-small">※増減率</span></th>
                <td><span class="-big">430</span>億円<span class="-color">↑7.5%</span> </td>
                <td><span class="-big">32</span>億円<span class="-color">↑12.3%</span></td>
                <td>7.4%</td>
              </tr>
              <tr>
                <th class="bg">2024年2⽉期（計画）<span class="-small">※増減率</span></th>
                <td><span class="-big">460</span>億円<span class="-color">↑7.0%</span> </td>
                <td><span class="-big">35</span>億円<span class="-color">↑9.4%</span></td>
                <td>7.6%</td>
              </tr>
            </table>
            <p class="planWrap__counting-txt">
              当社は、2021年9月30日、業績予想の修正を発表しております。<br>
              2022年2月期（計画）売上高400億円をし413億円（3.3%増）に、営業利益28.5億円を32億円（12.3%増）に、それぞれ上方修正いたしました。<br>
              ※2022年２月期通期の営業利益率は4月8日の中期経営計画発表時の7.1％から7.7％に上昇する見込みです。<br>
              ※2022年２月期通期の営業利益は、2021年４月８日に発表した「中期経営計画」における2023年２月期の目標利益額となり、一年前倒しでの達成を見込んでおります。<br>
              詳しくは、2021年9月30日の業績修正をご参照ください。<br>
              <a href="https://www.cri.co.jp/news/press_release/2021/20210930003628.html">https://www.cri.co.jp/news/press_release/2021/20210930003628.html</a>
            </p>
          </div>
          <div class="planWrap__graphBox">
            <h2 class="planWrap__graphBox-ttl c-ttl">C&Rグループの売上高と営業利益の推移</h2>
            <div class="planWrap__graphBox-img">
              <img src="../../../images/ir/plan_chukikeiei.png" alt="">
            </div>
            <p class="planWrap__graphBox-note">
              ＊2022年2月期通期決算発表時に、中計2期目、3期目のローリングを予定しています。
            </p>
          </div>
          
          <div class="planWrap__dlBox">
            <h2 class="c-ttl">資料ダウンロード</h2>
            <ul class="planWrap__dlBox-list">
              <li class="planWrap__dlBox-pdf dlBlk">
                <a href="" target="_brank">
                  <span class="dlBlk__txt">中期経営計画<span class="planWrap__dlBox-txt">（PDF 約5.5MB）</span></span>
                  <span class="planWrap__dlBox-day">2021年4月8日発表</span>
                </a>
              </li>
            </ul>
          </div>

          <h2 class="business_design-ttl c-ttl">Go Beyond the Limit</h2>
          <div class="business_design_banner">
            <a href="">50分野構想</a>
          </div>

        </section>
        <%- include('../../../include/subpages/_irLinkBlk.ejs',); %>
        <!-- /.linkBlk -->
      </div>
      <%- include('../../../include/subpages/_irBnrBlk.ejs',); %>
      <!-- /.bnrBlk -->
    </main>
    <%- include('../../../include/_footer.ejs'); %>
  </body>
</html>