<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "電子公告 | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "電子公告。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
<body>
	<%- include('../../include/_header.ejs'); %>
	<main id="financial" class="subpage">
		<div class="breadcrumb">
			<ol class="breadcrumb__list">
				<li>
					<a href="">TOP</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../">IR情報</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a>電子公告</a>
				</li>
			</ol><!-- /.breadcrumb -->
		</div>
		<section class="imgKv">
			<h1 class="imgKv__ttl">電子公告</h1>
			<span class="imgKv__line"></span>
		</section>

		
		<div class="contentWrap">
			<section class="yearBlk">
				<dl class="yearBlk__desc">
					<dt>2019年11月18日</dt>
					<dd>
						<a href="https://www.cri.co.jp/stockholders/public_notice/20191118.pdf" target="_brank" class="pdf__icon">【 Portie 】資金決済法律第20条第1項に基づく前払式支払手段の払戻しのお知らせ（PDF 131KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dt>2019年10月31日</dt>
					<dd>
						<a href="https://www.cri.co.jp/stockholders/public_notice/20191031.pdf" target="_brank" class="pdf__icon">【フリージング・エクステンション】資金決済に関する法律第20条第1項に基づく前払式支払手段の払い戻しのお知らせ（PDF 293KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dt>2019年7月31日</dt>
					<dd>
						<a href="https://www.cri.co.jp/stockholders/public_notice/20190731.pdf" target="_brank" class="pdf__icon">【戦国修羅SOUL】資金決済法律第20条第1項に基づく前払式支払手段の払戻しのお知らせ（PDF 158KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dt>2013年2月1日</dt>
					<dd>
						<a href="https://www.cri.co.jp/stockholders/public_notice/20130201.pdf" target="_brank" class="pdf__icon">株式分割に関する基準日設定公告（PDF 8KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dt>2012年5月1日</dt>
					<dd>
						<a href="https://www.cri.co.jp/stockholders/public_notice/20120330.pdf" target="_brank" class="pdf__icon">株主名簿管理人および同事務取扱い場所の変更のお知らせ（PDF 12KB）</a><br>
						<p class="yearBlk__txt-links">
							会社法の規定により、有価証券報告書の提出会社については決算公告が不要となりましたので、決算公告は掲載しておりません。なお、当社の貸借対照表及び損益計算書につきましては、<a href="/report/" target="_blank">有価証券報告書</a>をご覧下さい。
						</p>
					</dd>
				</dl>
			</section><!-- /.yearBlk -->
			
			<!-- /.dlBlk -->
			<%- include('../../include/subpages/_irLinkBlk.ejs',); %>
      <!-- /.linkBlk -->
		</div>
		<%- include('../../include/subpages/_irBnrBlk.ejs',); %>
		<!-- /.bnrBlk -->
	</main>
	<%- include('../../include/_footer.ejs'); %>
</body>

</html>