<!DOCTYPE html>
<html lang="ja">
  <%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../",title: "有価証券報告書 | IRライブラリ | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "有価証券報告書。IRライブラリ。IR情報クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
<body>
	<%- include('../../../include/_header.ejs'); %>
	<main id="financial" class="subpage">
		<div class="breadcrumb">
			<ol class="breadcrumb__list">
				<li>
					<a href="/">TOP</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../../">IR情報</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../"> IRライブラリ</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="">有価証券報告書</a>
				</li>
			</ol><!-- /.breadcrumb -->
		</div>
		<section class="imgKv">
			<h1 class="imgKv__ttl">有価証券報告書</h1>
			<span class="imgKv__line"></span>
		</section>
		<div class="contentWrap">
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2021年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/31ki_yukashouken_houkokusyo.pdf" target="_brank" class="pdf__icon">2021年2月期「有価証券報告書」（PDF　950.5KB）</a>
					</dd>
				</dl>
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2020年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/096271a487c62012489a8948994ec3bbb9e841f2.pdf" target="_brank" class="pdf__icon">2020年2月期「有価証券報告書」（PDF 913.3KB）</a>
					</dd>
				</dl>
				
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2019年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/29ki_yukashouken_houkokusyo.pdf" target="_brank" class="pdf__icon">2019年2月期「有価証券報告書」（PDF 1.5MB）</a>
					</dd>
				</dl>
				
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2018年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/28ki_yukashouken_houkokusyo.pdf" target="_brank" class="pdf__icon">2018年2月期「有価証券報告書」（PDF 1.5MB）</a>
					</dd>
				</dl>
				
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2017年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/27ki_yukashouken_houkokusyo.pdf" target="_brank" class="pdf__icon">2017年2月期「有価証券報告書」（PDF 1.5MB）</a>
					</dd>
				</dl>
				
			</section><!-- /.yearBlk -->
			<!-- /.dlBlk -->
			<%- include('../../../include/subpages/_irLinkBlk.ejs',); %>
      <!-- /.linkBlk -->
		</div>
		<%- include('../../../include/subpages/_irBnrBlk.ejs',); %>
		<!-- /.bnrBlk -->
	</main>
	<%- include('../../../include/_footer.ejs'); %>
</body>

</html>