<!DOCTYPE html>
<html lang="ja">
  <%- include('../../../include/subpages/_subpageHead.ejs', {path: "../../../",title: "株主総会 | IRライブラリ | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "株主総会。IRライブラリ。IR情報クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
<body>
	<%- include('../../../include/_header.ejs'); %>
	<main id="settlement" class="subpage">
		<div class="breadcrumb">
			<ol class="breadcrumb__list">
				<li>
					<a href="/">TOP</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../../">IR情報</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../"> IRライブラリ</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="">株主総会</a>
				</li>
			</ol><!-- /.breadcrumb -->
		</div>
		<section class="imgKv">
			<h1 class="imgKv__ttl">株主総会</h1>
			<span class="imgKv__line"></span>
		</section>
		<div class="contentWrap">
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2021年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.youtube.com/watch?v=FRp6ASEA-64&t=10s" target="_brank" class="movei__link">動画：プロフェッショナル50分野構想「challenge50 </a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/31ki_ketugitsuuchi.pdf" target="_brank" class="pdf__icon">2021年2月期「株主総会決議通知」（PDF　162.7KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/31ki_jigyosetsumei.pdf" target="_brank" class="pdf__icon">第31期 株主総会資料（PDF　3.5MB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/05910e5a24fb6eec1552f8b9ca063d4f7c025968.pdf" target="_brank" class="pdf__icon">2021年2月期「事業報告書」（PDF　6.5MB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/31ki_shoushu_tsuuchi.pdf" target="_brank" class="pdf__icon">2021年2月期「株主総会招集通知」（PDF　1.3MB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/31shoshutuuchi_teisei.pdf" target="_brank" class="pdf__icon">招集通知記載事項の一部訂正について（PDF　99.5KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/Internet_disclosure_matters.pdf" target="_brank" class="pdf__icon">第31回定時株主総会招集ご通知に際しての インターネット開示事項（PDF　260.1KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/CR_Convocation_notice.pdf" target="_brank" class="pdf__icon">Notice of the 31st Annual General Meeting of Shareholders（PDF　159.5KB）</a>
					</dd>
				</dl>
				
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2020年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/1bf912c0a25ea188509cbba8f3ce3e3baca99102.pdf" target="_brank" class="pdf__icon">2020年2月期「株主総会決議通知」（PDF　87.0KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/30ki_shoushu_tsuuchi.pdf" target="_brank" class="pdf__icon">2020年2月期「株主総会招集通知」（PDF　609.7KB）</a>
					</dd>
				</dl>
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2019年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/29ki_shoushu_tsuuchi.pdf" target="_brank" class="pdf__icon">2019年2月期「株主総会招集通知」（PDF　607.1KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/29ki_ketsugi_tsuchi.pdf.pdf" target="_brank" class="pdf__icon">2019年2月期「株主総会決議通知」（PDF　89.0KB）</a>
					</dd>
				</dl>
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2018年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/0e3ea5cd7bf01e9727e71f2893a870115f49bbe1.pdf" target="_brank" class="pdf__icon">2018年2月期「株主総会招集通知」（PDF　604.5KB）</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/28ki_ketsugi_tsuchi.pdf" target="_brank" class="pdf__icon">2018年2月期「株主総会決議通知」（PDF　99.1KB）</a>
					</dd>
				</dl>
			</section><!-- /.yearBlk -->
			<section class="yearBlk">
				<h4 class="yearBlk__ttl">2017年度</h4>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/27ki_shoushu_tsuuchi.pdf" target="_brank" class="pdf__icon">2017年2月期「株主総会招集通知」（PDF　578.5KB</a>
					</dd>
				</dl>
				<dl class="yearBlk__desc">
					<dd>
						<a href="https://www.cri.co.jp/stockholders/library/docs/27ki_ketsugi_tsuchi.pdf" target="_brank" class="pdf__icon">2017年2月期「株主総会決議通知」（PDF　96.3KB）</a>
					</dd>
				</dl>
			</section><!-- /.yearBlk -->
			<%- include('../../../include/subpages/_irLinkBlk.ejs',); %>
			<!-- /.linkBlk -->
		</div>
		<%- include('../../../include/subpages/_irBnrBlk.ejs',); %>
		<!-- /.bnrBlk -->
	</main>
	<%- include('../../../include/_footer.ejs'); %>
</body>

</html>