<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/subpages/_subpageHead.ejs', {path: "../", title: "IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../include/_header.ejs'); %>
    <main id="ir-arch" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>IR情報</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">IR情報</h1>
        <span class="imgKv__line"></span>
      </section>
      <div class="contentWrap">
        <section class="newsBlock">
          <h2 class="newsBlock__ttl">IRニュース</h2>
          <ul class="newsBlock__list">
            <li>
              <a href="">
                <div class="newsBlock__txtBox">
                  <p class="newsBlock__day">2021年8⽉11⽇</p>
                  <span class="newsBlock__cate -cate-id01">リリース</span>
                </div>
                <p class="newsBlock__txt">タイトルが⼊ります。タイトルが⼊ります。タイトルが⼊ります。タイトルが⼊ります。タイトルが⼊りま… </p>
              </a>
            </li>
            <li>
              <a href="">
                <div class="newsBlock__txtBox">
                  <p class="newsBlock__day">2021年8⽉10⽇</p>
                  <span class="newsBlock__cate -cate-id02">決算情報</span>
                </div>
                <p class="newsBlock__txt -pdf">ファイル名とアイコンが⼊ります（2,967KB） 
                  <span class="pdf__link">
                    <img src="" alt="">
                  </span>
                </p>
              </a>
            </li>
            <li>
              <a href="">
                <div class="newsBlock__txtBox">
                  <p class="newsBlock__day">2021年8⽉9⽇</p>
                  <span class="newsBlock__cate -cate-id01">リリース</span>
                </div>
                <p class="newsBlock__txt">タイトルが⼊ります。タイトルが⼊ります。タイトルが⼊ります。タイトルが⼊ります。タイトルが⼊りま… </p>
              </a>
            </li>
          </ul>
          <div class="dlBlk -w50">
            <a class="arrow__iconHover -borderLglay" href="" target="_brank">
              すべてを⾒る
              <div class="arrow-glay">
                <span class="arrow"></span>
              </div>
            </a>
          </div>
        </section>
        <%- include('../include/subpages/_irDoc.ejs',); %>
        <!-- /.libraryBlock -->
        <%- include('../include/subpages/_irLinkBlk.ejs',); %>
        <!-- /.linkBlk -->

      </div>
      <%- include('../include/subpages/_irBnrBlk.ejs',); %>
      <!-- /.bnrBlk -->
      <div class="contentWrap">
        <div class="manageInfo">
          <p class="manageInfo__ttl">経営情報</p>
          <p class="manageInfo__lead">各種調査機関の提供する、IR関連資料をご確認いただけます。</p>
          <ul class="manageInfo__list">
            <li class="manageInfo__list-info01">
              <a href=""></a>
            </li>
            <li class="manageInfo__list-info02">
              <a href=""></a>
            </li>
            <li class="manageInfo__list-info03">
              <a href=""></a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <%- include('../include/_footer.ejs'); %>
  </body>
</html>