<% page = {
  title: "History",
  description: "Woven Cityが建てられるのは、静岡県裾野市の一角。トヨタの東富士工場があった場所です。1960年代から続く歴史を基盤として、今後も地域の皆さまとともに歩んでまいります。",
  path: "/jpn/",
  devPath: "../",
  includePath: "../",
  jpAssetsPath: "/",
  devJpAssetsPath: "../../",
  url: "",
  name: "history"
} %>

<!DOCTYPE html>
<html lang="ja">
  <%- include(`${page.includePath}_include/head.ejs`); %>
  <body>
    <%- include(`${page.includePath}_include/header.ejs`); %>
    <main id="js-main" class="Main" data-page="history">
      <div id="js-hero" class="DetailHero -history is-before">
        <div class="DetailHero__bg">
          <div class="Inner">
            <div class="DetailHero__inner">
              <h1 class="Heading"><span>History</span></h1>
              <div class="DetailHero__description">
                <p>Woven Cityが建てられるのは、静岡県裾野市の一角。<br>トヨタの東富士工場があった場所です。<br>1960年代から続く歴史を基盤として、<br>今後も地域の皆さまとともに歩んでまいります。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="js-content" class="Content is-before">
        <div class="History">
          <div class="History__content">
            <div class="Inner">
              <section class="History__section">
                <div class="History__sectionInner">
                  <h2 data-animate class="History__heading">裾野市とトヨタグループの歴史</h2>
                  <div data-animate class="History__paragraph">
                    <p>1966年11月、自動車性能試験場、後の東富士研究所が完成。翌1967年5月には乗用車組立工場、後のトヨタ自動車東日本東富士工場が稼働を開始しました。</p>
                  </div>
                </div>
                <div class="Carousel js-slider">
                  <div class="Carousel__list swiper-wrapper">
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_1-01.jpg` %>" decoding="async" loading="lazy" alt="裾野市とトヨタグループの歴史の写真 #01">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_1-02.jpg` %>" decoding="async" loading="lazy" alt="裾野市とトヨタグループの歴史の写真 #02">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_1-03.jpg` %>" decoding="async" loading="lazy" alt="裾野市とトヨタグループの歴史の写真 #03">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_1-04.jpg` %>" decoding="async" loading="lazy" alt="裾野市とトヨタグループの歴史の写真 #04">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_1-05.jpg` %>" decoding="async" loading="lazy" alt="裾野市とトヨタグループの歴史の写真 #05">
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="Carousel__controller">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </section>
              <section class="History__section">
                <div class="History__sectionInner">
                  <h2 data-animate class="History__heading">街いちばんの会社になるために</h2>
                  <div data-animate class="History__paragraph">
                    <p>それ以来、トヨタ自動車は市域の皆さまから愛され頼りにされる、この町いちばんの会社になりたいと願い続けてきました。</p>
                    <p>そして50年以上の長きにわたり裾野市の皆さまとともに成長してまいりました。事業を通じた貢献に加え、地域貢献活動を通じて地域の皆さまとの交流を深めてまいりました。1977年からはトヨタスクールと呼ばれる社会科見学、工場見学などでの受け入れを開始。のべ4万人の子供たちに、自動車産業や地域産業について学んでいただきました。</p>
                  </div>
                </div>
                <div class="Carousel js-slider">
                  <div class="Carousel__list swiper-wrapper">
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_2-01.jpg` %>" decoding="async" loading="lazy" alt="街いちばんの会社になるためにの写真 #01">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_2-02.jpg` %>" decoding="async" loading="lazy" alt="街いちばんの会社になるためにの写真 #02">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_2-03.jpg` %>" decoding="async" loading="lazy" alt="街いちばんの会社になるためにの写真 #03">
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="Carousel__controller">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>            
              </section>
              <section class="History__section">
                <div class="History__sectionInner">
                  <h2 data-animate class="History__heading">Woven Cityの原点</h2>
                  <div data-animate class="History__paragraph">
                    <p>2011年3月11日に発生した東日本大震災。トヨタ自動車は東北地方で雇用を創出し、納税し、復興を長期的に支えるために、東北地方での工場設立を決断しました。</p>
                    <p>そしてこれを実現するため、2020年12月、累計7000人の従業員が働いたトヨタ自動車東日本の東富士工場が閉鎖されました。</p>
                    <p>それまでこの工場では、マークIIシリーズやアイシス、クラウンコンフォート、ジャパンタクシー、センチュリーなど40車種以上を世の中に送り出し、累計752万台もの車両を生産してきました。</p>
                    <p>まさに日本のモータリゼーションをけん引し、人々の暮らしを支え、クルマ文化をつくってきました。</p>
                  </div>
                  <section data-animate class="History__section -sub">
                    <h3 class="History__heading">TMEJ従業員の方とのエピソード</h3>
                    <div class="History__paragraph">
                      <p>トヨタ自動車社長の豊田（当時）が東富士工場を訪れた際、「東北に移ってまた皆でクルマをつくっていきたい。だが人それぞれ事情があるから、すべての仲間がそうできるわけではない」と、涙ながらに想いを語った従業員がいました。</p>
                      <p>自分のことよりも、仲間のこと、人の気持ちを一番に考える。トヨタ自動車東日本の従業員が築いてきたそのような歴史が、この東富士には根付いています。</p>
                      <p>Woven Cityは更地の上にできる街ではありません。皆で築いてきた歴史や想いをしっかりと受け継ぎ、ヒト中心の街づくりを進めてまいります。</p>
                    </div>
                  </section>              
                </div>
                <div class="Carousel js-slider">
                  <div class="Carousel__list swiper-wrapper">
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_3-01.jpg` %>" decoding="async" loading="lazy" alt="Woven Cityの原点の写真 #01">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_3-02.jpg` %>" decoding="async" loading="lazy" alt="Woven Cityの原点の写真 #02">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_3-03.jpg` %>" decoding="async" loading="lazy" alt="Woven Cityの原点の写真 #03">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_3-04.jpg` %>" decoding="async" loading="lazy" alt="Woven Cityの原点の写真 #04">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.jpAssetsPath}assets/images/history/history_3-05.jpg` %>" decoding="async" loading="lazy" alt="Woven Cityの原点の写真 #05">
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="Carousel__controller">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>            
              </section>
            </div>
          </div>
          <section class="History__footer">
            <div class="Inner">
              <h2 data-animate class="History__heading -large">今後に向けて</h2>
              <div class="History__footerContent">
                <div class="History__block">
                  <div data-animate class="History__footerParagraph">
                    <p>2021年10月5日、静岡県裾野市は地域住民の皆さま向けに「これからのまちづくり」説明会を開催しました。ウーブン・プラネット・ホールディングスのCEO ジェームス・カフナーもWoven Cityについて話をさせていただきました。</p>
                  </div>
                  <div data-animate class="History__movie">
                    <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/v-XEOKjHfNQ?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>    
                <div class="History__block -reverse">
                  <div data-animate class="History__footerParagraph">
                    <p>2021年2月23日の地鎮祭で豊田社長（当時）がお約束した通り、
                      <em>「東富士工場の歴史をこの町の未来につなげたい」</em>
                      <em>「地域の皆様から愛され頼りにされる、この町いちばんの会社になりたい」</em>
                      今後もこの想いを決して忘れず、地域の皆様とともに、未来に向けた街づくりに取り組んでいきたいと思います。
                    </p>
                  </div>
                  <div data-animate class="History__image">
                    <img src="<%= `${page.jpAssetsPath}assets/images/history/history_4.jpg` %>" decoding="async" loading="lazy" alt="地鎮祭の様子">
                  </div>
                </div>    
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <%- include(`${page.includePath}_include/footer.ejs`); %>
    <%- include(`${page.includePath}_include/script.ejs`); %>
  </body>
</html>