<% page = {
  title: "Contact",
  description: "実際に人々が居住するWoven Cityで、世の中にまだないサービスや製品の実証を通じて、新たな価値の創造に取り組む発明家や企業の皆さまを募集しています。",
  path: "/jpn/",
  devPath: "../",
  includePath: "../",
  jpAssetsPath: "/",
  devJpAssetsPath: "../../",
  url: "",
  name: "contact"
} %>

<!DOCTYPE html>
<html lang="ja">
  <%- include(`${page.includePath}_include/head.ejs`); %>
  <body>
    <%- include(`${page.includePath}_include/header.ejs`); %>
    <main id="js-main" class="Main" data-page="partners">
      <div id="js-hero" class="DetailHero -partners is-before">
        <div class="DetailHero__bg">
          <div class="Inner">
            <div class="DetailHero__inner">
              <h1 class="Heading"><span>Contact</span></h1>
              <div class="DetailHero__description">
                <p>実際に人々が居住するWoven Cityで、世の中にまだないサービスや製品の実証を通じて、新たな価値の創造に取り組む発明家や企業の皆さまを募集しています。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="js-content" class="Content is-before">
        <section data-animate class="Partners__form">
          <div class="Partners__formInner">
            <div class="Partners__formLogo">
              <img src="<%= `${page.jpAssetsPath}` %>assets/images/partners/thanks_logo.svg" alt="TOYOTA WOVEN CITY">
            </div>
            <div class="Partners__formImages">
              <img src="<%= `${page.jpAssetsPath}` %>assets/images/partners/thanks_img.png" alt="images">
            </div>
            <div class="Partners__formDescription">
              <p>To everyone who registered with the Woven City website,</p>
              <p>We thank you for your valuable feedback and proposals related to the Woven City project. We would like to express our sincere gratitude for all of the encouraging support and interest we have received.</p>
              <p>As we have received more feedback and proposals than initially anticipated, please allow us some additional time to review all of them. We highly appreciate your patience. For partnership offers, we would like to contact candidates individually in due course depending on the proposal. One of the unwavering themes of Woven City is that it is ‘ever-evolving’, and we are continuously conducting various studies and making improvements. For this reason, it is difficult for us to let candidates know when we will be in touch. Thank you for your kind understanding.<br>
              Regarding residency, we are currently considering the details. <br>
              If you are interested in joining our Woven City team, please apply here<br>
              <a href="https://jobs.lever.co/woven-by-toyota?department=Woven%20City">https://jobs.lever.co/woven-by-toyota?department=Woven%20City</a><br>
              Career page <a href="https://woven.toyota/en/careers">https://woven.toyota/en/careers</a></p>
              <p>Thank you again for your interest and we look forward to sharing additional information with all of you and invite you to visit our website and the official Woven City Facebook page to stay informed on the latest developments:<br>
                Together with our partners, the Woven City project aims to create a city built for happiness. We thank you again for your continued support.</p>
              <p class="class-line">Sincerely,<br>
                The Woven City Team</p>
              <p>この度は、Woven Cityへ貴重なご意見やご提案を頂き、誠にありがとうございます。心より感謝申し上げます。<p>
              <p>これまでに世界中から予想を超える大きな反響を頂き、内容を拝見するのに時間を要しております。皆様より貴重なご提案・ご意見をお寄せいただきながらお時間をいただいておりますこと、お詫び申し上げます。</p>
              <p>パートナーシップなどのご提案については、いただいた内容に応じて候補となる方には順次個別にご連絡させていただきたいと考えております。Woven Cityは常に進化・改善していく「未完成の街」をブレない軸としており、今後も継続的に様々な検討を進めてまいります。このため、大変心苦しい限りではございますが、ご連絡のタイミングについてお伝えすることが難しい状況です。何卒ご理解を賜りたく、よろしくお願い申し上げます。<br>
                なお、住民募集については詳細を検討しているところでございます。<br>
                また、Woven Cityチームで働きたいと思っていただいた方はぜひ以下のページからご応募下さい。チーム一同、心よりお待ちしています。<br>
                ・募集中の職種　<a href="https://jobs.lever.co/woven-by-toyota?department=Woven%20City">https://jobs.lever.co/woven-by-toyota?department=Woven%20City</a><br>
                ・採用情報　<a href="https://woven.toyota/jp/careers">https://woven.toyota/jp/careers</a></p>
              <p>Woven Cityチームは、未来に向け多くの仲間たちと幸せがあふれる街づくりに挑戦してまいります。 Woven Cityの最新情報は公式サイトや公式Facebookページなどを通じてお伝えしてまいりますので、ご覧いただけますと幸いです。</p>
              <p>今後ともWoven City プロジェクトへのご支援を何卒よろしくお願いいたします。</p>
            </div>
            <div class="Partners__formLinks">
              <a href="https://www.facebook.com/WovenCity.GL" class="Partners__formLinks__item" target="_blank">
                <img src="<%= `${page.jpAssetsPath}` %>assets/images/common/logo_facebook.svg" alt="FacebookGlobal">
                Facebook Global
              </a>
              <a href="https://www.facebook.com/WovenCity.JP" class="Partners__formLinks__item" target="_blank">
                <img src="<%= `${page.jpAssetsPath}` %>assets/images/common/logo_facebook.svg" alt="FacebookJapan">
                Facebook Japan
              </a>
              <a href="https://www.woven-city.global/?utm_source=inquiry&utm_medium=email&utm_campaign=inquiry_reply&utm_term=&utm_content=" class="Partners__formLinks__item">
                <img src="<%= `${page.jpAssetsPath}` %>assets/images/common/logo_link.svg" alt="LinkGlobal">
                Website Global
              </a>
              <a href="https://www.woven-city.global/jpn/?utm_source=inquiry&utm_medium=email&utm_campaign=inquiry_reply&utm_term=&utm_content=" class="Partners__formLinks__item">
                <img src="<%= `${page.jpAssetsPath}` %>assets/images/common/logo_link.svg" alt="LinkJapan">
                Website Japan
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include(`${page.includePath}_include/footer.ejs`); %>
    <%- include(`${page.includePath}_include/script.ejs`); %>
  </body>
</html>