<div class="p-top__fv">
  <div class="p-top__slideArea">
    <div class="p-top__slideWrap">
      <ul class="p-top__slide --upper --first js-fv-slider">
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_1.webp" alt="slide1 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_2.webp" alt="slide2 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_3.webp" alt="slide3 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_4.webp" alt="slide4 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_5.webp" alt="slide5 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_6.webp" alt="slide6 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_7.webp" alt="slide7 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_8.webp" alt="slide8 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_9.webp" alt="slide9 upper" width="195" height="260" loading="eager">
        </li>
      </ul>
      <ul class="p-top__slide --upper --second js-fv-slider">
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_1.webp" alt="slide1 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_2.webp" alt="slide2 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_3.webp" alt="slide3 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_4.webp" alt="slide4 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_5.webp" alt="slide5 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_6.webp" alt="slide6 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_7.webp" alt="slide7 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_8.webp" alt="slide8 upper" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_upper_9.webp" alt="slide9 upper" width="195" height="260" loading="eager">
        </li>
      </ul>
    </div>
    <div class="p-top__fvCatchImg">
      <div class="p-top__fvCatchInner" id="js-top-catch">
        <img class="is-pc text" src="<%= data.imgPath %>/top/fv_catchcopy_text.svg" alt="共に新しい を開こう">
        <img class="is-pc shape-pc js-fv-shape" src="<%= data.imgPath %>/top/fv_catchcopy_shape.svg" alt="Page">
        <img class="is-sp text" src="<%= data.imgPath %>/top/fv_catchcopy_text_sp.svg" alt="共に新しい を開こう">
        <img class="is-sp shape-sp js-fv-shape" src="<%= data.imgPath %>/top/fv_catchcopy_shape_sp.svg" alt="Page">
      </div>
    </div>
    <div class="p-top__slideWrap">
      <ul class="p-top__slide --lower --first js-fv-slider">
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_1.webp" alt="slide1 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_2.webp" alt="slide2 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_3.webp" alt="slide3 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_4.webp" alt="slide4 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_5.webp" alt="slide5 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_6.webp" alt="slide6 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_7.webp" alt="slide7 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_8.webp" alt="slide8 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_9.webp" alt="slide9 lower" width="195" height="260" loading="eager">
        </li>
      </ul>
      <ul class="p-top__slide --lower --second js-fv-slider">
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_1.webp" alt="slide1 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_2.webp" alt="slide2 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_3.webp" alt="slide3 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_4.webp" alt="slide4 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_5.webp" alt="slide5 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_6.webp" alt="slide6 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_7.webp" alt="slide7 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_8.webp" alt="slide8 lower" width="195" height="260" loading="eager">
        </li>
        <li>
          <img src="<%= data.imgPath %>/top/slide_lower_9.webp" alt="slide9 lower" width="195" height="260" loading="eager">
        </li>
      </ul>
    </div>
  </div>
  <div class="p-top__scrollDown">
    <p>SCROLL DOWN</p>
    <div class="p-top__scrollDownBorder"></div>
  </div>
</div>