<section class="p-top__people">
  <div class="p-top__peopleHeading">
    <div class="c-headingArea">
      <h2 class="c-heading --people js-scrollFadeIn --heading">
        <img src="<%= data.commonImgPath %>/heading_people.svg" alt="people" loading="lazy">
      </h2>
      <p class="c-headingSub --people">
        <span>社員インタビュー</span>
      </p>
    </div>
  </div>
  <div class="p-top__peopleSlider swiper js-scrollFadeIn --block" id="js-top-swiper">
    <ul class="p-top__peopleList swiper-wrapper">
      <li class="c-peopleCard swiper-slide">
        <a href="#">
          <div class="c-peopleCard__img">
            <img src="<%= data.imgPath %>/top/swiper_person_1.jpg" alt="top swiper1" loading="lazy">
          </div>
          <div class="c-peopleCard__linkBtn">
            <span class="text">詳しくみる</span>
            <span class="icon">
              <img src="<%= data.commonImgPath %>/icon_more_btn_people.svg" alt="→ ボタン" loading="lazy">
            </span>
          </div>
          <div class="c-peopleCard__text">
            <p class="c-peopleCard__label"><span class="se">SE</span></p>
            <p class="c-peopleCard__depart"><span>システムエンジニアリング・サービス</span></p>
            <p class="c-peopleCard__message">
              <span>テキストが入ります。テキス</span>
              <span>トが入ります。テキス</span>
            </p>
          </div>
        </a>
      </li>
      <li class="c-peopleCard swiper-slide">
        <a href="#">
          <div class="c-peopleCard__img">
            <img src="<%= data.imgPath %>/top/swiper_person_2.jpg" alt="top swiper2" loading="lazy">
          </div>
          <div class="c-peopleCard__linkBtn">
            <span class="text">詳しくみる</span>
            <span class="icon">
              <img src="<%= data.commonImgPath %>/icon_more_btn_people.svg" alt="→ ボタン" loading="lazy">
            </span>
          </div>
          <div class="c-peopleCard__text">
            <p class="c-peopleCard__label"><span class="sales">営業</span></p>
            <p class="c-peopleCard__depart"><span>システムエンジニアリング・サービス</span></p>
            <p class="c-peopleCard__message">
              <span>テキストが入ります。テキス</span>
              <span>トが入ります。テキス</span>
            </p>
          </div>
        </a>
      </li>
      <li class="c-peopleCard swiper-slide">
        <a href="#">
          <div class="c-peopleCard__img">
            <img src="<%= data.imgPath %>/top/swiper_person_3.jpg" alt="top swiper3" loading="lazy">
          </div>
          <div class="c-peopleCard__linkBtn">
            <span class="text">詳しくみる</span>
            <span class="icon">
              <img src="<%= data.commonImgPath %>/icon_more_btn_people.svg" alt="→ ボタン" loading="lazy">
            </span>
          </div>
          <div class="c-peopleCard__text">
            <p class="c-peopleCard__label"><span class="sales">営業</span></p>
            <p class="c-peopleCard__depart"><span>システムエンジニアリング・サービス</span></p>
            <p class="c-peopleCard__message">
              <span>テキストが入ります。テキス</span>
              <span>トが入ります。テキス</span>
            </p>
          </div>
        </a>
      </li>
      <li class="c-peopleCard swiper-slide">
        <a href="#">
          <div class="p-top__peopleVisual">
            <div class="c-peopleCard__img">
              <img src="<%= data.imgPath %>/top/swiper_person_4.jpg" alt="top swiper4" loading="lazy">
            </div>
            <div class="c-peopleCard__linkBtn">
              <span class="text">詳しくみる</span>
              <span class="icon">
                <img src="<%= data.commonImgPath %>/icon_more_btn_people.svg" alt="→ ボタン" loading="lazy">
              </span>
            </div>
          </div>
          <div class="c-peopleCard__text">
            <p class="c-peopleCard__label"><span class="se">SE</span></p>
            <p class="c-peopleCard__depart"><span>システムエンジニアリング・サービス</span></p>
            <p class="c-peopleCard__message">
              <span>テキストが入ります。テキス</span>
              <span>トが入ります。テキス</span>
            </p>
          </div>
        </a>
      </li>
      <li class="c-peopleCard swiper-slide">
        <a href="#">
          <div class="c-peopleCard__img">
            <img src="<%= data.imgPath %>/top/swiper_person_5.jpg" alt="top swiper5" loading="lazy">
          </div>
          <div class="c-peopleCard__linkBtn">
            <span class="text">詳しくみる</span>
            <span class="icon">
              <img src="<%= data.commonImgPath %>/icon_more_btn_people.svg" alt="→ ボタン" loading="lazy">
            </span>
          </div>
          <div class="c-peopleCard__text">
            <p class="c-peopleCard__label"><span class="se">SE</span></p>
            <p class="c-peopleCard__depart"><span>システムエンジニアリング・サービス</span></p>
            <p class="c-peopleCard__message">
              <span>テキストが入ります。テキス</span>
              <span>トが入ります。テキス</span>
            </p>
          </div>
        </a>
      </li>
      <li class="c-peopleCard swiper-slide">
        <a href="#">
          <div class="c-peopleCard__img">
            <img src="<%= data.imgPath %>/top/swiper_person_6.jpg" alt="top swiper6" loading="lazy">
          </div>
          <div class="c-peopleCard__linkBtn">
            <span class="text">詳しくみる</span>
            <span class="icon">
              <img src="<%= data.commonImgPath %>/icon_more_btn_people.svg" alt="→ ボタン" loading="lazy">
            </span>
          </div>
          <div class="c-peopleCard__text">
            <p class="c-peopleCard__label"><span class="sales">営業</span></p>
            <p class="c-peopleCard__depart"><span>システムエンジニアリング・サービス</span></p>
            <p class="c-peopleCard__message">
              <span>テキストが入ります。テキス</span>
              <span>トが入ります。テキス</span>
            </p>
          </div>
        </a>
      </li>
      <li class="c-peopleCard swiper-slide">
        <a href="#">
          <div class="c-peopleCard__img">
            <img src="<%= data.imgPath %>/top/swiper_person_7.jpg" alt="top swiper7" loading="lazy">
          </div>
          <div class="c-peopleCard__linkBtn">
            <span class="text">詳しくみる</span>
            <span class="icon">
              <img src="<%= data.commonImgPath %>/icon_more_btn_people.svg" alt="→ ボタン" loading="lazy">
            </span>
          </div>
          <div class="c-peopleCard__text">
            <p class="c-peopleCard__label"><span class="se">SE</span></p>
            <p class="c-peopleCard__depart"><span>システムエンジニアリング・サービス</span></p>
            <p class="c-peopleCard__message">
              <span>テキストが入ります。テキス</span>
              <span>トが入ります。テキス</span>
            </p>
          </div>
        </a>
      </li>
    </ul>
    <div class="p-top__peopleNavigation swiper-button-prev"></div>
    <div class="p-top__peopleNavigation swiper-button-next"></div>
    <div class="p-top__peoplePagination swiper-pagination"></div>
  </div>
  <div class="p-top__peopleTopLink js-scrollFadeIn --block">
    <div class="c-button --whiteBack">
      <a href="<%= data.path %>/people/">
        <span>社員インタビューへ</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="18.392" height="18.81" viewBox="0 0 18.392 18.81">
          <g transform="translate(1 1.398)">
            <line x2="8" transform="translate(0 8)" fill="none" stroke="#150578" stroke-linecap="round" stroke-width="2"/>
            <path d="M0,6.139,8.318,0S14.285,4.6,16,6.139" transform="translate(16.139) rotate(90)" fill="none" stroke="#150578" stroke-linecap="round" stroke-width="2"/>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="c-interviewArea --top js-scrollFadeIn --block" id="js-interview">
    <h3 class="c-interviewArea__heading">
      <span class="icon">
        <img src="<%= data.commonImgPath %>/icon_interview.svg" alt="MOVIE Icon" loading="lazy">
      </span>
      <span class="text">INTERVIEW MOVIES</span>
    </h3>
    <p class="c-interviewArea__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <ul class="c-interviewArea__movie">
      <li>
        <div class="c-interviewArea__img js-modalOpenBtn">
          <img src="<%= data.commonImgPath %>/movie_sales_thumb.png" alt="営業インタビュー　サムネイル" loading="lazy">
          <button>
            <img src="<%= data.commonImgPath %>/icon_movie_start.svg" alt="再生ボタン" loading="lazy">
          </button>
        </div>
        <p class="c-interviewArea__label">営業インタビュー</p>
      </li>
      <li>
        <div class="c-interviewArea__img js-modalOpenBtn">
          <img src="<%= data.commonImgPath %>/movie_se_thumb.png" alt="SEインタビュー　サムネイル" loading="lazy">
          <button>
            <img src="<%= data.commonImgPath %>/icon_movie_start.svg" alt="再生ボタン" loading="lazy">
          </button>
        </div>
        <p class="c-interviewArea__label">SEインタビュー</p>
      </li>
    </ul>
  </div>
  <div class="p-top__peopleBgImg js-scrollFadeIn --block">
    <img src="<%= data.imgPath %>/top/people_bg.webp" alt="People Bg" loading="lazy">
  </div>
</section>