<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "経営戦略 | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "経営戦略。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
<body>
	<%- include('../../include/_header.ejs'); %>
	<main id="financial" class="subpage">
		<div class="breadcrumb">
			<ol class="breadcrumb__list">
				<li>
					<a href="/">TOP</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../">IR情報</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a>経営戦略</a>
				</li>
			</ol><!-- /.breadcrumb -->
		</div>
		<section class="imgKv">
			<h1 class="imgKv__ttl">経営戦略</h1>
			<span class="imgKv__line"></span>
		</section>
		<div class="contentWrap">
			<section class="txtBase">
				<h3 class="txtBase__ttl">経営の基本方針</h3>
				<p class="txtBase__txt">C&Rグループは、「人の能力を最大限に引き出し、人と社会の幸せのために貢献する」ことを統括理念とし、安定的な成長を続け、あらゆるステークホルダーから信頼される企業グループとして、社会的責任を果たしていくことを経営目標としております。<br><br>また、「プロフェッショナルの生涯価値の向上」と「クライアントの価値創造への貢献」を追求し、クリエイティブ、医療、その他の各分野において、独創的かつ高い付加価値のあるサービスを提供することにより、企業価値の最大化を図り、社会の繁栄と活性化の一翼を担っていきたいと考えております。</p>
				<h3 class="txtBase__ttl">目標とする経営指標</h3>
				<p class="txtBase__txt">C&Rグループは、収益力の向上を図るため、売上高営業利益率を経営指標とするとともに、キャッシュ・フローを重視しております。さらに自己資本比率の高さを維持しながら、経営効率の指標であるROE・ROAを重視した経営を行なってまいります。</p>
				<h3 class="txtBase__ttl">中長期的な会社の経営戦略</h3>
				<p class="txtBase__txt">
					C&Rグループは、「プロフェッショナルのための真のエージェンシー」をめざし、<span class="txtBase__txt-innerBold">（1)エージェンシー事業のさらなる収益力の強化、（2)新規事業のサービス基盤の確立、（3)グループ力の一層の強化、（4)コーポレートガバナンスの強化</span>、の４つの基本戦略を基に、より高い信頼を得られる企業グループをめざし、グループ会社相互の連携によりシナジー効果を高め、グループ全体の価値向上に努めております。
				</p>
				
				<h4 class="txtBase__ttl--h4">（1)エージェンシー事業のさらなる収益力の強化</h4>
				<p class="txtBase__txt">クライアントのニーズに的確かつ迅速に対応できる機動的な体制を整えると共に、これまで蓄積してきたノウハウを活用し、ターゲットの拡大を図ってまいります。さらに、新たなサービス、システム等による付加価値を提供することにより、クライアントの企業価値向上への貢献をめざしてまいります。</p>
				<h4 class="txtBase__ttl--h4">（2) 新規事業のサービス基盤の確立</h4>
				<p class="txtBase__txt">C&Rグループは、急激に変化する市場を先行的に捉え、的確に対応するため、サービスの多様化に取り組んでまいります。日本のコンテンツを海外へ展開する等、新たな分野における市場獲得をめざしてまいります。また、新たな専門分野におけるエージェンシー事業の展開を検討・具体化してまいります。</p>
				<h4 class="txtBase__ttl--h4">（3) グループ力の一層の強化</h4>
				<p class="txtBase__txt">C&Rグループ各社の特性を最大限に活かした事業展開を行うことで、各々の成長を図ってまいります。<br>また、連結経営の高度化により、グループ全体の経営効率を高め、強い結束力とシナジー効果を発揮する企業グループをめざしてまいります。</p>
				<h4 class="txtBase__ttl--h4">（4)コーポレートガバナンスの強化</h4>
				<p class="txtBase__txt">また、適宜業務フローの整備・改善を行ない、正確・迅速な業務処理を進め、効率的な資産管理とキャッシュ・フローの管理に努めてまいります。</p>

				<div class="bnrBlk">
					<ul class="bnrBlk__list">
						<li class="-planLink">
							<a class="" href="/ir/strategy/plan/">
								<span class="bnrBlk__txt">中期経営計画</span>
							</a>
						</li>
					</ul>
				</div>
			</section>
			
			<%- include('../../include/subpages/_irLinkBlk.ejs',); %>
      <!-- /.linkBlk -->
		</div>
		<%- include('../../include/subpages/_irBnrBlk.ejs',); %>
		<!-- /.bnrBlk -->
	</main>
	<%- include('../../include/_footer.ejs'); %>
</body>

</html>