<%
  const meta = {
    title: "ニュース - お知らせ - 柿内水産",
    description: "柿内水産のお知らせです。企業の取り組みや商品情報、イベントに関する情報などを発信しています。",
    path: "../..",
    parentName: "お知らせ",
    parentUrl: "information",
    pageName: "お知らせ詳細の見出しテキストテキストテキストテキストテキ ストテキストテキストテキストテキストテキストテキスト 商品",
    hierarchy: "third",
    category: "products",
    labelName: "商品",
    current: "information"
  }
%>
<!DOCTYPE html>
<html lang="ja">
  <%- include('../../_include/_head.ejs', {meta: meta}); %>
  <body>
    <div>
      <%- include('../../_include/_header.ejs', {meta: meta}); %>
      <main class="l-main">
        <%- include('../../_include/parts/_breadCrumbs.ejs', {meta: meta}); %>
        <%- include('../_template/_articleTemplate.ejs', {meta: meta}); %>
        <div class="l-main__bottom">
          <%- include('../../_include/parts/_relatedLinks.ejs', {meta: meta}); %>
        </div>
        <%- include('../../_include/parts/_inquiryArea.ejs', {meta: meta}); %>
        <%- include('../../_include/parts/_breadCrumbs.ejs', {meta: meta}); %>
      </main>
      <%- include('../../_include/_footer.ejs', {meta: meta}); %>
    </div>
    <%- include('../../_include/_script.ejs', {meta: meta}); %>
  </body>
</html>