<% page = {
  title: "History",
  description: "Toyota has a history of collaboration with the community of Susono City that began in the 1960s. We look forward to continuing our many decades of working together with the local community.",
  path: "/",
  devPath: "../",
  includePath: "../",
  url: "",
  name: "history"
} %>

<!DOCTYPE html>
<html lang="en">
  <%- include(`${page.includePath}_include/head.ejs`); %>
  <body>
    <%- include(`${page.includePath}_include/header.ejs`); %>
    <main id="js-main" class="Main" data-page="history">
      <div id="js-hero" class="DetailHero -history is-before">
        <div class="DetailHero__bg">
          <div class="Inner">
            <div class="DetailHero__inner">
              <h1 class="Heading"><span>History</span></h1>
              <div class="DetailHero__description">
                <p>Toyota has a history of collaboration with the community of Susono City that began in the 1960s.<br>We look forward to continuing our many decades of working together with the local community.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="js-content" class="Content is-before">
        <div class="History">
          <div class="History__content">
            <div class="Inner">
              <section data-animate class="History__section">
                <div class="History__sectionInner">
                  <h2 data-animate class="History__heading">History of Susono City and the Toyota Group</h2>
                  <div data-animate class="History__paragraph">
                    <p>In November 1966, the Automotive Performance Test Center, later to become the Higashi-Fuji Research Center, was completed. In May 1967, a passenger car assembly plant was completed and later became the TMEJ Higashi-Fuji Plant. </p>
                  </div>
                </div>
                <div class="Carousel js-slider">
                  <div class="Carousel__list swiper-wrapper">
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_1-01.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'History of Susono City and the Toyota Group' #01">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_1-02.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'History of Susono City and the Toyota Group' #02">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_1-03.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'History of Susono City and the Toyota Group' #03">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_1-04.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'History of Susono City and the Toyota Group' #04">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_1-05.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'History of Susono City and the Toyota Group' #05">
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="Carousel__controller">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </section>
              <section data-animate class="History__section">
                <div class="History__sectionInner">
                  <h2 data-animate class="History__heading">To be beloved in the community</h2>
                  <div data-animate class="History__paragraph">
                    <p>Since then, we have always strived to be beloved and useful to everyone in the community and we intend to continue working toward that through collaboration, deepening our interaction with residents, and by adding local value.</p>
                    <p>We have conducted many activities in Susono City over the past 50 years including starting the Toyota School program in 1977, through which a total of 40,000 children have learned about the automobile industry and local industries.</p>
                  </div>
                </div>
                <div class="Carousel js-slider">
                  <div class="Carousel__list swiper-wrapper">
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_2-01.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'To be beloved in the community' #01">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_2-02.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'To be beloved in the community' #02">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_2-03.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'To be beloved in the community' #03">
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="Carousel__controller">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>            
              </section>
              <section data-animate class="History__section">
                <div class="History__sectionInner">
                  <h2 data-animate class="History__heading">The origin of Woven City</h2>
                  <div data-animate class="History__paragraph">
                    <p>After the Great East Japan Earthquake on March 11, 2011, Toyota built a new manufacturing plant in the Tohoku area to support the region's recovery by creating new jobs, paying local taxes, and helping bolster its long-term prosperity.</p>
                    <p>In order to realize this, Toyota transferred the Higashi-Fuji Plant of Toyota Motor East Japan to the Tohoku area. Regrettably, the original TMEJ Higashi-Fuji Plant, with total of 7,000 employees, was closed in December 2020.</p>
                    <p>Until then, it had produced a cumulative total of 7.52 million vehicles, comprising more than 40 models ranging from the Mark II series, Crown Comfort, and Isis to the Century and JPN Taxi.</p>
                    <p>The plant was a driving force in the motorization of Japan, supported people's daily lives, and helped create the car culture of today.</p>
                  </div>
                  <section data-animate class="History__section -sub">
                    <h3 class="History__heading">TMEJ employee episodes</h3>
                    <div class="History__paragraph">
                      <p>During a conversation with Akio Toyoda, then President of Toyota Motor Corporation, an employee told him, “I would like to move to Tohoku and continue to make cars, but due to various reasons, not all employees will be able to move and work there.”</p>
                      <p>That employee put his fellow workers and other people's feelings first, rather than his own. Higashi-Fuji has a history built by TMEJ employees who prioritize others over themselves. 
                        Woven City will not simply be built on a vacant lot. Rather, it will be human-centered, inheriting the history and beliefs of TMEJ employees who put other people's feelings first.</p>
                    </div>
                </div>
                <div class="Carousel js-slider">
                  <div class="Carousel__list swiper-wrapper">
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_3-01.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'The origin of Woven City' #01">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_3-02.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'The origin of Woven City' #02">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_3-03.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'The origin of Woven City' #03">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_3-04.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'The origin of Woven City' #04">
                      </div>
                    </div>
                    <div class="Carousel__item swiper-slide">
                      <div class="Carousel__image">
                        <img src="<%= `${page.path}assets/images/history/history_3-05.jpg` %>" decoding="async" loading="lazy" alt="Photo of 'The origin of Woven City' #05">
                      </div>
                    </div>
                  </div>
                </div>          
                <div class="Carousel__controller">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>            
              </section>
            </div>
          </div>
          <section class="History__footer">
            <div class="Inner">
              <h2 data-animate class="History__heading -large">Toward the future</h2>
              <div class="History__footerContent">
                <div data-animate class="History__block">
                  <div class="History__footerParagraph">
                    <p>On October 5, 2021, a briefing session on “Future Community Building” was held for residents in Susono City, Shizuoka Prefecture. Our CEO, James Kuffner, was a guest speaker and gave a presentation on Woven City.</p>
                  </div>
                  <div class="History__movie">
                    <iframe width="560" height="315" data-cookieconsent="necessary" src="https://www.youtube.com/embed/v-XEOKjHfNQ?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>    
                <div data-animate class="History__block -reverse">
                  <div class="History__footerParagraph">
                    <p>As Akio Toyoda promised at the groundbreaking ceremony on February 23, 2021,
                      <em>“We would like to connect the history of the Higashi-Fuji Plant to the future of this city,”</em>and
                      <em>“we want to be the best-in-town company, loved and relied upon by everyone in the community.”</em>
                    </p>
                    <p>We will not forget this sentiment as we aim to achieve well-being for all through mobility. Together with the surrounding community, we will use Woven City as a proving ground for the mobility that will form the future fabric of life.</p>
                  </div>
                  <div class="History__image">
                    <img src="<%= `${page.path}assets/images/history/history_4.jpg` %>" decoding="async" loading="lazy" alt="A look at the groundbreaking ceremony">
                  </div>
                </div>    
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <%- include(`${page.includePath}_include/footer.ejs`); %>
    <%- include(`${page.includePath}_include/script.ejs`); %>
  </body>
</html>