<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__main">
      <div class="l-footer__logo">
        <a href="<%= data.path %>/">
          <img src="<%= data.commonImgPath %>/logo_white.svg" alt="TOYOTA Mobility Foundation">
        </a>
      </div>
      <ul class="l-footer__pageListWrap">
        <li>
          <ul class="l-footer__pageList">
            <li>
              <a href="<%= data.path %>/">トップ</a>
            </li>
            <li>
              <a href="<%= data.path %>/about/">当財団について</a>
            </li>
            <li>
              <a href="<%= data.path %>/topic/">主な活動分野</a>
            </li>
            <li>
              <a href="<%= data.path %>/activity/">活動内容</a>
            </li>
            <li>
              <a href="<%= data.path %>/news/">お知らせ</a>
            </li>
          </ul>
        </li>
        <li>
          <ul class="l-footer__pageList">
            <li>
              <a href="<%= data.path %>/announcement/">公告</a>
            </li>
            <li>
              <a href="https://2979uw1smka44bifib3z527y-wpengine.netdna-ssl.com/wp-content/uploads/2021/07/20210623_tmf-articles-of-incorporation_jp.pdf" target="_blank">定款</a>
            </li>
            <li>
              <a href="<%= data.path %>/privacy_policy/">個人情報に関する保護方針</a>
            </li>
            <li>
              <a href="<%= data.path %>/legal_terms/">ご利用に関して</a>
            </li>
            <li>
              <a href="<%= data.path %>/contact/">お問い合わせ</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="l-footer__sub">
      <ul class="l-footer__snsList">
        <li>
          <a href="https://www.youtube.com/@toyotamobilityfoundation" target="_blank">
            <img class="--youtube" src="<%= data.commonImgPath %>/icon_youtube.svg" alt="Youtube Icon">
            <span class="--youtube">Youtube</span>
          </a>
        </li>
      </ul>
      <p class="l-footer__copy">©2022 Toyota Mobility Foundation All Rights Reserved.</p>
    </div>
  </div>
</footer>