<section class="c-project js-scrollFadeIn">
  <div class="c-projectTextArea">
    <div class="c-headingWrap">
      <h2 class="c-heading">主な活動分野</h2>
      <p class="c-headingSub">
        <span class="c-headingSub__decoration"></span>
      </p>
    </div>
    <p class="c-text c-projectText">トヨタ・モビリティ基金は当財団のミッションに基づき、渋滞対策、交通安全、地域の移動手段維持、水素基礎研究の助成、移動困難者の移動支援、アフリカ農村の支援、<br class="is-pc">モビリティの楽しさを追求した取組み等、世界中のさまざまな移動課題の解決に取り組んでいます。</p>
    <div class="c-projectBtn --pc">
      <a href="<%= data.path %>/topic/" class="c-button">詳細を見る</a>
    </div>
  </div>
  <div class="c-projectIconArea">
    <ul class="c-projectIconList">
      <li>
        <div class="c-projectIcon trafficSafety">
          <img src="<%= data.commonImgPath %>/icon_traffic_safety.svg" alt="交通安全アイコン">
        </div>
        <p>交通安全</p>
      </li>
      <li>
        <div class="c-projectIcon trafficJam">
          <img src="<%= data.commonImgPath %>/icon_traffic_jam.svg" alt="渋滞対策アイコン">
        </div>
        <p>渋滞対策</p>
      </li>
      <li>
        <div class="c-projectIcon personSupport">
          <img src="<%= data.commonImgPath %>/icon_person_support.svg" alt="移動困難者の支援アイコン">
        </div>
        <p>移動困難者の支援</p>
      </li>
      <li>
        <div class="c-projectIcon energy">
          <img src="<%= data.commonImgPath %>/icon_energy.svg" alt="水素・エネルギーアイコン">
        </div>
        <p>水素・エネルギー</p>
      </li>
      <li>
        <div class="c-projectIcon areaSupport">
          <img src="<%= data.commonImgPath %>/icon_area_support.svg" alt="地域の移動支援アイコン">
        </div>
        <p>地域の移動支援</p>
      </li>
      <li>
        <div class="c-projectIcon publicOffering">
          <img src="<%= data.commonImgPath %>/icon_public_offering.svg" alt="コンテスト・公募アイコン">
        </div>
        <p>コンテスト・公募</p>
      </li>
    </ul>
    <div class="c-projectBtn --sp">
      <a href="<%= data.path %>/topic/" class="c-button">詳細を見る</a>
    </div>
  </div>
</section>