<div class="c-related js-scrollFadeIn">
  <div class="c-related__head">
    <div class="c-related__headInner c-headingWrap">
      <h2 class="c-heading">関連サイト</h2>
      <p class="c-headingSub">
        <span class="c-headingSub__decoration"></span>
      </p>
    </div>
  </div>
  <div class="c-related__contents">
    <div class="c-related__contentsInner">
      <div class="c-related__listTopWrap js-relatedSwiper">
        <ul class="c-related__listTop swiper-wrapper">
          <li class="swiper-slide">
            <a href="http://min-mobi.jp/" target="_blank">
              <div class="c-related__topImg">
                <img src="<%= data.commonImgPath %>/b_related_item_1.png" alt="地域に合った移動の仕組み作り">
              </div>
              <div class="c-related__topText">
                <h3>地域に合った移動の仕組み作り</h3>
                <p>地域に根付き実効を上げている活動例もあるが、地域毎の特殊要因も多く、成功例をそのまま転用するのではなく、地域の実情に合わせた工夫が必要。このような活動を支援することで、社会環境の変化に合わせながら、「移動の自由と楽しさ」が維持される地域の実現を目指していく。</p>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="https://koureidriver.com/" target="_blank">
              <div class="c-related__topImg">
                <img src="<%= data.commonImgPath %>/b_related_item_2.png" alt="高齢ドライバードットコム">
              </div>
              <div class="c-related__topText">
                <h3>高齢ドライバードットコム</h3>
                <p>事故の原因は踏み間違いだけではありません。高齢になることで認知・判断・操作のそれぞれの能力が低下していくことが様々な事故を引き起こすリスクにつながります。そこで高齢化することで運転能力にどのような変化が起きるのか、高齢者による交通事故はなぜ起きるのかを学んでいきましょう。</p>
              </div>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="https://mobility-contest.jp/" target="_blank">
              <div class="c-related__topImg">
                <img src="<%= data.commonImgPath %>/b_related_item_3.png" alt="Make a Move PROJECT">
              </div>
              <div class="c-related__topText">
                <h3>Make a Move PROJECT</h3>
                <p>いっしょに夢を描こう。未来を語ろう。誰もがその手にもつ可能性をつなげよう。みんなでつくるこの道の先に、「もっといいモビリティ社会」が広がっている。すべての人が笑顔で暮らせる明日がきっと来る。</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <ul class="c-related__listBottom">
        <li>
          <a href="https://toyotatimes.jp/" target="_blank">
            <div class="c-related__bottomImg">
              <img src="<%= data.commonImgPath %>/b_related_item_4.png" alt="トヨタイムズ">
            </div>
          </a>
        </li>
        <li>
          <a href="https://global.toyota/" target="_blank">
            <div class="c-related__bottomImg">
              <img src="<%= data.commonImgPath %>/b_related_item_5.png" alt="TOYOTA LOGO">
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>