<div class="Citypress">
  <div class="Inner">
    <div data-animate class="Citypress__inner">
      <div class="Citypress__detail">
        <h2 class="Heading -medium">Woven City Press</h2>
        <div class="Citypress__description">
          <p>Woven Cityの想い、活動や取り組みを紹介するパンフレットをご覧いただけます。​今回は発明家たちの想いにフォーカスしました。</p>
        </div>
        <p class="Citypress__footer"><a href="<%= `${page.jpAssetsPath}downloads/WovenCity_press_2302_jp.pdf` %>" class="TextLink" target="_blank" rel="noopener noreferrer">PDF download</a></p>
      </div>
      <figure class="Citypress__image">
        <img src="<%= `${page.jpAssetsPath}assets/images/top/wovencity_press-thumb_jp.png` %>" decoding="async" loading="lazy" alt="PDF thumbnail press jp">
      </figure>
    </div>
    <div data-animate class="Citypress__inner --interview">
      <div class="Citypress__detail">
        <h2 class="Heading -medium">発明家インタビュー</h2>
        <div class="Citypress__description">
          <p>Woven City Pressで掲載した発明家インタビューを紹介します。</p>
          <p>Woven City は、トヨタをはじめとした様々な企業の開発者、スタートアップ、起業家や子供からお年寄りといった住民など全ての人が、ともに未来の当たり前を発明するためのしくみ。全員が「自分以外の誰かのために」という想いを持ち、全員を発明家と呼びます。</p>
          <p>様々な立場の発明家たちが、Woven Cityでの実証実験を通して叶えたいその想いとは。<br>あなたなら誰のためのどんな幸せを実現したいか、想いを馳せながらご覧ください。</p>
        </div>
      </div>
      <ul class="Message__list">
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading --citypressJpn">
              <span>トヨタグループの開発者</span>
              <span><em>Infotainmentチーム</em></span>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.jpAssetsPath}assets/images/updates/20230210_02/01.jpg` %>" decoding="async" loading="lazy" alt="">
            </figure>
            <div class="Message__itemDescription">
              <p>“情報モビリティ”で未来のライフスタイルを実現する</p>
            </div>
            <div class="Message__itemFooter">
              <a href="<%= `${page.path}` %>updates/20230210_02.html" class="Button -primary">Learn More</a>
            </div>
          </div>
        </li>
        <li data-animate class="Message__item">
          <div class="Message__itemInner">
            <h3 class="Message__itemHeading">
              <span>スタートアップ/起業家</span>
              <span><em>生駒 崇光</em></span>
              <span>ICOMA Inc. CEO/プロダクトデザイナー</span>
            </h3>
            <figure class="Message__itemImage">
              <img src="<%= `${page.jpAssetsPath}assets/images/updates/20230210_01/01.jpg` %>" decoding="async" loading="lazy" alt="">
            </figure>
            <div class="Message__itemDescription">
              <p>乗り物の楽しみをすべての人に</p>
              <p style="text-decoration: underline;">生駒さんは、ウーブン・バイ・トヨタ社で開催している展示企画にご参加いただいた発明家で、静岡県裾野市にできるWoven Cityでの実証実験への参加は未定です。</p>
            </div>
            <div class="Message__itemFooter">
              <a href="<%= `${page.path}` %>updates/20230210_01.html" class="Button -primary">Learn More</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>