<section class="WovenCity">
  <div class="WovenCity__mainImage">
    <div class="WovenCity__mainImageInner">
      <img src="<%= `${page.jpAssetsPath}assets/images/top/woven-city.jpg` %>" decoding="async" loading="lazy" alt="Woven Cityの完成イメージ（鳥瞰図）">
    </div>
  </div>
  <div class="WovenCity__inner">
    <div class="Inner">
      <%- include('../_components/_movieArea.ejs'); %>
      <div class="WovenCity__content">
        <dl data-animate class="WovenCity__scaleList">
          <div class="WovenCity__scaleItem -large">
            <dt class="WovenCity__scaleItemTerm">Site size:</dt>
            <dd class="WovenCity__scaleItemDescription">
              <span>708,000 m<sup>2</sup></span>
              <span>175 acres</span>
            </dd>
          </div>
          <div class="WovenCity__scaleItem">
            <dt class="WovenCity__scaleItemTerm">Initial residents:</dt>
            <dd class="WovenCity__scaleItemDescription">360 people</dd>
          </div>
          <div class="WovenCity__scaleItem">
            <dt class="WovenCity__scaleItemTerm">Future residents:</dt>
            <dd class="WovenCity__scaleItemDescription">2,000 people</dd>
          </div>
        </dl>
        <section class="WovenCity__traffic">
          <h3 data-animate class="WovenCity__trafficHeading">Above-ground and <br class="_underLgOnly">Underground Mobility</h3>
          <div data-animate class="WovenCity__trafficDescription">
            <p>Woven Cityは、地上および地下空間に、ヒトを中心とした複数の動線を配置しているのが特徴です。配送や物流、公共交通、小型モビリティ、歩行者それぞれに道を創ることで、安全で効率的な移動を実現します。</p>
          </div>
          <ul class="WovenCity__trafficList">
            <li data-animate class="WovenCity__trafficItem">
              <div class="WovenCity__trafficItemInner">
                <figure class="WovenCity__trafficItemImage js-parallax">
                  <img src="<%= `${page.jpAssetsPath}assets/images/top/above-ground.jpg` %>" decoding="async" loading="lazy" alt="Image of the Above-ground">
                </figure>
                <div class="WovenCity__trafficItemDescription">
                  <p>地上の道は、3種類。自動運転車のための道、歩行者のための道、そして歩行者と低速で移動するパーソナルモビリティのための道です。</p>
                </div>
              </div>
            </li>
            <li data-animate class="WovenCity__trafficItem">
              <div class="WovenCity__trafficItemInner">
                <figure class="WovenCity__trafficItemImage js-parallax">
                  <img src="<%= `${page.jpAssetsPath}assets/images/top/underground.jpg` %>" decoding="async" loading="lazy" alt="Image of the Underground">
                </figure>
                <div class="WovenCity__trafficItemDescription">
                  <p>地下にあるのは、モノを運ぶための第4の道。街の下には物流ネットワークを支える設備を設置します。</p>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>
      <div class="WovenCity__footer">
        <a href="<%= `${page.path}history/` %>" class="Button -primary">Learn More<span class="_visuallyHidden">（Woven Cityについて）</span></a>
      </div>  
    </div>
  </div>
</section>