<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__main">
      <div class="l-footer__logo">
        <a href="<%= data.path %>/">
          <img src="<%= data.commonImgPath %>/logo_white.svg" alt="TOYOTA Mobility Foundation">
        </a>
      </div>
      <ul class="l-footer__pageListWrap">
        <li>
          <ul class="l-footer__pageList">
            <li>
              <a href="<%= data.path %>/">TOP</a>
            </li>
            <li>
              <a href="<%= data.path %>/about/">About Us</a>
            </li>
            <li>
              <a href="<%= data.path %>/topic/">Main Areas of Focus</a>
            </li>
            <li>
              <a href="<%= data.path %>/activity/">Activities</a>
            </li>
            <li>
              <a href="<%= data.path %>/news/">News</a>
            </li>
          </ul>
        </li>
        <li>
          <ul class="l-footer__pageList">
            <li>
              <a href="<%= data.path %>/announcement/">Announcements</a>
            </li>
            <li>
              <a href="https://2979uw1smka44bifib3z527y-wpengine.netdna-ssl.com/wp-content/uploads/2021/07/20210623_tmf-articles-of-incorporation_jp.pdf" target="_blank">Articles of Incorporation</a>
            </li>
            <li>
              <a href="<%= data.path %>/privacy_policy/">Privacy Policy</a>
            </li>
            <li>
              <a href="<%= data.path %>/legal_terms/">Terms of Use</a>
            </li>
            <li>
              <a href="<%= data.path %>/contact/">Contact Us</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="l-footer__sub">
      <p class="l-footer__copy">©2022 Toyota Mobility Foundation All Rights Reserved.</p>
    </div>
  </div>
</footer>