<header class="l-header" id="js-header">
  <div class="l-header__inner">
    <div class="l-header__logo">
      <a href="<%= data.path %>/">
        <img src="<%= data.commonImgPath %>/logo_gray.svg" alt="TOYOTA Mobility Foundation">
      </a>
    </div>
    <nav class="l-header__nav">
      <ul class="l-header__linkList">
        <li class="l-header__linkItem">
          <% if(data.current === 'top') { %>
          <div class="l-header__linkFirst current">
          <% } else { %>
          <div class="l-header__linkFirst">
          <% } %>
            <a href="<%= data.path %>/">
              <span>TOP</span>
            </a>
          </div>
        </li>
        <li class="l-header__linkItem">
          <% if(data.current === 'about') { %>
          <div class="l-header__linkFirst current">
          <% } else { %>
          <div class="l-header__linkFirst">
          <% } %>
            <a href="<%= data.path %>/about/">
              <span>About Us</span>
            </a>
          </div>
        </li>
        <li class="l-header__linkItem">
          <% if(data.current === 'topic') { %>
          <div class="l-header__linkFirst current">
          <% } else { %>
          <div class="l-header__linkFirst">
          <% } %>
            <a href="<%= data.path %>/topic/">
              <span>Main Areas of Focus</span>
            </a>
          </div>
        </li>
        <li class="l-header__linkItem">
          <% if(data.current === 'activity') { %>
          <div class="l-header__linkFirst current">
          <% } else { %>
          <div class="l-header__linkFirst">
          <% } %>
            <a href="<%= data.path %>/activity/">
              <span>Activities</span>
              <div class="l-header__linkSpaceAdjust"></div>
            </a>
          </div>
          <div class="l-header__secondTriggerWrap">
            <button class="l-header__secondTriggerBtn js-link-second-trigger">
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="l-header__linkSecondWrap">
            <ul class="l-header__linkSecond js-link-second">
              <li>
                <a href="<%= data.path %>/activity/">ALL</a>
              </li>
              <li>
                <a href="<%= data.path %>/activity/traffic_safety/">Traffic Safety</a>
              </li>
              <li>
                <a href="<%= data.path %>/activity/traffic_congestion/">Measures to mitigate traffic congestion</a>
              </li>
              <li>
                <a href="<%= data.path %>/activity/support_for_people/">Support for people with mobility challenges</a>
              </li>
              <li>
                <a href="<%= data.path %>/activity/hydrogen_energy/">Hydrogen/Energy</a>
              </li>
              <li>
                <a href="<%= data.path %>/activity/local_mobility_support/">Mobility support for local communities</a>
              </li>
              <li>
                <a href="<%= data.path %>/activity/contests/">Contests/Open recruitment</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="l-header__linkItem">
          <% if(data.current === 'news') { %>
          <div class="l-header__linkFirst current">
          <% } else { %>
          <div class="l-header__linkFirst">
          <% } %>
            <a href="<%= data.path %>/news/">
              <span>News</span>
              <div class="l-header__linkSpaceAdjust"></div>
            </a>
          </div>
          <div class="l-header__secondTriggerWrap">
            <button class="l-header__secondTriggerBtn js-link-second-trigger">
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="l-header__linkSecondWrap">
            <ul class="l-header__linkSecond js-link-second">
              <li>
                <a href="<%= data.path %>/news/">ALL</a>
              </li>
              <li>
                <a href="<%= data.path %>/news/info/">INFO</a>
              </li>
              <li>
                <a href="<%= data.path %>/news/update/">UPDATE</a>
              </li>
              <li>
                <a href="<%= data.path %>/news/release/">RELEASE</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="l-header__linkItem">
          <% if(data.current === 'contact') { %>
          <div class="l-header__linkFirst current">
          <% } else { %>
          <div class="l-header__linkFirst">
          <% } %>
            <a href="<%= data.path %>/contact/">
              <span>Contact Us</span>
            </a>
          </div>
        </li>
        <li class="l-header__linkItem">
          <div class="l-header__linkFirst langChange">
            <a href="<%= data.filePath %>/">
              <span>JP</span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="l-header__spBtnWrap">
      <button class="l-header__spBtn" id="js-spBtn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>