<head>
  <meta charset="UTF-8">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:url" content="">
  <% if(data.isTop) { %>
  <meta property="og:type" content="website">
  <% } else { %>
  <meta property="og:type" content="article">
  <% } %>
  <meta property="og:title" content="<%= data.title %>">
  <meta property="og:description" content="<%= data.description %>">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="">
  <meta name="twitter:title" content="<%= data.title %>">
  <meta name="twitter:description" content="<%= data.description %>">
  <meta name="twitter:image" content="">
  <link rel="stylesheet" href="<%= data.filePath %>/css/swiper.min.css">
  <link rel="stylesheet" href="<%= data.filePath %>/css/style.css">
</head>