<section class="c-project js-scrollFadeIn">
  <div class="c-projectTextArea">
    <div class="c-headingWrap">
      <h2 class="c-heading">Main Areas of Focus</h2>
      <p class="c-headingSub">
        <span class="c-headingSub__decoration"></span>
      </p>
    </div>
    <p class="c-text c-projectText">Based on its mission, the Toyota Mobility Foundation is working to solve various mobility issues around the world, such as traffic congestion and safety, maintaining local transportation options, assisting basic hydrogen research, supporting those with mobility difficulties, farming village assistance in Africa, and pursuing initiatives that bring fun and joy to mobility.</p>
    <div class="c-projectBtn --pc">
      <a href="<%= data.path %>/topic/" class="c-button">LEARN MORE</a>
    </div>
  </div>
  <div class="c-projectIconArea">
    <ul class="c-projectIconList">
      <li>
        <div class="c-projectIcon trafficSafety">
          <img src="<%= data.commonImgPath %>/icon_traffic_safety.svg" alt="交通安全アイコン">
        </div>
        <p>Traffic Safety</p>
      </li>
      <li>
        <div class="c-projectIcon trafficJam">
          <img src="<%= data.commonImgPath %>/icon_traffic_jam.svg" alt="渋滞対策アイコン">
        </div>
        <p>Measures to mitigate traffic congestion</p>
      </li>
      <li>
        <div class="c-projectIcon personSupport">
          <img src="<%= data.commonImgPath %>/icon_person_support.svg" alt="移動困難者の支援アイコン">
        </div>
        <p>Support for people with mobility challenges</p>
      </li>
      <li>
        <div class="c-projectIcon energy">
          <img src="<%= data.commonImgPath %>/icon_energy.svg" alt="水素・エネルギーアイコン">
        </div>
        <p>Hydrogen/Energy</p>
      </li>
      <li>
        <div class="c-projectIcon areaSupport">
          <img src="<%= data.commonImgPath %>/icon_area_support.svg" alt="地域の移動支援アイコン">
        </div>
        <p>Mobility support for local communities</p>
      </li>
      <li>
        <div class="c-projectIcon publicOffering">
          <img src="<%= data.commonImgPath %>/icon_public_offering.svg" alt="コンテスト・公募アイコン">
        </div>
        <p>Contests/Open recruitment</p>
      </li>
    </ul>
    <div class="c-projectBtn --sp">
      <a href="<%= data.path %>/topic/" class="c-button">LEARN MORE</a>
    </div>
  </div>
</section>