<% const array = [
    'slide_top_1.png',
    'slide_top_2.png',
    'slide_top_3.png',
    'slide_top_4.png',
    'slide_top_5.png',
    'slide_top_6.png',
    'slide_top_7.png',
    'slide_top_8.png',
  ];
%>
<div class="p-top__slideTop">
  <ul class="p-top__slideItemWrap first">
    <% let count = 1; %> 
    <% array.forEach(function (value) { %>  
    <li>
      <img src="<%= meta.path %>/images/<%= value %>" alt="top slide <%= count %>" loading="eager" width="400" height="225">
    </li>
    <% count++; %>
    <% }); %>
  </ul>
  <ul class="p-top__slideItemWrap second">
    <% let countSecond = 1; %> 
    <% array.forEach(function (value) { %>
    <li>
      <img src="<%= meta.path %>/images/<%= value %>" alt="top slide <%= countSecond %>" loading="eager" width="400" height="225">
    </li>
    <% countSecond++; %>
    <% }); %>
  </ul>
</div>