<%
  const data = {
    isTop: false,
    title: "活動内容 | 一般財団法人 トヨタ・モビリティ基金",
    description: "",
    pageName: "activity",
    current: "activity",
    pageTitle: "活動内容",
    pageTitleSub: "PROJECT REPORTS",
    path: "../..",
    imgPath: "../../images/sub",
    commonImgPath: "../../images/common",
    label: "traffic_congestion"
  }
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/common/_head.ejs', {data: data}); %>
  <body>
    <div class="p-sub__container">
      <%- include('../../include/common/_header.ejs', {data: data}); %>
      <main class="c-main">
        <%- include('../../include/sub/_mv.ejs', {data: data}); %>
        <%- include('../../include/common/_curveBg.ejs', {data: data}); %>
        <div class="p-sub__contentsWrap">
          <%- include('../_label.ejs', {data: data}); %>
          <div class="p-sub__contents">
            <ul class="p-activity__list">
              <li class="p-activity__item js-scrollFadeIn">
                <div class="p-activity__itemVisual">
                  <div class="p-activity__itemImg">
                    <img src="<%= data.imgPath%>/dummy/dummy_1.png" alt="">
                    <span class="p-activity__itemLabel">渋滞対策</span>
                  </div>
                </div>
                <div class="p-activity__itemText">
                  <div class="p-activity__itemDate">
                    <span>2022.09.01</span>
                  </div>
                  <h2>「ジコゼロ大作戦」にて協働を開始</h2>
                  <p>公益財団法人豊田都市交通研究所とともに、“豊田市つながる社会実証推進協議会”の取組みとして、交通死亡事故の削減を目指す官民連携事業「ジコゼロ大作戦」を開始します。</p>
                  <div class="p-activity__itemBtn">
                    <a href="#" class="c-button">詳細を見る</a>
                  </div>
                </div>
              </li>
              <li class="p-activity__item js-scrollFadeIn">
                <div class="p-activity__itemVisual">
                  <div class="p-activity__itemImg">
                    <img src="<%= data.imgPath%>/dummy/dummy_2.png" alt="">
                    <span class="p-activity__itemLabel">渋滞対策</span>
                  </div>
                </div>
                <div class="p-activity__itemText">
                  <div class="p-activity__itemDate">
                    <span>2022.09.01</span>
                  </div>
                  <h2>アイデアコンテスト「Make a Move PROJECT」</h2>
                  <p>公益財団法人豊田都市交通研究所とともに、“豊田市つながる社会実証推進協議会”の取組みとして、交通死亡事故の削減を目指す官民連携事業「ジコゼロ大作戦」を開始します。</p>
                  <div class="p-activity__itemBtn">
                    <a href="#" class="c-button">詳細を見る</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <%- include('../../include/common/_related.ejs', {data: data}); %>
      </main>
      <%- include('../../include/common/_footer.ejs', {data: data}); %>
    </div>
    <%- include('../../include/common/_script.ejs', {data: data}); %>
  </body>
</html>