<!DOCTYPE html>
<html lang="ja">
<%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "トップメッセージ | IR情報 | クリーク･アンド･リバー社｜C&Rグループ" ,
  description: "トップメッセージ。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"
  }); %>

  <body>
    <%- include('../../include/_header.ejs'); %>
      <main id="calendar" class="subpage">
        <div class="breadcrumb">
          <ol class="breadcrumb__list">
            <li>
              <a href="/">TOP</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a href="../">IR情報</a>
              <span class="breadcrumb__line">/</span>
            </li>
            <li>
              <a>IRカレンダー</a>
            </li>
          </ol>
          <!-- /.breadcrumb -->
        </div>
        <section class="imgKv">
          <h1 class="imgKv__ttl">IRカレンダー</h1>
          <span class="imgKv__line"></span>
        </section>

        <div class="contentWrap">
          <section class="imgBlk">
            <h2 class="commonTtl">IR年間スケジュール</h2>
            <div class="imgBlk__img">
              <img class="sp" src="../../images/ir/calendar_img_01_pc.png" alt="IR年間スケジュール画像">
              <img class="pc" src="../../images/ir/calendar_img_01_sp.png" alt="IR年間スケジュール画像">
            </div>
            <h3 class="imgBlk__ttl">
              今年度（2021年度）
            </h3>
            <dl class="imgBlk__txtWrap">
              <dt>2021.7.8</dt>
              <dd>2022年2月期第1四半期決算説明 会</dd>
              <dt>2021.7.15</dt>
              <dd>2022年2月期第1四半期決算報告書 発行</dd>
              <dt>2021.10.7</dt>
              <dd>2022年2月期第2四半期決算説明会</dd>
              <dt>2021.10.XX</dt>
              <dd>2022年2月期第2四半期決算報告書 発行</dd>
              <dt>2022.1.XX</dt>
              <dd>2022年2月期第3四半期決算説明会</dd>
              <dt>2022.1.XX</dt>
              <dd>2022年2月期第3四半期報告書 発行</dd>
            </dl>
          </section>
          <section class="history">
            <h2 class="underLine history__ttl">
              過去のIR年間スケジュール
            </h2>
            <ul class="history__list">
              <li class="history__box">
                <div class="history__btn js-accordion-title">
                  2020年度
                </div>
                <dl class="history__txtWrap">
                  <dt>2020.7.9</dt>
                  <dd>2021年2月期第1四半期決算説明会</dd>
                  <dt>2020.7.17</dt>
                  <dd>2021年2月期第1四半期報告書 発行</dd>
                  <dt>2020.10.8</dt>
                  <dd>2021年2月期第2四半期決算説明会</dd>
                  <dt>2020.10.16</dt>
                  <dd>2021年2月期第2四半期決算報告書 発行</dd>
                  <dt>2021.1.8</dt>
                  <dd>2021年2月期第3四半期決算説明会</dd>
                  <dt>2021.1.15</dt>
                  <dd>2021年2月期第3四半期報告書 発行</dd>
                  <dt>2021.4.8</dt>
                  <dd>2021年2月期決算発表</dd>
                  <dt>2021.5.27</dt>
                  <dd>2021年2月期定時株主総会</dd>
                  <dt>2021.6.1</dt>
                  <dd>2021年2月期有価証券報告書 発行</dd>
                </dl>
              </li>
              <li class="history__box">
                <div class="history__btn js-accordion-title">
                  2019年度
                </div>
                <dl class="history__txtWrap">
                  <dt>2020.7.9</dt>
                  <dd>2021年2月期第1四半期決算説明会</dd>
                  <dt>2020.7.17</dt>
                  <dd>2021年2月期第1四半期報告書 発行</dd>
                  <dt>2020.10.8</dt>
                  <dd>2021年2月期第2四半期決算説明会</dd>
                  <dt>2020.10.16</dt>
                  <dd>2021年2月期第2四半期決算報告書 発行</dd>
                  <dt>2021.1.8</dt>
                  <dd>2021年2月期第3四半期決算説明会</dd>
                  <dt>2021.1.15</dt>
                  <dd>2021年2月期第3四半期報告書 発行</dd>
                  <dt>2021.4.8</dt>
                  <dd>2021年2月期決算発表</dd>
                  <dt>2021.5.27</dt>
                  <dd>2021年2月期定時株主総会</dd>
                  <dt>2021.6.1</dt>
                  <dd>2021年2月期有価証券報告書 発行</dd>
                </dl>
              </li>
              <li class="history__box">
                <div class="history__btn js-accordion-title">
                  2018年度
                </div>
                <dl class="history__txtWrap">
                  <dt>2020.7.9</dt>
                  <dd>2021年2月期第1四半期決算説明会</dd>
                  <dt>2020.7.17</dt>
                  <dd>2021年2月期第1四半期報告書 発行</dd>
                  <dt>2020.10.8</dt>
                  <dd>2021年2月期第2四半期決算説明会</dd>
                  <dt>2020.10.16</dt>
                  <dd>2021年2月期第2四半期決算報告書 発行</dd>
                  <dt>2021.1.8</dt>
                  <dd>2021年2月期第3四半期決算説明会</dd>
                  <dt>2021.1.15</dt>
                  <dd>2021年2月期第3四半期報告書 発行</dd>
                  <dt>2021.4.8</dt>
                  <dd>2021年2月期決算発表</dd>
                  <dt>2021.5.27</dt>
                  <dd>2021年2月期定時株主総会</dd>
                  <dt>2021.6.1</dt>
                  <dd>2021年2月期有価証券報告書 発行</dd>
                </dl>
              </li>
              <li class="history__box">
                <div class="history__btn js-accordion-title">
                  2017年度
                </div>
                <dl class="history__txtWrap">
                  <dt>2020.7.9</dt>
                  <dd>2021年2月期第1四半期決算説明会</dd>
                  <dt>2020.7.17</dt>
                  <dd>2021年2月期第1四半期報告書 発行</dd>
                  <dt>2020.10.8</dt>
                  <dd>2021年2月期第2四半期決算説明会</dd>
                  <dt>2020.10.16</dt>
                  <dd>2021年2月期第2四半期決算報告書 発行</dd>
                  <dt>2021.1.8</dt>
                  <dd>2021年2月期第3四半期決算説明会</dd>
                  <dt>2021.1.15</dt>
                  <dd>2021年2月期第3四半期報告書 発行</dd>
                  <dt>2021.4.8</dt>
                  <dd>2021年2月期決算発表</dd>
                  <dt>2021.5.27</dt>
                  <dd>2021年2月期定時株主総会</dd>
                  <dt>2021.6.1</dt>
                  <dd>2021年2月期有価証券報告書 発行</dd>
                </dl>
              </li>
              <li class="history__box">
                <div class="history__btn js-accordion-title">
                  2016年度
                </div>
                <dl class="history__txtWrap">
                  <dt>2020.7.9</dt>
                  <dd>2021年2月期第1四半期決算説明会</dd>
                  <dt>2020.7.17</dt>
                  <dd>2021年2月期第1四半期報告書 発行</dd>
                  <dt>2020.10.8</dt>
                  <dd>2021年2月期第2四半期決算説明会</dd>
                  <dt>2020.10.16</dt>
                  <dd>2021年2月期第2四半期決算報告書 発行</dd>
                  <dt>2021.1.8</dt>
                  <dd>2021年2月期第3四半期決算説明会</dd>
                  <dt>2021.1.15</dt>
                  <dd>2021年2月期第3四半期報告書 発行</dd>
                  <dt>2021.4.8</dt>
                  <dd>2021年2月期決算発表</dd>
                  <dt>2021.5.27</dt>
                  <dd>2021年2月期定時株主総会</dd>
                  <dt>2021.6.1</dt>
                  <dd>2021年2月期有価証券報告書 発行</dd>
                </dl>
              </li>
            </ul>
          </section>
          <%- include('../../include/subpages/_irLinkBlk.ejs',); %>
            <!-- /.linkBlk -->
        </div>
        <%- include('../../include/subpages/_irBnrBlk.ejs',); %>
          <!-- /.bnrBlk -->
      </main>
      <%- include('../../include/_footer.ejs'); %>
        <script>

          document.addEventListener("DOMContentLoaded", () => {
            const title = document.querySelectorAll('.js-accordion-title');
            for (let i = 0; i < title.length; i++) {
              let titleEach = title[i];
              let content = titleEach.nextElementSibling;
              titleEach.addEventListener('click', () => {
                titleEach.classList.toggle('is-active');
                content.classList.toggle('is-open');
              });
            }
          });
        </script>
  </body>

</html>