<!DOCTYPE html>
<html lang="ja">
<%- include('_head.ejs'); %>

<body>
  <div class="container" id="js-container">
    <%- include('../include/_header.ejs'); %>
    <main id="js-main" class="main">
      <%- include('_breadCrumb.ejs'); %>
      <%- include('_mainVisual.ejs'); %>
      <div class="common-textBlock">
        <p class="common-textBlock__textTop">代表メッセージ</p>
        <div class="common-textBlock__contentWrap">
          <div class="common-textBlock__textWrap sustain__message">
            <p>
              時代は今、変革の時を迎えています。バブル崩壊直後の1990年に創業したクリーク･アンド･リバー社（C&R社）は、テロや金融危機、自然災害などに何度も直面しながら成長してきました。そして今、新型コロナウイルスの世界的大流行に対峙しています。人類の歴史を紐解けば、様々な危機を乗り越えるたびに人は叡智を絞り出し文明を発展させてきました。人類を脅かす危機はこれから何度も訪れるでしょう。
            </p>
            <p>
              しかし、私たちはフロンティアスピリッツを忘れず、激変する社会に柔軟に対応し、サステナブルな社会の実現と新たなサービスを生み出し続けてまいります。C&Rグループは『プロフェショナルとともに事業を創造することにより、豊かな社会を創る』ことを掲げ、世界のどこにもない事業クリエイティブ・カンパニーへの成長をめざします。
            </p>
          </div>
          <div class="common-textBlock__imgWrap">
            <img src="../images/president.jpeg" alt="代表取締役社長 井川 幸広">
            <p class="sustain__president">株式会社クリーク･アンド･リバー社<br>代表取締役社長 井川 幸広</p>
          </div>
        </div>
      </div>
      <div class="common-textBlock">
        <p class="common-textBlock__textTop">サステナビリティ基本方針</p>
        <p class="common-textBlock__textDetail">
          C&Rグループの統括理念「人の能力は、無限の可能性を秘めています。私たちはその能力を最大限に引き出し、人と社会の幸せのために貢献します」に基づく当社グループの使命「すべてのステーク・ホルダーへの価値提供」の実現に向けて、様々な社会課題の解決や地球環境の保全について、プロフェッショナルを軸とした事業活動を当社グループ一丸となって取り組むことにより、社会全体の永続的な発展及び当社グループの永続的な成長の両立をめざしてまいります。
        </p>
      </div>
      <div class="common-textBlock">
        <p class="common-textBlock__textTop">SDGs達成に向けた取り組み</p>
        <p class="common-textBlock__textDetail">C&R グループは、国際連合が掲げる持続可能な開発目標SDGsの達成に寄与すべく、事業を通じて世界が抱える社会課題に取り組んでいます。</p>
        <div class="sustain__mainImg">
          <img src="../images/sdgs_mv.jpeg" alt="SUSTAINABLE DEVELOPMENT GOALS">
        </div>
      </div>

      <div class="common-textBlock">
        <div class="common-textBlock__contentWrap">
          <div class="common-textBlock__imgWrap">
            <img src="../images/sdg_icon_03.png" alt="3 すべての人に健康と福祉を">
          </div>
          <div class="common-textBlock__textWrap">
            <p>３．すべての人に健康と福祉を</p>
            <div class="sustain__list">
              <h4>・医師のエージェンシー事業を通じた医療業界への貢献</h4>
              <p>
                C&Rグループの医療分野で医師の紹介事業を行う株式会社メディカル・プリンシプル社が、全国各地の慢性的な医師不足及び地域偏在という医療業界の課題に対し、全国に拠点を設け、地域医療にいち早く対応できる体制を築いています。さらに、医学生・研修医と医療機関の出会いの場となる業界最大規模の合同説明会・オンラインイベントの実施や医師のスキルアップを図るセミナーを開催して、医療による社会環境の向上に尽力しています。
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="common-textBlock">
        <div class="common-textBlock__contentWrap">
          <div class="common-textBlock__imgWrap">
            <img src="../images/sdg_icon_04.png" alt="4 質の高い教育をみんなに">
          </div>
          <div class="common-textBlock__textWrap">
            <p>４．質の高い教育をみんなに</p>
            <div class="sustain__list">
              <h4>・プロフェッショナル向けの教育機関を運営</h4>
              <p>
                C&Rグループのミッションである「プロフェッショナルの生涯価値の向上」を図るため、各分野での教育や各種セミナーを実施しています。特にクリエイティブ分野では「プロフェッショナルエデュケーションセンター（PEC）」を設置し、クリエイターが能力を伸ばせるよう支援しています。
              </p>
            </div>
            <div class="sustain__list">
              <h4>・未経験者の育成による就業支援</h4>
              <p>これからプロフェッショナルになることをめざす方を対象に、教育から就業までをフォローする体制を構築しています。未経験者に実践に基づいた研修を行い、多くの優秀なクリエイターやITエンジニアなどを輩出しています。
              </p>
            </div>
            <div class="sustain__list">
              <h4>・プロフェッショナル向けの情報提供</h4>
              <p>プロフェッショナルがその能力を高めるための情報を自社メディアにて提供するほか、先人の活躍の軌跡を知るための出版物の発行、先端技術に関するセミナーの実施など、様々な情報提供を行っています。</p>
            </div>
            <div class="sustain__list">
              <h4>・外国籍のプロフェッショナル向けの語学研修</h4>
              <p>
                多様な人材による活動が日本の産業力を高めるとの考えのもと、外国籍の社員及びプロフェッショナルに向けて日本語教育を実施しています。さらに、日本での活躍をめざして世界中から集まる様々な人々に対して、各分野ですぐに活かせる英語や日本語教育の体制も構築しています。<br><a
                  href="https://criprolang.jp/">プロフェッショナル語学</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="common-textBlock">
        <div class="common-textBlock__contentWrap">
          <div class="common-textBlock__imgWrap">
            <img src="../images/sdg_icon_05.png" alt="5 ジェンダー平等を実現しよう">
          </div>
          <div class="common-textBlock__textWrap">
            <p>５．ジェンダー平等を実現しよう</p>
            <div class="sustain__list">
              <h4>・女性が活躍できる環境整備</h4>
              <p>
                当社では、女性が活躍する環境整備の一環として、管理職・経営層への女性社員の登用にも積極採用に取り組んでいます。また産前産後休暇・育児休暇や時短勤務制度の導入、取得促進に取り組んでおり、復職する際にも働きやすい職場環境の整備を行っています。
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="common-textBlock">
        <div class="common-textBlock__contentWrap">
          <div class="common-textBlock__imgWrap">
            <img src="../images/sdg_icon_08.png" alt="8 ジェンダー平等を実現しよう">
          </div>
          <div class="common-textBlock__textWrap">
            <p>８．働きがいも経済成長も</p>
            <div class="sustain__list">
              <h4>・プロフェッショナルへの様々な雇用機会の提供</h4>
              <p>
                派遣・正社員紹介（エージェンシー事業）、請負（プロデュース事業）、知的財産の収益化（ライツマネジメント）事業を通じて、プロフェッショナルの方々が持てる力を最大限に発揮できる環境を提供し、その能力を通じてクライアントの企業価値向上に貢献しています。<br><a
                  href="https://www.cri.co.jp/companies/service_menu/">サービスメニュー</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="common-textBlock">
        <div class="common-textBlock__contentWrap">
          <div class="common-textBlock__imgWrap">
            <img src="../images/sdg_icon_10.png" alt="10 人や国の不平等をなくそう">
          </div>
          <div class="common-textBlock__textWrap">
            <p>１０．人や国の不平等をなくそう</p>
            <div class="sustain__list">
              <h4>・地方自治体と連携した地方活性化施策</h4>
              <p>
                全国各地に拠点を設置し、プロフェッショナルの能力を活かした人材育成や人材支援による雇用の創出、商品やアイデアがありながら市場開拓に課題を持っている自治体や地元企業と連携した地域経済の活性化支援などを実施しています。
              </p>
            </div>
            <div class="sustain__list">
              <h4>・国を超えた就業支援</h4>
              <p>
                日本で働きたい海外在住のプロフェッショナルに対して日本企業の紹介などを積極的に展開するほか、現地のプロフェッショナル人材ネットワークを活用した事業展開を行っています。ニューノーマルの時代、国境も働き方も変化する中で、リモートを活用した人材サービスやプロジェクトを今後ますます拡大させ、世界中のプロフェッショナルが活躍できる場の創出をめざしていきます。
              </p>
            </div>
            <div class="sustain__list">
              <h4>・地方自治体と連携した地方活性化施策の「事例」</h4>
              <div class="sustain__exampleLink">
                <p>起業・創業支援事業「Fukushima Tech Create」を委託<br>福島であなたの発想が動き出す<br><a
                  href="https://www.cri.co.jp/news/press_release/2021/20210513003469.html">https://www.cri.co.jp/news/press_release/2021/20210513003469.html</a>
                </p>
                <p>大阪府とコロナ禍における転職・再就職支援で連携<br><a
                  href="https://www.cri.co.jp/news/press_release/2021/20210122003333.html">https://www.cri.co.jp/news/press_release/2021/20210122003333.html</a>
                </p>
                <p>鳥取県・観光庁「誘客多角化等のための魅力的な滞在コンテンツ造成」実証事業<br>月面都市を体験するARコンテンツ制作に協力<br><a
                  href="https://www.cri.co.jp/news/press_release/2020/20201224003308.html">https://www.cri.co.jp/news/press_release/2020/20201224003308.html</a>
                </p>
                <p>東京都「5G技術活用型開発等促進事業」に採択、都内のスタートアップを支援<br><a
                  href="https://www.cri.co.jp/news/press_release/2020/20201008003225.html">https://www.cri.co.jp/news/press_release/2020/20201008003225.html</a>
                </p>
                <p>福島県企業の特許活用に、クリエイターのアイデア活かす「川崎モデル」の事例を基に、全国に知財活用を広める<br><a
                  href="https://www.cri.co.jp/news/press_release/2019/20190808002810.html">https://www.cri.co.jp/news/press_release/2019/20190808002810.html</a>
                </p>
              </div>
            </div>
            <div class="sustain__list">
              <h4>・国を超えた就業支援の「事例」</h4>
              <div class="sustain__exampleLink">
                <p>在本邦インドネシア共和国大使館との協力覚書を締結<br>～クリエイティブ分野の日本・インドネシア協業連携支援を確認～<br><a
                  href="https://www.cri.co.jp/news/press_release/2021/20210428003455.html">https://www.cri.co.jp/news/press_release/2021/20210428003455.html</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="common-textBlock">
        <p class="common-textBlock__textTop">ESG経営の取り組み</p>
        <p class="common-textBlock__textDetail">当社グループは、環境（Environment）、社会（Social）、ガバナンス（Governance）の観点よるESG経営を推進し、永続的な発展を可能とする強固な経営基盤を構築してまいります。</p>
        <div class="sustain__genreWrap">
          <h3 class="common-heading--h3">環境</h3>
          <div class="common-heading--h3__underLine"></div>
          <div class="sustain__environment">
            <p class="common-textBlock__textDetail">C&Rグループは気候変動を重要な外部環境の変化の一つとして捉え、対応を行っています。</p>
            <div class="sustain__list">
              <h4>・気候変動への対応</h4>
              <p>当社では、温室効果ガス排出量（スコープ2）として電力消費による温室効果ガスの算定を行いました。<br>
              今後、C&Rグループのバリューチェーン全体での温室効果ガス排出量の算定を進めてまいります。</p>
            </div>
            <div class="sustain__mainImg graphWrap">
              <img src="../images/sustainability_graph01.jpeg" alt="温室効果ガス排出量(スコープ2)">
            </div>
          </div>
        </div>
        <div class="sustain__genreWrap">
          <h3 class="common-heading--h3">社会</h3>
          <div class="common-heading--h3__underLine"></div>
          <div class="sustain__social">
            <p class="common-textBlock__textDetail">C&Rグループの統括理念である「人の能力は、無限の可能性を秘めています。私たちはその能力を最大限に引き出し、人と社会の幸せのために貢献します。」の理解と遵守を徹底し、社員の健康と可能性を高めることを基準に経営者が率先して行動しています。<br>
              社員が健康相談を行える環境を整え、性別・年齢・国籍を問わず、個人の価値観やライフスタイルを尊重した働き方ができる仕組みを整備しています。</p>
            <div class="sustain__pdfLinkWrap">
              <a href="https://www.cri.co.jp/sustainability/NextGenerationDevelopmentSupportPromotionLaw_ActionPlan_2021%EF%BC%8D2023.pdf" target="_blank">
                <span class="sustain__pdfText">次世代育成支援推進法に関する行動計画</span>
                <span class="sustain__pdfIcon"><img src="../images/icon_pdf_wh.svg" alt="pdf"></span>
              </a>
            </div>
            <div class="sustain__list">
              <h4>・人材開発（社員の教育）</h4>
              <p>新入社員にC&Rグループについての理解を深めるための座学やOJTによる実践的な研修を実施するほか、人材開発と研修の部署を設け、理念やミッションの理解と徹底を図るため、演劇スタイルの研修やコミュニケーションや営業力を高める研修、管理職への職位者研修を定期的に実施しています。</p>
            </div>
            <div class="sustain__mainImg graphWrap">
              <img src="../images/sustain_employee.jpeg" alt="人材開発 企業史演劇">
            </div>
            <p class="sustain__linkWrap">
              <a href="https://kigyoushi.com/" target="_blank">企業史演劇</a>
            </p>
            <div class="sustain__list">
              <h4>・ダイバーシティ</h4>
              <p>役員をはじめ管理職に女性を積極登用している他、多様性の観点から外国籍社員の採用に力を入れています。性別・年齢・国籍を問わず、また個人の価値観やライフスタイルを尊重し、時短勤務やリモート勤務体制を整備するだけでなく、障がいを持たれている方にも活躍いただいてます。</p>
            </div>
            <div class="sustain__list">
              <h4>・リモートワークの推進</h4>
              <p>災害や緊急事態の発生への備え、また個人の価値観やライフスタイルを尊重し、時短勤務やリモート勤務体制を整備しています。</p>
            </div>
            <div class="sustain__list">
              <h4>■リモートワーク率</h4>
              <div class="sustain-table">
                <dl class="sustain-table__list itemHead">
                  <dt></dt>
                  <dd>2021年度 第3四半期平均</dd>
                  <dd>2021年度 第4四半期平均</dd>
                  <dd>2022年度 第1四半期平均</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>リモートワーク率（％）</dt>
                  <dd>58.2</dd>
                  <dd>61.6</dd>
                  <dd>67.0</dd>
                </dl>
                <p class="sustain-table__cap">※C&R社総合職社員対象</p>
              </div>
            </div>
            <div class="sustain__list">
              <h4>・労働環境改善への取り組み</h4>
              <p>衛生委員会を設置し、社員の健康と働きやすい環境を整備することを目的に、社員の健康相談、長時間労働面談、職場巡視などを実施しています。</p>
            </div>
            <div class="sustain__list">
              <h4>・健康経営の推進</h4>
              <p>C&R グループでは従業員の健康に配慮することで、経営に大きな成果が生み出されるという考えのもと、独自の健康保険組合を設立運営するほか、社員の健康支援のための専門部署を設置し、随時連絡可能な健康相談を行っています。併せて、社員が自由に参加できるスポーツなどの部活動の促進、強力な感染症の流行に対応するための対策本部の設置など、社員の健康を図りつつ事業の継続のために機動的に対応しています。</p>
            </div>
            <div class="sustain__list">
              <h4>・障がい者雇用</h4>
              <p>障がい者がそれぞれの強みや特性を活かし活躍できるように、サテライトオフィスやリモート勤務などを活用し、データ入力業務や本社における総務サポート業務など幅広い業務を各自の能力に合わせて担っています。</p>
            </div>
            <div class="sustain__list">
              <h4>・女性活躍推進</h4>
              <p>様々な視点を経営に反映するために、女性役員をはじめ営業部門・管理部門問わず女性の管理職を多数登用しています。また、育児休暇や産後休暇の取得、復職を推進していることをはじめ、時短勤務制度も整備し仕事と家庭を両立できる体制を構築しています。</p>
              <div class="sustain__pdfLinkWrap">
                <a href="https://www.cri.co.jp/sustainability/WomensAdvancementPromotionLaw_ActionPlan_2021%E3%83%BC2023.pdf" target="_blank">
                  <span class="sustain__pdfText">女性活躍推進法に関する行動規範</span>
                  <span class="sustain__pdfIcon"><img src="../images/icon_pdf_wh.svg" alt="pdf"></span>
                </a>
              </div>
            </div>
            <div class="sustain__list">
              <h4>■社員</h4>
              <div class="sustain-table">
                <dl class="sustain-table__list itemHead">
                  <dt></dt>
                  <dd>男性</dd>
                  <dd>女性</dd>
                  <dd>合計</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>社員数（人）</dt>
                  <dd>498</dd>
                  <dd>428</dd>
                  <dd>926</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>比率（％）</dt>
                  <dd>53.8</dd>
                  <dd>46.2</dd>
                  <dd>100</dd>
                </dl>
                <p class="sustain-table__cap">※2021年2月末日時点、C&R社実績</p>
              </div>
              <div class="sustain-table">
                <dl class="sustain-table__list itemHead">
                  <dt></dt>
                  <dd>男性</dd>
                  <dd>女性</dd>
                  <dd>合計</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>新卒採用数（人）</dt>
                  <dd>7</dd>
                  <dd>18</dd>
                  <dd>25</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>比率（％）</dt>
                  <dd>28.0</dd>
                  <dd>72.0</dd>
                  <dd>100</dd>
                </dl>
                <p class="sustain-table__cap">※2021年2月末日時点、C&R社実績</p>
              </div>
            </div>
            <div class="sustain__list">
              <h4>■管理職</h4>
              <div class="sustain-table">
                <dl class="sustain-table__list itemHead">
                  <dt></dt>
                  <dd>男性</dd>
                  <dd>女性</dd>
                  <dd>合計</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>管理職数（人）</dt>
                  <dd>72</dd>
                  <dd>21</dd>
                  <dd>93</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>比率（％）</dt>
                  <dd>77.4</dd>
                  <dd>22.5</dd>
                  <dd>100</dd>
                </dl>
                <p class="sustain-table__cap">※2021年2月末日時点、C&R社実績</p>
              </div>
            </div>
            <div class="sustain__list">
              <h4>■役員（取締役・執行役員）</h4>
              <div class="sustain-table">
                <dl class="sustain-table__list itemHead">
                  <dt></dt>
                  <dd>男性</dd>
                  <dd>女性</dd>
                  <dd>合計</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>役員数（人）</dt>
                  <dd>11</dd>
                  <dd>2</dd>
                  <dd>13</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>比率（％）</dt>
                  <dd>84.6</dd>
                  <dd>15.4</dd>
                  <dd>100</dd>
                </dl>
                <p class="sustain-table__cap">※2021年2月末日時点、C&R社実績</p>
              </div>
            </div>
            <div class="sustain__list">
              <h4>■育児休暇取得</h4>
              <div class="sustain-table">
                <dl class="sustain-table__list itemHead">
                  <dt></dt>
                  <dd>合計</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>取得数（人）</dt>
                  <dd>24</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>取得率（％）</dt>
                  <dd>100</dd>
                </dl>
                <dl class="sustain-table__list">
                  <dt>復職率（％）</dt>
                  <dd>100</dd>
                </dl>
                <p class="sustain-table__cap">※2021年2月末日時点、C&R社実績</p>
              </div>
            </div>
            <div class="sustain__list">
              <h4>・ワークライフバランス</h4>
              <p>社員の健康に配慮するために、残業時間を月次で徹底管理して減少を図るとともに、長時間労働をした者への産業医面談を実施しています。また、育児休業や産後休暇の取得も男女問わず推奨し、復職する際にも働きやすい職場環境の整備を行っています。</p>
            </div>
            <div class="sustain__genreWrap">
              <h3 class="common-heading--h3">ガバナンス</h3>
              <div class="common-heading--h3__underLine"></div>
            </div>
            <div class="sustain__list">
              <p>経営機構における監督機能を強化するとともに、透明性の確保、迅速な職務執行体制、リスク管理体制の確立を図っています。</p>
            </div>
            <div class="sustain__linkWrap">
              <div class="common-button--grayArrowBtn">
                <a href="https://www.cri.co.jp/stockholders/meet_cri/corporate_governance.html">コーポレートガバナンス<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
              </div>
            </div>
            <div class="sustain__linkWrap contentBottom">
              <div class="common-button--grayArrowBtn">
                <a href="https://www.cri.co.jp/cri_group/">※プロフェッショナルの定義<div class="arrow--grayBtn"><span class="arrow"></span></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../include/_footer.ejs'); %>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>