<div id="js-headNav" class="c-headNav is-pc">
  <div class="c-headNavInner">
    <div class="c-headNavLinkWrap left">
      <% if(data.navNum === 1) { %>
      <% } else if(data.navNum === 2) { %>
      <a href="../iep/">
        <img src="<%= data.commonImgPath %>/head_nav_left_1_1.png" alt="せんせいの未来編 お一人さま授業！？" loading="lazy">
      </a>
      <% } else if(data.navNum === 3) { %>
      <a href="../ict/">
        <img src="<%= data.commonImgPath %>/head_nav_left_1_2.png" alt="せんせいの未来編 せんせいもロボット化！？" loading="lazy">
      </a>
      <% } else if(data.navNum === 4) { %>
      <a href="../pbl/">
        <img src="<%= data.commonImgPath %>/head_nav_left_1_3.png" alt="地域まるごとせんせい！？" loading="lazy">
      </a>
      <% } else if(data.navNum === 5) { %>
      <a href="../heart/">
        <img src="<%= data.commonImgPath %>/head_nav_left_2_1.png" alt="せんせいっていいな編 いつもありがとう" loading="lazy">
      </a>
      <% } %>
    </div>
    <div class="c-headNavLinkWrap right">
      <% if(data.navNum === 1) { %>
      <a href="../ict/">
        <img src="<%= data.commonImgPath %>/head_nav_right_1_2.png" alt="せんせいの未来編 せんせいもロボット化！？" loading="lazy">
      </a>
      <% } else if(data.navNum === 2) { %>
      <a href="../pbl/">
        <img src="<%= data.commonImgPath %>/head_nav_right_1_3.png" alt="せんせいの未来編 地域まるごとせんせい！？" loading="lazy">
      </a>
      <% } else if(data.navNum === 3) { %>
      <a href="../heart/">
        <img src="<%= data.commonImgPath %>/head_nav_right_2_1.png" alt="せんせいっていいな編 いつもありがとう" loading="lazy">
      </a>
      <% } else if(data.navNum === 4) { %>
      <a href="../remedial/">
        <img src="<%= data.commonImgPath %>/head_nav_right_2_2.png" alt="せんせいっていいな編 ひとそれぞれ" loading="lazy">
      </a>
      <% } %>
    </div>
  </div>
</div>