<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "免責事項 | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "免責事項。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
<body>
	<%- include('../../include/_header.ejs'); %>
	<main id="financial" class="subpage">
		<div class="breadcrumb">
			<ol class="breadcrumb__list">
				<li>
					<a href="/">TOP</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../">IR情報</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a>免責事項</a>
				</li>
			</ol><!-- /.breadcrumb -->
		</div>
		<section class="imgKv">
			<h1 class="imgKv__ttl">免責事項</h1>
			<span class="imgKv__line"></span>
		</section>
		<div class="contentWrap">
			<section class="txtBase">
				<h3 class="txtBase__ttl">当サイトの目的</h3>
				<p class="txtBase__txt">当サイトは、当社ならびにその子会社および関連会社の財務情報、経営情報等の提供を目的としたものであり、当社が発行する有価証券の購入や売却の勧誘を目的とするものではありません。投資を行う際は、ご利用者自身のご判断で行うようお願いいたします。</p>
				<h3 class="txtBase__ttl">インサイダー取引について</h3>
				<p class="txtBase__txt">重要事実の開示に関しては、金融商品取引法第166条にいう「公表」の前に当サイトに掲載される可能性があります。（「公表」とは、(1)有価証券報告書、四半期報告書、臨時報告書等に重要事実を記載して内閣総理大臣に提出し、公衆の縦覧に供されたとき、(2)当該重要事実を所定の2つ以上の報道機関に対して公開してから12時間経過したとき、または(3)当該重要事実につき証券取引所又は証券業協会に所定の通知をし、かつ当該重要事実が当該証券取引所又は当該証券業協会において所定の方法により公衆の縦覧に供されたとき、をいいます。）<br><br> 「公表」前に当サイトをご覧になった方はインサイダー取引規制で定められた第一次の情報受領者という扱いになります。このような重要事実をご覧になった方が当該「公表」前に当社株式等を売買された場合には、インサイダー取引規則違反として証券取引法の規定に抵触する恐れがありますのでご注意ください。<br><br>当サイトには当社が証券取引所等に開示している情報の全てが掲載されていない場合があります。また、他の方法で開示された情報とは異なった表現の仕方をしている場合もあります。</p>
				<h3 class="txtBase__ttl">情報の正確性・完全性</h3>
				<p class="txtBase__txt">当社は、正確かつ最新の情報をご提供するべく万全を期しておりますが、当サイトに含まれるあらゆる情報について、その正確性および完全性を保証するものではありません。よって、ご利用者は、当サイトを通じて入手した情報を自らの判断に基づいて使用するものとし、当社は、ご利用者が当サイトを利用したことに基づくいかなる損害（利用者の機器のプログラムやデータの喪失などが含まれます）についても、一切の責任を負わないものとします。</p>
				<h3 class="txtBase__ttl">将来の見通しに関する記述</h3>
				<p class="txtBase__txt">当サイトには、将来の業績に関する記述が含まれています。それらにつきましては、各資料の作成時点においての経済環境や事業方針などの一定の前提に基づいて作成しております。従って、将来の業績を保証するものではなく、実際の業績は、今後の経営を取り巻く環境の変化等、様々な要素により、記述されている見通しとは大きく異なる結果となり得ることをご承知おきください。</p>
				<h3 class="txtBase__ttl">著作権</h3>
				<p class="txtBase__txt">当サイト上のすべてのコンテンツに関しては、当社または当サイトの運営に関わる協力会社が著作権などの権利を有します。何人も、当社の許可なくこれらのコンテンツを使用することはできません。コンテンツとは、文章、図、写真、動画・音声ファイルおよびそれらの構成・編集など、著作権法その他の法令により保護されている著作物を指します。</p>
				<h3 class="txtBase__ttl">リンク</h3>
				<p class="txtBase__txt">
					当サイトは、当社及び当社以外の者によるとを問わず、当社以外の者が作成または管理している他のサイトとリンクされることがあります。当社は、それらの他のサイトの内容、動作または運営主体について何ら表明または保証も行うものではありません。また、当該リンク（当社及び当社以外の者によることを問いません。）によって、当社がそれらの他のサイトの内容、動作または運営主体を承認したことを意味するものではありません。<br><br>
					なお、当サイトへリンクする場合の注意事項については、以下のサイトポリシーページの「当サイトへのリンクについて」をご覧ください。<br>
					<a target="_blank" class="txtBase__link" href="/policy/">>サイトポリシー❐</a>
				</p>
			</section>
			
			<%- include('../../include/subpages/_irLinkBlk.ejs',); %>
      <!-- /.linkBlk -->
		</div>
		<%- include('../../include/subpages/_irBnrBlk.ejs',); %>
		<!-- /.bnrBlk -->
	</main>
	<%- include('../../include/_footer.ejs'); %>
</body>

</html>