<header class="l-header" id="js-header">
  <div class="l-header__inner">
    <div class="l-header__logo" id="js-header-logo">
      <a href="#">
        <img src="<%= data.commonImgPath %>/logo_white.png" alt="APRIM2023" loading="lazy">
      </a>
    </div>
    <nav class="l-header__navArea">
      <ul class="l-header__menu" id="js-menu">
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="<%= data.path %>/" class="l-header__firstLink js-first-link">Home</a>
          </div>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="#" class="l-header__firstLink js-first-link">Call for Abstracts</a>
          </div>
          <ul class="l-header__secondMenu js-second-menu">
            <li><a href="#">Abstract Submission</a></li>
          </ul>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="#" class="l-header__firstLink js-first-link">Registration</a>
          </div>
          <ul class="l-header__secondMenu js-second-menu">
            <li><a href="#">Fees</a></li>
            <li><a href="#">Travel Grants</a></li>
            <li><a href="#">Visas</a></li>
            <li><a href="#">COVID</a></li>
            <li><a href="#">IAU Code of Conduct</a></li>
          </ul>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="#" class="l-header__firstLink js-first-link">Program</a>
          </div>
          <ul class="l-header__secondMenu js-second-menu">
            <li><a href="#">Participants List</a></li>
            <li><a href="#">Program Schedule</a></li>
            <li><a href="#">Social Events</a></li>
            <li><a href="#">Satellite Meetings</a></li>
          </ul>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="#" class="l-header__firstLink js-first-link">Committees</a>
          </div>
          <ul class="l-header__secondMenu js-second-menu">
            <li><a href="#">SOC</a></li>
            <li><a href="#">LOC</a></li>
          </ul>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="#" class="l-header__firstLink js-first-link">Venue</a>
          </div>
          <ul class="l-header__secondMenu js-second-menu">
            <li><a href="#">Big Palette Fukushima</a></li>
            <li><a href="#">Transportation</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Local Information</a></li>
          </ul>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="<%= data.path %>/sponsors/" class="l-header__firstLink js-first-link">Sponsors</a>
          </div>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="<%= data.path %>/jp-detail/" class="l-header__firstLink js-first-link">日本語</a>
          </div>
        </li>
        <li class="l-header__menuItem">
          <div class="l-header__firstLinkWrap js-first-linkWrap">
            <a href="<%= data.path %>/contact/" class="l-header__firstLink js-first-link">Contact</a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="l-header__btnWrap">
      <button class="l-header__menuOpenBtn" id="js-menu-btn">
        <span class="l-header__line"></span>
        <span class="l-header__line"></span>
        <span class="l-header__line"></span>
      </button>
    </div>
  </div>
</header>