<div class="c-productLineup">
  <h3 class="c-heading--middle">商品一覧</h3>
  <p class="c-heading--middleEn">Product lineup</p>
  <ul class="c-productLineup__list">
    <li>
      <div class="c-productLineup__name">
        <p>ラウンド（丸一匹）</p>
        <p>Round</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_round.png" alt="極上三ツ星かんぱち ラウンド">
      </div>
      <p class="c-productLineup__text">水揚げされた「三ツ星かんぱち」を丸ごとお届け。お刺身はもちろん、かぶとの煮つけや焼き・揚げなど、三ツ星の魅力を余すことなくご堪能いただけます。料理店や大宴会に。</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>フィーレ（三枚おろし）</p>
        <p>Filet</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_filet.png" alt="極上三ツ星かんぱち フィーレ">
      </div>
      <p class="c-productLineup__text">頭と内臓を取り除き、三枚におろした状態。手軽にお刺身にすることができ、カマもついているので、塩焼きや煮つけにも最適です。真空包装されています。</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>ロイン（柵）</p>
        <p>Loin</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_loin.png" alt="極上三ツ星かんぱち ロイン">
      </div>
      <p class="c-productLineup__text">骨・皮をすべて取り除き、いわゆる「柵」にした状態。脂乗りの強い腹側と、新鮮なかんぱちならではの血合の旨味が楽しめる背側に分かれており、使い勝手がよいです。</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>熟成の刺身「かんぱち」（三ツ星かんぱち使用）</p>
        <p>Aged Sashimi 「Kanpachi」</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_aged.png" alt="極上三ツ星かんぱち 熟成">
      </div>
      <p class="c-productLineup__text">鹿児島の食の新しい魅力を探求するフードブランド「ROOTS FOOD」による商品。独自技術で魚を熟成させる「鹿児島で生まれた熟成の刺身シリーズ」の、三ツ星かんぱちバージョンです。とろけるような旨味を、ご自宅でどうぞ。</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>料亭監修！三ツ星かんぱち贈答用セット</p>
        <p>Gift Set</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_gift.png" alt="極上三ツ星かんぱち 贈答用セット">
      </div>
      <p class="c-productLineup__text">三ツ星かんぱちの「刺身」、「若狭スモーク」、「オリーブオイルレモン風味」、「鹿児島西京焼き」、「丼用漬け」、「時雨煮」、「黒山椒煮」の7種類が入った、ギフトセットです。</p>
    </li>
  </ul>
</div>