<ul class="c-infoArticle">
  <li>
    <a href="<%= meta.path %>/information/news/aaa.html">
      <dl>
        <dt>2022/06/30</dt>
        <dd>
          <span class="c-label news">ニュース</span>
        </dd>
      </dl>
      <p>ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。…</p>
    </a>
  </li>
  <li>
    <a href="<%= meta.path %>/information/products/aaa.html">
      <dl>
        <dt>2022/06/30</dt>
        <dd>
          <span class="c-label products">商品</span>
        </dd>
      </dl>
      <p>ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。…</p>
    </a>
  </li>
  <li>
    <a href="<%= meta.path %>/information/events/aaa.html">
      <dl>
        <dt>2022/06/30</dt>
        <dd>
          <span class="c-label events">イベント</span>
        </dd>
      </dl>
      <p>ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。…</p>
    </a>
  </li>
  <li>
    <a href="<%= meta.path %>/information/media/aaa.html">
      <dl>
        <dt>2022/06/30</dt>
        <dd>
          <span class="c-label media">メディア</span>
        </dd>
      </dl>
      <p>ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。…</p>
    </a>
  </li>
  <li>
    <a href="<%= meta.path %>/information/others/aaa.html">
      <dl>
        <dt>2022/06/30</dt>
        <dd>
          <span class="c-label others">その他</span>
        </dd>
      </dl>
      <p>ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。ここにニュースタイトルが入ります。…</p>
    </a>
  </li>
</ul>