<!--/products/item * 3 + /the-best-amberjack/  template-->
<div class="c-productLineup">
  <h3 class="c-heading--middle">商品一覧</h3>
  <p class="c-heading--middleEn">Product lineup</p>
  <ul class="c-productLineup__list">
    <li>
      <div class="c-productLineup__name">
        <p>ラウンド（丸一匹）</p>
        <p>Round</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_round.png" alt="極上三ツ星かんぱち ラウンド">
      </div>
      <p class="c-productLineup__text">商品説明文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>フィーレ（三枚おろし）</p>
        <p>Filet</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_filet.png" alt="極上三ツ星かんぱち フィーレ">
      </div>
      <p class="c-productLineup__text">商品説明文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>ロイン（柵）</p>
        <p>Loin</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_loin.png" alt="極上三ツ星かんぱち ロイン">
      </div>
      <p class="c-productLineup__text">商品説明文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>熟成かんぱち（フィーレ）</p>
        <p>Aged amberjack</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_aged.png" alt="極上三ツ星かんぱち 熟成">
      </div>
      <p class="c-productLineup__text">商品説明文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </li>
    <li>
      <div class="c-productLineup__name">
        <p>贈答用セット（市販品）</p>
        <p>Gift</p>
      </div>
      <div class="c-productLineup__img">
        <img src="<%= meta.path %>/images/amberjack_gift.png" alt="極上三ツ星かんぱち 贈答用セット">
      </div>
      <p class="c-productLineup__text">商品説明文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </li>
  </ul>
</div>