<div class="c-relatedLinks">
  <h3 class="c-heading--middle">関連情報</h3>
  <p class="c-heading--middleEn">Related Links</p>
  <ul class="c-relatedLinks__list">
    <li>
      <a href="<%= meta.path %>/the-best-amberjack/">
        <img src="<%= meta.path %>/images/relatedthumb_amberjack.png" alt="極上 三ツ星かんぱち イメージ素材">
        <div class="c-relatedLinks__text">
          <span>極上 三ツ星かんぱちとは</span>
        </div>
      </a>
    </li>
    <li>
      <a href="<%= meta.path %>/company/">
        <img src="<%= meta.path %>/images/relatedthumb_company.png" alt="会社情報">
        <div class="c-relatedLinks__text">
          <span>会社情報</span>
        </div>
      </a>
    </li>
    <li>
      <a href="<%= meta.path %>/products/">
        <img src="<%= meta.path %>/images/relatedthumb_products.png" alt="取り扱い商品">
        <div class="c-relatedLinks__text">
          <span>取り扱い商品</span>
        </div>
      </a>
    </li>
  </ul>
</div>