<div class="p-sponsors__rank platinum">
  <h2 class="c-heading--genreTitle">Platinum</h2>
  <ul class="p-sponsors__list platinum">
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
  </ul>
</div>
<div class="p-sponsors__rank gold">
  <h2 class="c-heading--genreTitle">Gold</h2>
  <ul class="p-sponsors__list gold">
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
  </ul>
</div>
<div class="p-sponsors__rank silver">
  <h2 class="c-heading--genreTitle">Silver</h2>
  <ul class="p-sponsors__list silver">
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
  </ul>
</div>
<div class="p-sponsors__rank bronze">
  <h2 class="c-heading--genreTitle">Bronze</h2>
  <ul class="p-sponsors__list bronze">
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
  </ul>
</div>
<div class="p-sponsors__rank contributor">
  <h2 class="c-heading--genreTitle">Contributor</h2>
  <ul class="p-sponsors__list contributor">
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
    <li>
      <img src="<%= data.commonImgPath %>/dummy_rank_banner.png" alt="dummy">
    </li>
  </ul>
</div>