<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "トップメッセージ | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "トップメッセージ。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
  <body>
    <%- include('../../include/_header.ejs'); %>
    <main id="message" class="subpage">
      <div class="breadcrumb">
        <ol class="breadcrumb__list">
          <li>
            <a href="/">TOP</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a href="../">IR情報</a>
            <span class="breadcrumb__line">/</span>
          </li>
          <li>
            <a>トップメッセージ</a>
          </li>
        </ol>
        <!-- /.breadcrumb -->
      </div>
      <section class="imgKv">
        <h1 class="imgKv__ttl">トップメッセージ</h1>
        <span class="imgKv__line"></span>
      </section>



      <div class="contentWrap">
        <section class="message">
          <div class="message__imgBlk">
            <figure>
              <img class="pc" src="../../images/ir/message_img_01.jpg" alt="">
              <img class="sp" src="../../images/ir/message_img_01_pc.jpg" alt="">
            </figure>
          </div>
          <div class="message__txtBlk">
            <p>
              皆さまには、日ごろより格別のご高配を賜り、厚くお礼申し上げます。 2020年は、クリーク·アンド·リバー社にとって、記念すべき創業30周年を迎える年でした。新たな飛躍を決意した矢先、新型コロナウイルスという逆風の経営環境となり、期首に描いた成長シナリオから状況は一転しました。会社をどう存続させ、社員やプロフェッショナルの健康と生活を守るか、前例のない状況に明快な答えはなく、社員総出で考えたことを一つひとつ猛スピードで実行してまいりました。 <br><br>
              そのような中、2021年2月期決算では、売上高、営業利益ともに過去最高を更新。仕事のスタイルが一変したにも関わらず、社員全員が創意工夫し、31期はグループ全体で過去最高の業績をあげることができました。「大きな会社ではなく、変化に対応できる会社が強い」と日頃から言い続けていることがしっかりと根づき、事業部、グループ会社が垣根を越え、全員が心を一つにして、成果を上げたことに誇りを感じています。「プロフェッショナルの生涯価値の向上」「クライアントの価値創造への貢献」の二大ミッションを追求していく限り、C&Rグループは50年、100年と成長できると改めて確信する良い機会ともなりました。<br><br>
              これからの大きなテーマの一つが＜プロフェッショナル50分野構想＞です。事業創造こそが最高のクリエイティブであるという信念のもと、現在18分野で展開している事業を将来的に50分野まで拡張させ、知見を持ったプロフェッショナルを組み合わせることによりさまざまなサービスを作り上げ、世界のどこにもない事業クリエイティブ・カンパニーへの成長を目指します。<br><br>
              人類を脅かすパンデミックはこれからも起こり、その度に世界は変化するかもしれません。それでも私たちはフロンティアスピリッツを忘れず、その変化に柔軟に対応し、新しい社会の仕組みとサービスを生み出し続けてまいります。国境を越え、プロフェッショナルとともに永続的な成長を目指すC&Rグループに今後ともご期待ください。
            </p>
            <h2>
              <span>代表取締役社長</span>
              井川 幸広
            </h2>
          </div>
        </section>
        <%- include('../../include/subpages/_irLinkBlk.ejs',); %>
        <!-- /.linkBlk -->
      </div>
      <%- include('../../include/subpages/_irBnrBlk.ejs',); %>
      <!-- /.bnrBlk -->
    </main>
    <%- include('../../include/_footer.ejs'); %>
  </body>
</html>