<div class="p-mainCulture js-scrollFloatFadeIn">
  <div class="p-mainCulture__data">
    <ul class="p-mainCulture__itemWrap p-mainCulture__itemWrap--first">
      <li class="p-mainCulture__item">
        <p>出身校の所在地</p>
        <img src="<%= data.srcpath %>images/number_area.png" alt="出身校の所在地 データ">
      </li>
      <li class="p-mainCulture__item">
        <p>文理の割合</p>
        <img src="<%= data.srcpath %>images/number_degreetype.png" alt="文理の割合 データ">
      </li>
      <li class="p-mainCulture__item">
        <p>勤続年数</p>
        <img src="<%= data.srcpath %>images/number_length_sp.png" alt="勤続年数 データ">
      </li>
      <li class="p-mainCulture__item">
        <p>学生時代の部活・サークルは？</p>
        <img src="<%= data.srcpath %>images/number_club.png" alt="学生時代の部活・サークル データ">
      </li>
      <li class="p-mainCulture__item">
        <p>ランチはどうする？</p>
        <img src="<%= data.srcpath %>images/number_meal.png" alt="ランチ　データ">
      </li>
    </ul>
    <ul class="p-mainCulture__itemWrap p-mainCulture__itemWrap--second">
      <li class="p-mainCulture__item">
        <p>出身校の所在地</p>
        <img src="<%= data.srcpath %>images/number_area.png" alt="出身校の所在地 データ">
      </li>
      <li class="p-mainCulture__item">
        <p>文理の割合</p>
        <img src="<%= data.srcpath %>images/number_degreetype.png" alt="文理の割合 データ">
      </li>
      <li class="p-mainCulture__item">
        <p>勤続年数</p>
        <img src="<%= data.srcpath %>images/number_length_sp.png" alt="勤続年数 データ">
      </li>
      <li class="p-mainCulture__item">
        <p>学生時代の部活・サークルは？</p>
        <img src="<%= data.srcpath %>images/number_club.png" alt="学生時代の部活・サークル データ">
      </li>
      <li class="p-mainCulture__item">
        <p>ランチはどうする？</p>
        <img src="<%= data.srcpath %>images/number_meal.png" alt="ランチ　データ">
      </li>
    </ul>
  </div>
  <div class="p-mainCulture__textWrap">
    <div class="p-mainCulture__textWrapInner">
      <h2 class="p-mainCulture__title c-heading--pageTitle">Our CULTURE</h2>
      <div class="p-mainCulture__textBottom">
        <p class="p-mainCulture__textSub">-働く環境・各種制度</p>
        <div class="p-mainCulture__textDetailWrap">
          <p class="p-mainCulture__textDetail">経済産業省が主催する「健康経営優良法人2021」に認定されているKEL。社員が健康かつ快適に働くために、様々な制度、環境整備に取り組んでいます。</p>
        </div>
        <div class="c-circleBtn p-mainCulture__moreBtn">
          <a href="<%= data.srcpath %>culture/">
            <span class="c-circleBtn__circle">
              <span class="c-circleBtn__arrow"></span>
            </span>
            <span class="c-circleBtn__text u-ff-barlow--bold">READ MORE</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>