<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__main">
      <div class="l-footer__logo">
        <a href="<%= data.srcpath %>">
          <img src="<%= data.srcpath %>images/logo_white.png" alt="KEL Kanematsu Electronics Ltd.">
        </a>
      </div>
      <div class="l-footer__menu">
        <p class="l-footer__menuTop">
          <a href="<%= data.srcpath %>">新卒採用情報トップ</a>
        </p>
        <nav>
          <ul class="l-footer__globalItem">
            <li>
              <div class="l-footer__globalItemHead">
                <a href="<%= data.srcpath %>mission/">MISSION<span>- 事業概要・社長メッセージ</span></a>
              </div>
            </li>
            <li>
              <div class="l-footer__globalItemHead">
                <a href="<%= data.srcpath %>work/">WORK<span>- KELの仕事</span></a>
              </div>
              <ul class="l-footer__globalItemSecond">
                <li>
                  <a href="<%= data.srcpath %>work/sales/"><span>- </span>営業の仕事</a>
                </li>
                <li>
                  <a href="<%= data.srcpath %>work/se/"><span>- </span>SEの仕事</a>
                </li>
              </ul>
            </li>
            <li>
              <div class="l-footer__globalItemHead">
                <a href="<%= data.srcpath %>culture/">CULTURE<span>- 働く環境・各種制度</span></a>
              </div>
              <ul class="l-footer__globalItemSecond">
                <li>
                  <a href="<%= data.srcpath %>culture/environment/"><span>- </span>KELの働く環境</a>
                </li>
                <li>
                  <a href="<%= data.srcpath %>culture/welfare/"><span>- </span>福利厚生・各種制度</a>
                </li>
                <li>
                  <a href="<%= data.srcpath %>culture/number/"><span>- </span>数字で見るKEL</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="l-footer__globalItem">
            <li>
              <div class="l-footer__globalItemHead">
                <a href="<%= data.srcpath %>people/">PEOPLE<span>- 社員インタビュー</span></a>
              </div>
              <ul class="l-footer__globalItemSecond">
                <li>
                  <a href="<%= data.srcpath %>people/"><span>- </span>社員インタビュー</a>
                </li>
                <li>
                  <a href="<%= data.srcpath %>people/index.html?#interviewMovie"><span>- </span>インタビュー動画</a>
                </li>
              </ul>
            </li>
            <li>
              <div class="l-footer__globalItemHead">
                <a href="<%= data.srcpath %>faq/">FAQ<span>- よくある質問</span></a>
              </div>
            </li>
            <li>
              <div class="l-footer__globalItemHead">
                <a href="<%= data.srcpath %>recruit/">RECRUIT<span>- 採用情報</span></a>
              </div>
              <ul class="l-footer__globalItemSecond">
                <li>
                  <a href="<%= data.srcpath %>recruit/schedule/"><span>- </span>募集要項・採用スケジュール</a>
                </li>
                <li>
                  <a href="<%= data.srcpath %>recruit/training/"><span>- </span>教員研修</a>
                </li>
                <li>
                  <a href="<%= data.srcpath %>recruit/message/"><span>- </span>採用担当からのメッセージ</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="l-footer__bottom">
      <p class="l-footer__copyRight"><span>&copy;</span>Kanematsu Electronics ltd.</p>
      <ul class="l-footer__externalLink">
        <li>
          <a href="https://www.kel.co.jp/personal_information.html" target="_blank">
            個人情報の取り扱いについて
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path d="M1289.916,25.5v10a1.5,1.5,0,0,1-1.5,1.5h-1.5v1.5a1.5,1.5,0,0,1-1.5,1.5h-10a1.5,1.5,0,0,1-1.5-1.5v-10a1.5,1.5,0,0,1,1.5-1.5h1.5V25.5a1.5,1.5,0,0,1,1.5-1.5h10A1.5,1.5,0,0,1,1289.916,25.5Zm-4.5,6.5h-10v6.5h10Zm3-6.5h-10V27h7a1.5,1.5,0,0,1,1.5,1.5v7h1.5Z" transform="translate(-1273.916 -24.002)" fill=""/>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.kel.co.jp/company/" target="_blank">
            会社情報
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path d="M1289.916,25.5v10a1.5,1.5,0,0,1-1.5,1.5h-1.5v1.5a1.5,1.5,0,0,1-1.5,1.5h-10a1.5,1.5,0,0,1-1.5-1.5v-10a1.5,1.5,0,0,1,1.5-1.5h1.5V25.5a1.5,1.5,0,0,1,1.5-1.5h10A1.5,1.5,0,0,1,1289.916,25.5Zm-4.5,6.5h-10v6.5h10Zm3-6.5h-10V27h7a1.5,1.5,0,0,1,1.5,1.5v7h1.5Z" transform="translate(-1273.916 -24.002)" fill=""/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>