<div class="p-mainPeople js-scrollFloatFadeIn">
  <div class="p-mainPeople__titleWrap--sp">
    <h2 class="p-mainPeople__title--sp c-heading--pageTitle">Our PEOPLE</h2>
    <p class="p-mainPeople__titleSup--sp">-社員インタビュー</p>
  </div>
  <div class="p-mainPeople__content">
    <div class="p-mainPeople__topWrap">
      <div class="c-circleBtn p-mainPeople__link">
        <a href="<%= data.srcpath %>people/">
          <span class="c-circleBtn__circle">
            <span class="c-circleBtn__arrow"></span>
          </span>
          <span class="c-circleBtn__text u-ff-barlow--bold">READ MORE</span>
        </a>
      </div>
      <div class="p-mainPeople__titleWrap">
        <h2 class="p-mainPeople__title c-heading--pageTitle">Our PEOPLE</h2>
        <p class="p-mainPeople__titleSup">-社員インタビュー</p>
      </div> 
    </div>
    <div class="p-mainPeople__carouselParent">
      <div class="p-mainPeople__carouselWrap swiper-container">
        <ul class="p-mainPeople__data swiper-wrapper">
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">課題を引き出すには、<br>信頼関係が何より大切。</p>
                <img src="<%= data.srcpath %>images/caperson_1.png" alt="第一ソリューション営業部 M.K">
              </div>
              <p class="p-mainPeople__dataBottom">第一ソリューション営業部<br><span>M.K.</span></p>
              <p class="p-mainPeople__label sales"><span>営業</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">育児休暇後でも、<br>働きやすい職場環境。</p>
                <img src="<%= data.srcpath %>images/caperson_2.png" alt="第一ソリューション営業本部 I.T.">
              </div>
              <p class="p-mainPeople__dataBottom">第一ソリューション営業本部<br><span>I.T.</span></p>
              <p class="p-mainPeople__label sales"><span>営業</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">知ろうという気持ちが、<br>信頼関係を生む。</p>
                <img src="<%= data.srcpath %>images/caperson_3.png" alt="第一ソリューション営業本部 K.F.">
              </div>
              <p class="p-mainPeople__dataBottom">第一ソリューション営業本部<br><span>K.F.</span></p>
              <p class="p-mainPeople__label sales"><span>営業</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">セキュリティ分野の最新知見で、<br>お客様の経営計画をサポートする。</p>
                <img src="<%= data.srcpath %>images/caperson_4.png" alt="第三システム部 K.R.">
              </div>
              <p class="p-mainPeople__dataBottom">第三システム部<br><span>K.R.</span></p>
              <p class="p-mainPeople__label se"><span>SE</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">正解がないことが、逆に魅力。<br>最強のIT営業マンを目指して。</p>
                <img src="<%= data.srcpath %>images/caperson_5.png" alt="第二ソリューション営業本部 Y.S.">
              </div>
              <p class="p-mainPeople__dataBottom">第二ソリューション営業本部<br><span>Y.S.</span></p>
              <p class="p-mainPeople__label sales"><span>営業</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">IT業界は、奥深い。<br>この分野なら、知りたいことを探求できる。</p>
                <img src="<%= data.srcpath %>images/caperson_6.png" alt="第二システム部 O.R.">
              </div>
              <p class="p-mainPeople__dataBottom">第二システム部<br><span>O.R.</span></p>
              <p class="p-mainPeople__label se"><span>SE</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">リード文章が入ります。<br>リード文章が入ります。</p>
                <img src="<%= data.srcpath %>images/caperson_7.png" alt="">
              </div>
              <p class="p-mainPeople__dataBottom">第六ソリューション営業本部部長<br><span>I.T.</span></p>
              <p class="p-mainPeople__label sales"><span>営業</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">リード文章が入ります。<br>リード文章が入ります。</p>
                <img src="<%= data.srcpath %>images/caperson_8.png" alt="">
              </div>
              <p class="p-mainPeople__dataBottom">第六ソリューション営業本部部長<br><span>I.T.</span></p>
              <p class="p-mainPeople__label se"><span>SE</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">リード文章が入ります。<br>リード文章が入ります。</p>
                <img src="<%= data.srcpath %>images/caperson_9.png" alt="">
              </div>
              <p class="p-mainPeople__dataBottom">第六ソリューション営業本部部長<br><span>I.T.</span></p>
              <p class="p-mainPeople__label sales"><span>営業</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">リード文章が入ります。<br>リード文章が入ります。</p>
                <img src="<%= data.srcpath %>images/caperson_10.png" alt="">
              </div>
              <p class="p-mainPeople__dataBottom">第六ソリューション営業本部部長<br><span>I.T.</span></p>
              <p class="p-mainPeople__label se"><span>SE</span></p>
            </a>
          </li>
          <li class="swiper-slide">
            <a href="#">
              <div class="p-mainPeople__dataTop">
                <p class="p-mainPeople__leadText">リード文章が入ります。<br>リード文章が入ります。</p>
                <img src="<%= data.srcpath %>images/caperson_11.png" alt="">
              </div>
              <p class="p-mainPeople__dataBottom">第六ソリューション営業本部部長<br><span>I.T.</span></p>
              <p class="p-mainPeople__label sales"><span>営業</span></p>
            </a>
          </li>
        </ul>
      </div>
      <div class="swiper-button-prev p-mainPeople__carouselPrev p-mainPeople__carouselBtn"></div>
      <div class="swiper-button-next p-mainPeople__carouselNext p-mainPeople__carouselBtn"></div>  
    </div>
    <div class="p-mainPeople__spLink">
      <div class="c-circleBtn">
        <a href="<%= data.srcpath %>people/">
          <span class="c-circleBtn__circle">
            <span class="c-circleBtn__arrow"></span>
          </span>
          <span class="c-circleBtn__text u-ff-barlow--bold">READ MORE</span>
        </a>
      </div>
    </div>
    <div class="p-mainPeople__talkInfo">
      <div class="p-mainPeople__textWrap">
        <h3 class="p-mainPeople__talkHeading">社員インタビュー</h3>
        <p>KELで働く営業、エンジニアの先輩社員に職種別でインタビュー。<br>入社したきっかけ、仕事内容、社内の雰囲気や仕事のやりがいについて<br class="pc">語っていただきました。</p>
      </div>
    </div>
    <div class="p-mainPeople__videoWrap">
      <div class="p-mainPeople__video">
        <button class="p-mainPeople__videoThumb js-modalOpenBtn">
          <span class="p-mainPeople__videoBtn">
            <span>
              <img src="<%= data.srcpath %>images/movie_btn.svg" alt="btn">
            </span>
            <span class="p-mainPeople__videoBtnText">PLAY MOVIE</span>
          </span>
          <img src="<%= data.srcpath %>images/top_talk_sales_thumb.png" alt="営業座談会">
          <span class="p-mainPeople__overLay"></span>
        </button>
        <p>社員インタビュー 営業編</p>
      </div>
      <div class="p-mainPeople__video p-mainPeople__video--second">
        <button class="p-mainPeople__videoThumb js-modalOpenBtn">
          <span class="p-mainPeople__videoBtn">
            <span>
              <img src="<%= data.srcpath %>images/movie_btn.svg" alt="btn">
            </span>
            <span class="p-mainPeople__videoBtnText">PLAY MOVIE</span>
          </span>
          <img src="<%= data.srcpath %>images/top_talk_se_thumb.png" alt="営業座談会">
          <span class="p-mainPeople__overLay"></span>
        </button>
        <p>社員インタビュー SE編</p>
      </div>
    </div>
  </div>
</div>