<div class="p-firstVisual">
  <header class="p-firstVisual__header">
    <div class="p-firstVisual__headWrap">
      <div class="p-firstVisual__headInner">
        <div class="p-firstVisual__logo">
          <a href="<%= data.srcpath %>">
            <img src="<%= data.srcpath %>images/logo_top.png" alt="KEL Kanematsu Electronics Ltd.">
          </a>
        </div>
        <h1 class="p-firstVisual__heading"><span>兼松エレクトロニクス </span>新卒採用サイト</h1>
      </div>
    </div>
    <div class="p-firstVisual__btnWrap">
      <div class="p-firstVisual__btn p-firstVisual__btn--entry">
        <a href="https://mypage.3050.i-webs.jp/kel2024/" target="_blank">
          <span>
            MYPAGE<br>
            2024<br>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path d="M1289.916,25.5v10a1.5,1.5,0,0,1-1.5,1.5h-1.5v1.5a1.5,1.5,0,0,1-1.5,1.5h-10a1.5,1.5,0,0,1-1.5-1.5v-10a1.5,1.5,0,0,1,1.5-1.5h1.5V25.5a1.5,1.5,0,0,1,1.5-1.5h10A1.5,1.5,0,0,1,1289.916,25.5Zm-4.5,6.5h-10v6.5h10Zm3-6.5h-10V27h7a1.5,1.5,0,0,1,1.5,1.5v7h1.5Z" transform="translate(-1273.916 -24.002)" fill=""/>
            </svg>
          </span>
        </a>
      </div>
      <div class="p-firstVisual__btn p-firstVisual__btn--external">
        <a href="https://job.mynavi.jp/24/pc/search/corp5142/outline.html" target="_blank">
          <span>
            MYNAVI<br>
            2024<br>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path d="M1289.916,25.5v10a1.5,1.5,0,0,1-1.5,1.5h-1.5v1.5a1.5,1.5,0,0,1-1.5,1.5h-10a1.5,1.5,0,0,1-1.5-1.5v-10a1.5,1.5,0,0,1,1.5-1.5h1.5V25.5a1.5,1.5,0,0,1,1.5-1.5h10A1.5,1.5,0,0,1,1289.916,25.5Zm-4.5,6.5h-10v6.5h10Zm3-6.5h-10V27h7a1.5,1.5,0,0,1,1.5,1.5v7h1.5Z" transform="translate(-1273.916 -24.002)" fill=""/>
            </svg>
          </span>
        </a>
      </div>
      <div class="p-firstVisual__btn p-firstVisual__btn--external --rikunabi">
        <a href=" https://job.rikunabi.com/2024/company/r661300007/" target="_blank">
          <span>
            RIKUNABI<br>
            2024<br>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <path d="M1289.916,25.5v10a1.5,1.5,0,0,1-1.5,1.5h-1.5v1.5a1.5,1.5,0,0,1-1.5,1.5h-10a1.5,1.5,0,0,1-1.5-1.5v-10a1.5,1.5,0,0,1,1.5-1.5h1.5V25.5a1.5,1.5,0,0,1,1.5-1.5h10A1.5,1.5,0,0,1,1289.916,25.5Zm-4.5,6.5h-10v6.5h10Zm3-6.5h-10V27h7a1.5,1.5,0,0,1,1.5,1.5v7h1.5Z" transform="translate(-1273.916 -24.002)" fill=""/>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </header>
  <div class="p-firstVisual__main" id="js-top-main">
    <div class="p-firstVisual__catch" id="js-top-catch">
      <p><span>KELだからこそ、</span></p>
      <p><span>できることがある。</span></p>
    </div>
    <div class="p-firstVisual__menuWrap">
      <nav>
        <ul class="p-firstVisual__globalMenu">
          <li class="p-firstVisual__globalItem">
            <a href="<%= data.srcpath %>mission/">
              <span class="p-firstVisual__linkHead">MISSION</span><br>
              <span class="p-firstVisual__linkFoot">事業概要・社長メッセージ</span>
            </a>
          </li>
          <li class="p-firstVisual__globalItem">
            <a href="<%= data.srcpath %>work/">
              <span class="p-firstVisual__linkHead">WORK</span><br>
              <span class="p-firstVisual__linkFoot">KELの仕事</span>
            </a>
          </li>
          <li class="p-firstVisual__globalItem">
            <a href="<%= data.srcpath %>culture/">
              <span class="p-firstVisual__linkHead">CULTURE</span><br>
              <span class="p-firstVisual__linkFoot">働く環境・各種制度</span>
            </a>
          </li>
          <li class="p-firstVisual__globalItem">
            <a href="<%= data.srcpath %>people/">
              <span class="p-firstVisual__linkHead">PEOPLE</span><br>
              <span class="p-firstVisual__linkFoot">社員インタビュー</span>
            </a>
          </li>
          <li class="p-firstVisual__globalItem">
            <a href="<%= data.srcpath %>faq/">
              <span class="p-firstVisual__linkHead">FAQ</span><br>
              <span class="p-firstVisual__linkFoot">よくある質問</span>
            </a>
          </li>
          <li class="p-firstVisual__globalItem">
            <a href="<%= data.srcpath %>recruit/">
              <span class="p-firstVisual__linkHead">RECRUIT</span><br>
              <span class="p-firstVisual__linkFoot">採用情報</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="p-firstVisual__contentWrap">
      <div>
        <div class="p-firstVisual__line">
          <!--上下11名ずつの画像を利用-->
          <ul class="p-firstVisual__imgWrap p-firstVisual__slideFirst">
            <li>
              <img src="<%= data.srcpath %>images/mvperson_1.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_2.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_3.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_4.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_5.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_6.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_7.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_8.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_9.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_10.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_11.jpg" alt="">
            </li>
          </ul>
          <ul class="p-firstVisual__imgWrap p-firstVisual__slideSecond">
            <li>
              <img src="<%= data.srcpath %>images/mvperson_1.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_2.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_3.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_4.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_5.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_6.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_7.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_8.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_9.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_10.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_11.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="p-firstVisual__lineBottom">
          <ul class="p-firstVisual__imgWrap p-firstVisual__slideFirst">
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_6.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_7.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_8.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_9.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_10.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_11.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_1.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_2.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_3.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_4.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_5.jpg" alt="">
            </li>
          </ul>
          <ul class="p-firstVisual__imgWrap p-firstVisual__slideSecond">
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_6.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_7.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_8.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_9.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_10.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_11.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_1.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_2.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_3.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_4.jpg" alt="">
            </li>
            <li>
              <img src="<%= data.srcpath %>images/mvperson_bottom_5.jpg" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--MT更新箇所-->
  <div class="p-firstVisual__info">
    <div class="p-firstVisual__notice">
      <p>本サイトは22卒対象向けの内容となりますが、「インターンシップにエントリー」のリンク先は23卒対象向けの募集内容です。23卒対象の採用情報につきましてはしばらくお待ちください。</p>
    </div>
    <div class="p-firstVisual__infoGroup">
      <div class="p-firstVisual__infoTitle">
        <h2>News</h2>
        <h3>-ニュース</h3>
      </div>
      <ul class="p-firstVisual__infoList">
        <li>
          <span class="p-firstVisual__date">2022.03.01</span>
          <span class="c-label c-label--mypage">マイページ</span><br>
          <span class="p-firstVisual__infoText">
          <a href="https://mypage.3050.i-webs.jp/kel2024/" target="_blank">学生登録画面をオープンしました。</a>
        </span>
        </li>
        <li>
          <span class="p-firstVisual__date">2022.03.01</span>
          <span class="c-label c-label--news">お知らせ</span><br>
          <span class="p-firstVisual__infoText">
          <a href="https://job.mynavi.jp/24/pc/search/corp5142/outline.html" target="_blank">採用情報をマイナビに掲載いたしました。</a>
        </span>
        </li>
      </ul>
    </div>
  </div>
</div>