<div class="p-sub__mv">
  <div class="p-sub__mvImg">
    <img src="<%= data.imgPath %>/mv/<%= data.pageName%>.webp" alt="<%= data.pageName %> firstVisual" loading="eager">
  </div>
  <section id="js-heading-subMv" class="p-sub__mvTitle <%= data.pageName%> c-headingWrap--subMv">
    <h1 class="c-heading"><%= data.pageTitle %></h1>
    <p class="c-headingSub">
      <span class="c-headingSub__decoration"></span>
    </p>
  </section>
  <div class="p-sub__mvCover--gray"></div>
</div>