<%
  const data = {
    isTop: false,
    title: "Recruit | NOS 新卒採用サイト",
    description: "",
    path: "..",
    imgPath: "../images",
    commonImgPath: "../images/common",
    current: "recruit",
    hierarchy: "second",
    crumbsText: "RECRUIT -採用情報",
    crumbsUrl: "",
    crumbsParentText: "",
  }
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/common/_head.ejs', {data: data}); %>
  <body>
    <div class="p-sub__container">
      <%- include('../include/common/_header.ejs', {data: data}); %>
      <main class="p-sub__main">
        <%- include('../include/common/_breadCrumbs.ejs', {data: data}); %>
        <div class="p-sub__fv">
          <div class="p-sub__fvImg js-sub-fvImg">
            <img class="is-pc" src="<%= data.imgPath %>/kv/recruit_top.webp" alt="キービジュアル <%= data.crumbsText %>">
            <img class="is-sp" src="<%= data.imgPath %>/kv/recruit_top_sp.webp" alt="キービジュアル <%= data.crumbsText %>">
          </div>
          <section class="p-sub__topSection">
            <h1 class="c-heading --recruit p-sub__topHeading js-sub-titleTop">
              <img src="<%= data.commonImgPath %>/heading_recruit.svg" alt="<%= data.current %>">
            </h1>
            <p class="c-headingSub"><span>採用情報</span></p>
          </section>
        </div>
        <div class="p-sub__contents js-scrollFadeIn --block">
          <p class="p-sub__description">NOSの新卒採用に関する情報についてご案内します。</p>
          <ul class="p-sub__pageList --multiColumn">
            <li>
              <a href="<%= data.path %>/recruit/schedule/">
                <div class="p-sub__pageImg">
                  <img src="<%= data.imgPath %>/recruit/schedule_thumb.webp" alt="募集要項・採用スケジュール イメージ">
                </div>
                <div class="p-sub__pageTextArea">
                  <div class="p-sub__pageLabel">
                    <span>募集要項・採用スケジュール</span>
                  </div>
                  <p class="p-sub__pageText">採用に関する募集要項、採用方針や採用スケジュールについてご案内します。</p>
                </div>
              </a>
            </li>
            <li>
              <a href="<%= data.path %>/recruit/training/">
                <div class="p-sub__pageImg">
                  <img src="<%= data.imgPath %>/recruit/training_thumb.webp" alt="教育研修 イメージ">
                </div>
                <div class="p-sub__pageTextArea">
                  <div class="p-sub__pageLabel">
                    <span>教育研修</span>
                  </div>
                  <p class="p-sub__pageText">新入社員研修や研修スケジュール、その他の各種研修制度についてご紹介します。</p>
                </div>
              </a>
            </li>
            <li>
              <a href="<%= data.path %>/recruit/message/">
                <div class="p-sub__pageImg">
                  <img src="<%= data.imgPath %>/recruit/message_thumb.webp" alt="採用担当からのメッセージ イメージ">
                </div>
                <div class="p-sub__pageTextArea">
                  <div class="p-sub__pageLabel">
                    <span>採用担当からのメッセージ</span>
                  </div>
                  <p class="p-sub__pageText">新卒採用に携わる担当者から応募者に向けてメッセージをお伝えします。</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <%- include('../include/common/_entryBottom.ejs', {data: data}); %>
      </main>
      <%- include('../include/common/_scrollTop.ejs', {data: data}); %>
      <%- include('../include/common/_footer.ejs', {data: data}); %>
    </div>
    <%- include('../include/common/_script.ejs', {data: data}); %>
  </body>
</html>