<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
  <!--NOTO SANS SEMICONDENSED-->
  <link rel="stylesheet" href="https://use.typekit.net/nlk5ezk.css">
  <link rel="stylesheet" href="<%= data.path %>/css/renewal-top.css">
  <link rel="stylesheet" href="<%= data.path %>/css/phase2-theme.css">
  <link rel="stylesheet" href="<%= data.path %>/css/style.css">
</head>