<section class="p-top__mission js-scrollFadeIn">
  <div class="p-top__missionCircle">
    <img src="<%= data.commonImgPath %>/circle_orange.png" alt="circle orange" loading="eager">
  </div>
  <h2 class="p-top__missionHeading --h2">より良い<br>モビリティ社会づくり</h2>
  <div class="p-top__missionTextArea">
    <p class="c-text">トヨタ・モビリティ基金は、多様なパートナーとともに、<br>移動に関わる国内外の社会課題の解決に取り組んでいます。</p>
    <p class="c-text">志を同じくする人たちとの協働を通じ、<br>より豊かでサステナブルな未来社会の実現に向けて、<br>イノベーティブな技術、仕組みづくりに果敢にチャレンジし、<br>移動の楽しさを追求していきます。</p>
    <div class="p-top__missionBtn">
      <a href="<%= data.path　%>/about/" class="c-button">詳細を見る</a>
    </div>
  </div>
  <h3 class="p-top__missionHeading --h3 js-top-mission-show-3">
    <span>Our</span><span>Mission</span>
  </h3>
  <div class="p-top__missionImg first js-top-mission-show-1">
    <img src="<%= data.imgPath %>/message_1.png" alt="message img 01">
  </div>
  <div class="p-top__missionImg second js-top-mission-show-2">
    <img src="<%= data.imgPath %>/message_2.png" alt="message img 02">
  </div>
  <div class="p-top__missionImg third js-top-mission-show-4">
    <img src="<%= data.imgPath %>/message_3.png" alt="message img 03">
  </div>
</section>