<!DOCTYPE html>
<html lang="ja">
  <%- include('../../include/subpages/_subpageHead.ejs', {path: "../../",title: "IRポリシー | IR情報 | クリーク･アンド･リバー社｜C&Rグループ", description: "IRポリシー。IR情報。クリーク･アンド･リバー社とC&Rグループは、映像、ゲーム、Web、広告・出版、医療、会計、法曹、建築、コンピュータサイエンスなどのプロフェショナル･エージェンシーのパイオニア。プロフェショナルの叡智を掛け合わせ、革新的な事業を創造しています。"}); %>
<body>
	<%- include('../../include/_header.ejs'); %>
	<main id="financial" class="subpage">
		<div class="breadcrumb">
			<ol class="breadcrumb__list">
				<li>
					<a href="/">TOP</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a href="../">IR情報</a>
					<span class="breadcrumb__line">/</span>
				</li>
				<li>
					<a>IRポリシー</a>
				</li>
			</ol><!-- /.breadcrumb -->
		</div>
		<section class="imgKv">
			<h1 class="imgKv__ttl">IRポリシー</h1>
			<span class="imgKv__line"></span>
		</section>
		<div class="contentWrap">
			<section class="txtBase">
				<h3 class="txtBase__ttl">ディスクロージャー（情報開示）の基準</h3>
				<p class="txtBase__txt">当社では、当社が株式上場している東京証券取引所の定める適時開示規則に沿ってディスクロージャー（情報開示）を行なっています。投資判断に影響を与える決定事実に関する情報、発生事実に関する情報、決算に関する情報といった有価証券の投資判断に重要な影響を与える事項が発生した場合、東京証券取引所から照会があった場合、既に開示した重要な会社情報の内容について重大な変更、中止等が行われた場合に適時開示を行なっています。 また、当社では、会社説明会での発表内容等、適時開示規則に該当しない情報についても、投資家のご要望に応えるべくできるだけ積極的かつ公平に開示する方針です。</p>
				<h3 class="txtBase__ttl">情報の開示方法</h3>
				<p class="txtBase__txt">適時開示規則に該当する情報の開示は、同規則に従い、東京証券取引所の提供する適時開示情報伝達システム（TDnet）にて公開しています。公開した情報は、当社ホームページに速やかに掲載することとしています。また、適時開示規則に該当しない情報を開示するに当たっても、適時開示の趣旨を踏まえて適切な方法によりできるだけ正確かつ公平に当該情報が一般の投資家に伝達されるよう配慮しています。</p>
				<h3 class="txtBase__ttl">将来の見通しに関して</h3>
				<p class="txtBase__txt">
					当社では、当社が株式上場している証券取引所に提出する業績予想に加えて、その他の方法により、業績見通しに関する情報を提供する場合があります。<br>
					また、ニュースリリース、当社の発行する書面、ホームページの記載内容、決算説明会やアナリストミーティング等における質疑応答等には、計画、見通し、戦略などが含まれる場合があります。<br>
					それらの情報は、作成時点で入手可能な情報に基づき当社の経営者が合理的と判断したもので、リスクや不確実性を含んでいます。<br>
					実際の業績は、さまざまな要素により、これら見通しとは大きく異なる結果となりうることをご承知おき下さい。<br>
					実際の業績に影響を与える重要な要素としては、<br>
					（1）当社を取り巻く経済情勢、需要動向等の変化<br>
					（2）為替、金利等の変動<br>
					（3）当社が関与する事業分野における法令変更<br>
					その他が想定されます。</p>
				<h3 class="txtBase__ttl">本ホームページの位置付け</h3>
				<p class="txtBase__txt">本ホームページは、インターネット上で当社の情報を閲覧されたい方々を対象に、開設しております。公平な情報開示のために、情報の公開後できるだけ速やかに当該情報を本ホームページに掲載していますが、情報通信技術上の障害等により掲載時期が遅れることもあるため、本ホームページにおける情報開示は、あくまで補助的なものとして位置付けています。<br>また、本ホームページには当社が開示している情報の全てが掲載されていない場合があります。<br>また、他の方法で開示された情報とは異なった、ホームページで理解しやすい形に変換している場合もあります。本ホームページの閲覧にあたりましては、これらを十分にご理解頂いた上でご利用いただきますようお願い致します。</p>
				<h3 class="txtBase__ttl">IR自粛期間について</h3>
				<p class="txtBase__txt">当社では、重要な会社情報の漏洩を防ぎ、公平性を確保するため、原則として、各四半期決算期日の翌日から当該四半期決算発表日までをIR自粛期間としています。この期間中は、原則として、決算に関連する情報の開示、関連するコメントの授受、関連質問への回答などを控えることとしています。なお、すでに公表されている情報に関する問合せについては、この限りではありません。なお、決算発表日等は「IRカレンダー」をご覧下さい。</p>
			</section>
			
			<%- include('../../include/subpages/_irLinkBlk.ejs',); %>
      <!-- /.linkBlk -->
		</div>
		<%- include('../../include/subpages/_irBnrBlk.ejs',); %>
		<!-- /.bnrBlk -->
	</main>
	<%- include('../../include/_footer.ejs'); %>
</body>

</html>