<div class="p-sub__labelArea">
  <ul class="p-sub__labelList">
    <% if(data.label === "all") { %>
    <li class="p-sub__label current">
    <% } else { %>
    <li class="p-sub__label">
    <% } %>
      <a href="<%= data.path %>/activity/">すべて</a>
    </li>
    <% if(data.label === "traffic_safety") { %>
    <li class="p-sub__label current">  
    <% } else { %>
    <li class="p-sub__label">
    <% } %>
      <a href="<%= data.path %>/activity/traffic_safety/">交通安全</a>
    </li>
    <% if(data.label === "traffic_congestion") { %>
    <li class="p-sub__label current">
    <% } else { %>
    <li class="p-sub__label">
    <% } %>
      <a href="<%= data.path %>/activity/traffic_congestion/">渋滞対策</a>
    </li>
    <% if(data.label === "support_for_people") { %>
    <li class="p-sub__label current">
    <% } else { %>
    <li class="p-sub__label">
    <% } %>
      <a href="<%= data.path %>/activity/support_for_people/">移動困難者の支援</a>
    </li>
    <% if(data.label === "energy") { %>
    <li class="p-sub__label current">
    <% } else { %>
    <li class="p-sub__label">
    <% } %>
      <a href="<%= data.path %>/activity/hydrogen_energy/">水素・エネルギー</a>
    </li>
    <% if(data.label === "local_mobility_support") { %>
    <li class="p-sub__label current">
    <% } else { %>
    <li class="p-sub__label">
    <% } %>
      <a href="<%= data.path %>/activity/local_mobility_support/">地域の移動支援</a>
    </li>
    <% if(data.label === "contests") { %>
    <li class="p-sub__label current">
    <% } else { %>
    <li class="p-sub__label">
    <% } %>
      <a href="<%= data.path %>/activity/contests/">コンテスト・公募</a>
    </li>
  </ul>
</div>