extends ../include/template/_template

//- head contents
block head
  - 
    var config = {
      isTop: false,
      title: `SS Report｜SEGA SAMMY HOLDINGS`,
      description: `You can find the content previously delivered as "Business report" here, under the new name "SS (SEGA SAMMY) Report".`,
      pathname: `/ss-report/index.html`,
      dataPage: "ss-report",
      page_link: "../",
      assets_link: "../../../../assets/",
      lang_link: "../../../../"
    }

//- body contents
block pageContent
  body(data-page=config.dataPage)
  
    //- cookiePolicy contents
    include ../include/components/_cookiePolicy
    div.u-app__wrapper#js-app-wrapper

      //- canvas contents
      - 
        var bgColors = {
          main: "background: #BF36A0",
          sub: "background: #CE090F",
          isTop: false
        }
      include ../include/components/_background

      - var mainDustsColor = "#BF36A0";
      - var subDustsColor = "#CE090F";
      include ../include/components/_carouselDusts

      //- header contents
      include ../include/basic/_header

      //- main contents
      div.u-overflow-content#js-fit-content
        main.reduction.fade-in._attach-ssreport(data-page=config.dataPage)

            //- breadcrumb
            -
              var breadclumb = [
                {
                  text: "SS Report",
                  link: `${config.page_link}` + 'ss-report/index.html',
                }
              ]
            include ../include/components/_breadcrumb

            //- contents start ///////////////////////////////////////////////

            div.l-container__page-title.u-lg_pd-tp-150.u-lg_mg-bt-170
              div.c-page-title
                div.c-page-title__text--block
                  div.c-page-title__decoration-bar--top.c-page-title__decoration-bar--height3vw.u-gradation__background--5
                  h2 SS Report
                  div.c-page-title__decoration-bar--under
                  div.c-anchorlink
                    ul.c-anchorlink__list
                        li.c-anchorlink__list--item
                            a(href="#ceo") Business Report from the CEO
                                img(src=`${config.assets_link}` + "images/anchor-list-arrow.svg" alt="")
                        li.c-anchorlink__list--item
                            a(href="#highlight") Results Highlights
                                img(src=`${config.assets_link}` + "images/anchor-list-arrow.svg" alt="")
                        li.c-anchorlink__list--item
                            a(href="#latest-topics") Latest Topics
                                img(src=`${config.assets_link}` + "images/anchor-list-arrow.svg" alt="")
                img.c-page-title__jumbotron.c-page-title__mv05.u-page-img-animation-5(src=`${config.assets_link}` + "images/05_mv.png" alt="")
              span.copy-right ©SEGA ©Sammy
            div.l-container__detail
              div.l-container__detail__inner
                div.p-ssreport__toptext
                  h3#js-issue
                  p#js-range.p-ssreport__range
                  p#js-summary
            div.l-container__detail
                div.l-container__detail__inner
                  div.p-ssreport__box#ceo
                    div.p-ssreport__box--text
                      div.content-bodrer-top.u-gradation__background--5
                      div
                        h3 Business Report from the CEO
                  div.p-ssreport__ceobox
                    div.p-ssreport__ceoimg
                      img(src="" alt="ceo image")#js-ceoimg
                    div.p-ssreport__ceodetail
                      h3#js-shorttitle 
                      p#js-position.p-ssreport__position 
                      p#js-ceoname.p-ssreport__ceoname 
                  p#js-maintext.p-ssreport__ceomaintext
            div.l-container__detail.u-lg_mg-bt-60#highlight
                div.l-container__detail__inner
                  div.p-ssreport__box.u-flexbox.u-lg_mg-bt-60
                    div.p-ssreport__box--text
                      div.content-bodrer-top.u-gradation__background--5
                      div.u-flexbox.u-pc_width-100
                        h3.u-pc_width-256.u-lg_mg-rt-65 Results Highlights

                  div.p-ssreport__chart.u-chart-block.js-scroll-box__to-top
                    p Consolidated Results

                    table.p-ssreport__table.js-table-set-value
                      tr.p-ssreport__table--heads
                        th.u-lg_width-240 (Billion yen)
                        th.u-lg_width-360.u-bg-000
                        th Year on year
                          br.u-is-sp
                      tr.p-ssreport__table--bodies
                        td.first-body Net sales
                        td
                          span.js-scroll-box__to-right--d350
                        td.last-body
                          span.js-scroll-box__to-right--d350
                      tr.p-ssreport__table--bodies
                        td.first-body Operating Income
                        td
                          span.js-scroll-box__to-right--d350
                        td.last-body
                          span.js-scroll-box__to-right--d350
                      tr.p-ssreport__table--bodies
                        td.first-body Ordinary Income
                        td
                          span.js-scroll-box__to-right--d350
                        td.last-body
                          span.js-scroll-box__to-right--d350
                      tr.p-ssreport__table--bodies
                        td.first-body
                          |Profit Attributable to
                          br
                          |Owners of Parent
                        td
                          span.js-scroll-box__to-right--d350
                        td.last-body
                          span.js-scroll-box__to-right--d350

                  div.p-ssreport__hr

                  div.p-ssreport__chart.u-chart-block.js-scroll-box__to-top
                    p Results by Business Segment

                    table.p-ssreport__table.u-sp_mg-bt-40.js-table.js-table-set-value
                      tr.p-ssreport__table--heads(style="background-color: #222")
                        th.u-lg_width-240(colspan="2") (Billion yen)
                        th.u-lg_width-360.u-bg-000
                        th Year on year
                          br.u-is-sp
                      tr.p-ssreport__table--bodies
                        td(rowspan="3").item-head
                          span Net&nbsp;sales
                        td.item-genre(style="background-color: #0082CA; color: #fff") Entertainment
                        td
                          span(style="color: #0082CA").js-scroll-box__to-right--d350
                        td
                          span.js-scroll-box__to-right--d350
                            span
                      tr.p-ssreport__table--bodies
                        td.item-genre(style="background-color: #7EBB41; color: #fff") Pachislot &amp; Pachinko
                        td
                          span(style="color: #7EBB41").js-scroll-box__to-right--d350
                        td
                          span.js-scroll-box__to-right--d350
                            span
                      tr.p-ssreport__table--bodies
                        td.item-genre(style="background-color: #FDAD30; color: #fff") Resort
                        td
                          span(style="color: #FDAD30").js-scroll-box__to-right--d350
                        td
                          span.js-scroll-box__to-right--d350
                            span
                      tr.p-ssreport__table--bodies
                        td(rowspan="3").item-head
                          span Ordinary&nbsp;Income
                        td.item-genre(style="background-color: #0082CA; color: #fff") Entertainment
                        td
                          span(style="color: #0082CA").js-scroll-box__to-right--d350
                        td
                          span.js-scroll-box__to-right--d350
                            span
                      tr.p-ssreport__table--bodies
                        td.item-genre(style="background-color: #7EBB41; color: #fff") Pachislot &amp; Pachinko
                        td
                          span(style="color: #7EBB41").js-scroll-box__to-right--d350
                        td
                          span.js-scroll-box__to-right--d350
                            span
                      tr.p-ssreport__table--bodies
                        td.item-genre(style="background-color: #FDAD30; color: #fff") Resort
                        td
                          span(style="color: #FDAD30").js-scroll-box__to-right--d350
                        td
                          span.js-scroll-box__to-right--d350
                            span
                    div.p-ssreport__business-list
                      div.p-operating__business-list
                        ul
                          li
                            dl
                              dt(style="background-color: #0082CA;") Entertainment
                              dd#js-review-entertainment 
                          li
                            dl
                              dt.u-lg_en-exfs-1(style="background-color: #7EBB41;") Pachislot &amp; Pachinko
                              dd#js-review-pachinko
                          li
                            dl
                              dt(style="background-color: #FDAD30;") Resort
                              dd#js-review-resort

                  div.p-ssreport__add-text#js-addBlock
                    div.p-ssreport__hr.bottom
                    h3#js-addBlock-title
                    p#js-addBlock-text
                    p 
                      a(href="" target="_blank")#js-addBlock-link
                    div.p-ssreport__add-imgwrap#js-addBlock-imgWrap
                      img(src="" alt="Revision of Operating Results Forecast")#js-addBlock-img
                    //- p
                    //-   span(style="font-weight:bold;") [Added on March 14, 2022]
                    //-   br
                    //-   span We have revised the full-year operating results forecast again on February 10, 2022.
                    //-   br
                    //-   a(href="https://www.segasammy.co.jp/english/pdf/release/20220210_forecast_e_final.pdf", target="_blank") Please see "Notice of Revision of Operating Results Forecast" announced on February 10, 2022 for the details from here.

                  div.p-ssreport__more
                    span.p-ssreport__more--text For those who would like to know more details
                    div.p-ssreport__more--btns
                      a(href="https://www.segasammy.co.jp/english/ir/finance/profits/", target="_blank").c-button.c-button__blank Detailed Earnings Information
                      a(href="https://www.segasammy.co.jp/english/ir/library/presentation/presentation.do", target="_blank").c-button.c-button__blank Per Segment Overview
                      a(href="https://www.segasammy.co.jp/english/ir/library/pdf/settlement/2021/202103_4q_presentation_midtermplan_e.pdf", target="_blank").c-button.c-button__blank Medium-term plan
            div.l-container__detail.u-lg_mg-bt-30.ssArchiveAdjust--top#latest-topics
               div.l-container__detail__inner
                 div.p-ssreport__box.u-flexbox
                    div.p-ssreport__box--text
                      div.content-bodrer-top.u-gradation__background--5
                      div.u-flexbox.u-pc_width-100
                        h3.u-pc_width-256.u-lg_mg-rt-65 Latest Topics
                 div#js-briefing-article-container.p-ssreport__latest
            
            div.l-container__detail.ssArchiveAdjust--bottom
               div.l-container__detail__inner
                 div
                  a(href=`${config.page_link}` + "ss-report/archive.html").c-button__report.c-button__blank.u-lg_mg-center
                    img.read-icon(src=`${config.assets_link}` + "images/more-read.svg" alt="")
                    | See archives of the SS Report
                    img.arrow-icon(src=`${config.assets_link}` + "images/more-read-arrow.svg" alt="")
                 
                 div.p-report__more.ssreport-bottom
                    span.p-report__more--text
                      |Business Reports in and before FY2021/3 
                      br
                      |can be seen from here.
                    a(href="https://www.segasammy.co.jp/english/ir/library/stockholder/", target="_blank").c-button.c-button__blank.u-lg_mg-center See Business Reports

            - 
              var navigatorObject = {
                text: "Interviews",
                rootClass: "c-navigator__06",
                imgPath: `${config.assets_link}` + "images/06_mv.png",
                alt: "Arle",
                link: `${config.page_link}` + "interviews/index.html",
                textClass: "c-navigator__text--06"
              }

            include ../include/components/_navigator
            span.copy-right ©SEGA

            //- contents end /////////////////////////////////////////////////
        
        //- footer contents
        include ../include/basic/_footer

      //- script
      include ../include/basic/_script
