<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WN8LDW9');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% if(data.isTop) { %>
  <title><%= data.title %>｜兵庫大学 教育学部 教育学科</title>
  <% } else { %>
  <title><%= data.title %>｜「せんせい、チャンス!?」×パントビスコさんタイアップ｜兵庫大学 教育学部 教育学科</title>
  <% } %>
  <meta name="description" content="<%= data.description %>">
  <meta name="Keywords" content="教育学部,教育,教員,保育士,幼稚園教諭,小学校教諭,せんせい,チャンス,パントビスコ,pantovisco,兵庫大学" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <% if(data.isTop) { %>
  <meta property="og:url" content="https://www.hyogo-dai.ac.jp/education/chance/">
  <% } else { %>
  <meta property="og:url" content="https://www.hyogo-dai.ac.jp/education/chance/<%= data.slug %>/">
  <% } %>
  <meta property="og:type" content="article">
  <% if(data.isTop) { %>
  <meta property="og:title" content="<%= data.title %>｜兵庫大学 教育学部 教育学科">
  <% } else { %>
  <meta property="og:title" content="<%= data.title %>｜「せんせい、チャンス!?」×パントビスコさんタイアップ｜兵庫大学 教育学部 教育学科">
  <% } %>
  <meta property="og:description" content="<%= data.description %>">
  <meta property="og:site_name" content="兵庫大学・兵庫大学短期大学部 － 学校法人睦学園">
  <meta property="og:image" content="https://www.hyogo-dai.ac.jp/education/chance/images/common/og_img.png">
  <% if(data.isTop) { %>
  <meta name="twitter:title" content="<%= data.title %>｜兵庫大学 教育学部 教育学科">
  <% } else { %>
  <meta name="twitter:title" content="<%= data.title %>｜「せんせい、チャンス!?」×パントビスコさんタイアップ｜兵庫大学 教育学部 教育学科">
  <% } %>
  <meta name="twitter:description" content="<%= data.description %>">
  <meta name="twitter:image" content="https://www.hyogo-dai.ac.jp/education/chance/images/common/og_img.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="<%= data.path %>css/style.css">
</head>